<head>
    <%- include('../components/head') %>
      <!-- Vector CSS -->
      <link href="../../../assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
      <!-- simplebar CSS-->
      <link href="../../../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
      <!-- Bootstrap core CSS-->
      <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
      <!-- animate CSS-->
      <link href="../../../assets/css/animate.css" rel="stylesheet" type="text/css"/>
      <!-- Icons CSS-->
      <link href="../../../assets/css/icons.css" rel="stylesheet" type="text/css"/>
      <!-- Sidebar CSS-->
      <link href="../../../assets/css/sidebar-menu.css" rel="stylesheet"/>
      <!-- Custom Style-->
      <link href="../../../assets/css/app-style.css" rel="stylesheet"/>
  </head>
      <body>
        <!-- Start wrapper-->
   <div id="wrapper">
    <%- include('../components/sidebar') %>
    <%- include('../components/topnav') %>
    <div class="clearfix"></div>
      
    <div class="content-wrapper">
      <div class="container-fluid">
        <% if (settings.api.client.coins.store.enabled == true) { %>
        <!---- ALERTS ----->
      <%- include('../components/alert') %>
           <div class="card">
             <div class="card-body">
             <div class="card-title">Welcome to BlackMart, Where you can sell your resources.</div>
           </div>
           </div>
        <%- include('../components/resources') %>
        <body className='snippet-body' style="font-size: poppins; background-color: #1b1c1d;" background="<%= settings.background %>"; background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;>
  
          <div class="row mt-3">
            <div class="col-lg-6">
              <div class="card alert">
                <div class="card-body">
                 <div class="card-action">
                   <div class="dropdown">
                     <button aria-hidden="true" class="close" type="button">&times;</button>
                    </div>
                   </div>
                 <div class="card-title">Sell CPU</div>
                 <hr>
                  <div class="form-group">
                   <label for="input-6"><%= settings.api.client.coins.store.cpu.per %>% CPU - <%= settings.api.client.coins.store.cpu.cost %> coins</label>
                   <input type="number" id="cpuAmount" name="id" class="form-control form-control-rounded" placeholder="CPU TO SELL IN '%'">
                  </div>
                  <div class="form-group">
                   <button onclick="sellCPU()" role="button" class="btn btn-light btn-round px-5"><i class="bi bi-coin"></i> Sell CPU</button>
                 </div>
               </div>
               </div>
            </div>
      
            <div class="col-lg-6">
              <div class="card alert">
                <div class="card-body">
                 <div class="card-action">
                   <div class="dropdown">
                     <button aria-hidden="true" class="close" type="button">&times;</button>
                    </div>
                   </div>
                 <div class="card-title">Sell RAM</div>
                 <hr>
                  <div class="form-group">
                   <label for="input-6"><%= settings.api.client.coins.store.ram.per %>MB RAM - <%= settings.api.client.coins.store.ram.cost %> coins</label>
                   <input type="number" id="ramAmount" class="form-control form-control-rounded" placeholder="RAM TO SELL IN MB">
                  </div>
                  <div class="form-group">
                   <button onclick="sellRAM()" role="button" class="btn btn-light btn-round px-5"><i class="bi bi-coin"></i> Sell RAM</button>
                 </div>
               </div>
               </div>
            </div>
          </div>
      
          <div class="row mt-3">
            <div class="col-lg-6">
              <div class="card alert">
                <div class="card-body">
                 <div class="card-action">
                   <div class="dropdown">
                     <button aria-hidden="true" class="close" type="button">&times;</button>
                    </div>
                   </div>
                 <div class="card-title">Sell DISK</div>
                 <hr>
                  <div class="form-group">
                   <label for="input-6"><%= settings.api.client.coins.store.disk.per %>MB Disk - <%= settings.api.client.coins.store.disk.cost %> coins</label>
                   <input type="number" id="diskAmount" class="form-control form-control-rounded" placeholder="DISK TO SELL IN MB">
                  </div>
                  <div class="form-group">
                   <a onclick="sellDisk()" class="btn btn-light btn-round px-5"><i class="bi bi-coin"></i> sell disk</a>
                 </div>
               </div>
               </div>
            </div>
      
            <div class="col-lg-6">
              <div class="card alert">
                <div class="card-body">
                 <div class="card-action">
                   <div class="dropdown">
                     <button aria-hidden="true" class="close" type="button">&times;</button>
                    </div>
                   </div>
                 <div class="card-title">Sell SLOTS</div>
                 <hr>
                  <div class="form-group">
                   <label for="input-6"><%= settings.api.client.coins.store.servers.per %> slot - <%= settings.api.client.coins.store.servers.cost %> coins</label>
                   <input type="number" id="serversAmount" class="form-control form-control-rounded" placeholder="SERVER SLOTS TO SELL">
                  </div>
                  <div class="form-group">
                   <a onclick="sellServers()" class="btn btn-light btn-round px-5"><i class="bi bi-coin"></i> sell slots</a>
                 </div>
               </div>
               </div>
            </div>
          </div>
  
          <div class="row mt-3">
            <div class="col-lg-6">
              <div class="card alert">
                <div class="card-body">
                 <div class="card-action">
                   <div class="dropdown">
                     <button aria-hidden="true" class="close" type="button">&times;</button>
                    </div>
                   </div>
                 <div class="card-title">Sell Backups</div>
                 <hr>
                  <div class="form-group">
                   <label for="input-6"><%= settings.api.client.coins.store.backups.per %> Backups - <%= settings.api.client.coins.store.backups.cost %> coins</label>
                   <input type="number" id="backupsAmount" class="form-control form-control-rounded" placeholder="BACKUPS TO SELL">
                  </div>
                  <div class="form-group">
                   <a onclick="sellBackups()" class="btn btn-light btn-round px-5"><i class="bi bi-coin"></i> sell backups</a>
                 </div>
               </div>
               </div>
            </div>
      
            <div class="col-lg-6">
              <div class="card alert">
                <div class="card-body">
                 <div class="card-action">
                   <div class="dropdown">
                     <button aria-hidden="true" class="close" type="button">&times;</button>
                    </div>
                   </div>
                 <div class="card-title">Sell Databases</div>
                 <hr>
                  <div class="form-group">
                   <label for="input-6"><%= settings.api.client.coins.store.databases.per %> Databases - <%= settings.api.client.coins.store.databases.cost %> coins</label>
                   <input type="number" id="databasesAmount" class="form-control form-control-rounded" placeholder="DATABASES TO SELL">
                  </div>
                  <div class="form-group">
                   <a onclick="sellDatabases()" class="btn btn-light btn-round px-5"><i class="bi bi-coin"></i> sell databases</a>
                 </div>
               </div>
               </div>
            </div>
          </div>
  
          <div class="row mt-3">
            <div class="col-lg-6">
              <div class="card alert">
                <div class="card-body">
                 <div class="card-action">
                   <div class="dropdown">
                     <button aria-hidden="true" class="close" type="button">&times;</button>
                    </div>
                   </div>
                 <div class="card-title">Sell Allocations</div>
                 <hr>
                  <div class="form-group">
                   <label for="input-6"><%= settings.api.client.coins.store.allocations.per %> Allocations - <%= settings.api.client.coins.store.allocations.cost %> coins</label>
                   <input type="number" id="allocationsAmount" class="form-control form-control-rounded" placeholder="ALLOCATIONS TO SELL">
                  </div>
                  <div class="form-group">
                   <a onclick="sellallocations()" class="btn btn-light btn-round px-5"><i class="bi bi-coin"></i> sell allocations</a>
                 </div>
               </div>
               </div>
            </div>
            </div>
            <%- include('../components/footer') %>
  
    </body>
    <script>
      async function sellCPU() {
      let cpu = encodeURIComponent(document.getElementById("cpuAmount").value) / 10;
      document.location.href = `/sellcpu?amount=${cpu}`;
      };
      
      async function sellRAM() {
      let ram = encodeURIComponent(document.getElementById("ramAmount").value) / 1024;
      document.location.href = `/sellram?amount=${ram}`;
      };
      
      async function sellDisk() {
      let disk = encodeURIComponent(document.getElementById("diskAmount").value) / 1024;
      document.location.href = `/selldisk?amount=${disk}`;
      };
      
      async function sellServers() {
      let servers = encodeURIComponent(document.getElementById("serversAmount").value);
      document.location.href = `/sellservers?amount=${servers}`;
      };
  
      async function sellBackups() {
      let backups = encodeURIComponent(document.getElementById("backupsAmount").value);
      document.location.href = `/sellbackups?amount=${backups}`;
      };
  
      async function sellDatabases() {
      let databases = encodeURIComponent(document.getElementById("databasesAmount").value);
      document.location.href = `/selldatabases?amount=${databases}`;
      };
  
      async function sellallocations() {
      let allocations = encodeURIComponent(document.getElementById("allocationsAmount").value);
      document.location.href = `/sellallocations?amount=${allocations}`;
      };
  
      async function sellCoins() {
      let coins = encodeURIComponent(document.getElementById("coinsAmount").value);
      document.location.href = `?err=STRIPEDOWN`;
      };
      </script>
      <% } else { %>
        <script>
      window.location.href = '/dashboard';
        </script>
      </div>
      </div>
   </div>
        <% } %>
        <!--start overlay-->
      <div class="overlay toggle-menu"></div>
          <!--end overlay-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
      <!-- Bootstrap core JavaScript-->
      <script src="../../../assets/js/jquery.min.js"></script>
      <script src="../../../assets/js/popper.min.js"></script>
      <script src="../../../assets/js/bootstrap.min.js"></script>
      
     <!-- simplebar js -->
      <script src="../../../assets/plugins/simplebar/js/simplebar.js"></script>
      <!-- sidebar-menu js -->
      <script src="../../../assets/js/sidebar-menu.js"></script>
      <!-- Custom scripts -->
      <script src="../../../assets/js/app-script.js"></script>