<%- include('../partials/head') %>
<%- include('../partials/css') %>
<%- include('../partials/alert') %>
<%- include('../scripts/wrapper') %>
<%- include('../partials/sidebar') %>
<%- include('../partials/topnav') %>
<%- include('../scripts/alerts') %>

      <div class="card alert">
        <div class="card-body">
          <div class="card-action">
            <div class="dropdown">
              <button aria-hidden="true" class="close" type="button">&times;</button>
            </div>
          </div>
          <div class="card-title text-center">Pterodactyl</div>
          <hr>
          <div class="row">
            <div class="card-body">
                <div class="row mt-3">
                    <div class="col-lg-6">
                      <div class="card alert">
                        <div class="card-body">
                          <div class="card">
                            <div class="card-body">
                              <% if (pterodactyl.relationships.servers.data.length==0) { %>
                                <h5 class="card-title">You do not own any servers!</h5>
                                <% } else { %>
                              <h5 class="card-title">Your Servers</h5>
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Name</th>
                                      <th scope="col">Support</th>
                                      <th scope="col">Location</th>
                                      <th scope="col">Memory</th>
                                      <th scope="col">Storage</th>
                                      <th scope="col">CPU</th>
                                      <th scope="col">Modify</th>
                                      <% if (settings.allow.renewals.status == true) { %>
                                      <th scope="col">Renew</th>
                                      <% } %>
                                      <th scope="col">Delete</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>
                                    <tr style="cursor: pointer;" onclick="location.href='/pterodactyl/servers?id=<%= pterodactyl.relationships.servers.data[i].attributes.identifier %>'">
                                      <th scope="row"><%= pterodactyl.relationships.servers.data[i].attributes.id %></th>
                                      <td><%= pterodactyl.relationships.servers.data[i].attributes.name %></td>
                                      <td><%= pterodactyl.relationships.servers.data[i].attributes.identifier %></td>
                                      <td><%= pterodactyl.relationships.servers.data[i].attributes.container.environment.P_SERVER_LOCATION %></td>
                                      <td><%= pterodactyl.relationships.servers.data[i].attributes.limits.memory %></td>
                                      <td><%= pterodactyl.relationships.servers.data[i].attributes.limits.disk %></td>
                                      <td><%= pterodactyl.relationships.servers.data[i].attributes.limits.cpu %></td>
                                      <td><a class="dropdown-item" href="/pterodactyl/servers/edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">
                                        <i class="bi bi-pencil-fill"></i> Edit
                                      </a></td>
                                      <td><% if (settings.allow.renewals.status == true) { %>
                                        <a class="dropdown-item" href="/pterodactyl/servers/renew/<%= pterodactyl.relationships.servers.data[i].attributes.id %>">
                                          <i class="bi bi-arrow-repeat"></i> Renew
                                        </a>
                                        <% } %></td>
                                      <td><a class="dropdown-item" onclick="confirmDelete(<%= pterodactyl.relationships.servers.data[i].attributes.id %>)">
                                        <i class="bi bi-trash3"></i> Delete
                                      </a></td>
                                    </tr>
                                    <% } %>
                                    <script>
                                      function confirmDelete(serverId) {
                                        Swal.fire({
                                          title: 'Confirm Deletion',
                                          text: 'Please confirm if you want to delete this server. The data cannot be retrieved after it has been deleted.',
                                          icon: 'warning',
                                          showCancelButton: true,
                                          confirmButtonText: 'Yes, delete it!',
                                          cancelButtonText: 'No, cancel',
                                        }).then((result) => {
                                          if (result.isConfirmed) {
                                            window.location.href = '/api/pterodactyl/servers/delete/' + serverId;
                                          }
                                        });
                                      }
                                    </script>
                                  </tbody>
                                </table>
                              </div>
                              <% } %>
                            </div>
                          </div>
                          <div class="form-group">
                            <button role="button" onclick="location.href='../pterodactyl/create'" style="width: 100%;" class="btn btn-light btn-round">Create new server</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="card alert">
                        <div class="card-body">
                          <div class="card-action">
                            <div class="dropdown">
                              <button aria-hidden="true" class="close" type="button">&times;</button>
                            </div>
                          </div>
                          <div class="card-title">Account Info</div>
                          <hr>
                          <form>
                            <div class="form-group">
                              <label>Username [Click to copy]</label>
                              <input onclick="copyToClipboard('usernameInput')" id="usernameInput" class="form-control form-control-rounded" value="<%= userinfo.username %>" type="text" readonly>
                            </div>
                            <div class="form-group">
                              <label>Password [Click to copy]</label>
                              <div class="input-group">
                                <input onclick="copyToClipboard('password')" id="password" class="form-control form-control-rounded" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;" value="<%= req.session.password %>" type="password" readonly>
                                <div class="input-group-append">
                                  <button class="form-control form-control-rounded" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;" type="button" id="togglePassword">
                                    <i class="fa fa-eye" id="toggleIcon"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>

<%- include('../partials/footer') %>
<%- include('../partials/js') %>