<!DOCTYPE html>
<html>

<head>
  <!-- Normal Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= settings.website.description %> | Powered by HolaClient.">
  <meta name="keywords" content="HClient, HolaClient, Hosting, HolaLLC">
  <meta name="author" content="HolaLLC">
  <meta name="copyright" content="HolaLLC">
  <!-- Facebook Meta Tags -->
  <meta property="og:type" content="dashboard">
  <meta property="og:title" content="<%= settings.name %>">
  <meta property="og:description" content="<%= settings.website.description %> | Powered by HolaClient.">
  <meta property="og:image" content="<%= settings.logo.url %>">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="<%= settings.logo.url %>">
  <meta name="twitter:title" content="<%= settings.name %>">
  <meta name="twitter:description" content="<%= settings.website.description %> | Powered by HolaClient.">
  <meta name="twitter:image" content="<%= settings.logo.url %>">
  <meta name="twitter:image:src" content="<%= settings.logo.url %>">
  <meta property="og:image" content="<%= settings.logo.url %>">
  <meta name="twitter:title" content="<%= settings.name %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <!-- End Meta Tags -->
  <link rel="shortcut icon" href="<%= settings.logo.url %>" type="image/x-icon">
  <title>
    <%= settings.name %>
  </title>
  <link rel="icon" type="image/png" href="<%= settings.logo.url %>">
  <% if (settings.ads.adsense.enabled==true) { %>
    <script async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-<%= settings.ads.adsense.clientid %>"
      crossorigin="anonymous"></script>
    <% } %>
      <script src="https://kit.fontawesome.com/cf4342c927.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="https://cdn.tailwindcss.com"></script>
      <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
      <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Urbanist&display=swap');

        body {
          font-family: 'urbanist'
        }

        .font-nunito {
          font-family: 'nunito'
        }

        div.close {
          transition: 1000ms;
          padding: 0;
          cursor: pointer;
          background: 0;
          opacity: 0;
          height: 0;
        }

        div.open {
          transition: 700ms;
          transform-origin: 0%;
          margin-bottom: 64px;
          opacity: 1;
          height: auto;
          visibility: visible;
        }

        .idktbh {
          background-color: #141313;
        }

        @keyframes tilt {

          0%,
          50%,
          100% {
            transform: rotate(0deg);
          }

          25% {
            transform: rotate(0.5deg);
          }

          75% {
            transform: rotate(-0.5deg);
          }
        }

        .tilt {
          animation: tilt 10s infinite linear;
        }

        @keyframes blob {
          0% {
            transform: translate(0px, 0px) scale(2);
          }

          33% {
            transform: translate(30px, -50px) scale(0);
          }

          66% {
            transform: translate(-20px, 20px) scale(0);
          }

          100% {
            transform: translate(0px, 0px) scale(2);
          }
        }

        .animation-blob {
          animation: blob 6s infinite;
        }

        .animation-delay-2000 {
          animation-delay: 2s;
        }

        .animation-delay-4000 {
          animation-delay: 4s;
        }

        .animation-delay-6000 {
          animation-delay: 6s;
        }

        .blinking-cursor {
          user-select: none;
          animation: blink 1s steps(2, start) infinite;
        }

        @keyframes blink {
          to {
            visibility: hidden;
          }
        }

        .animate-gradient {
          -webkit-text-fill-color: transparent;
          background: linear-gradient(270deg, #ff7356, #ff59e2 25.52%, #52ddf6 50%, #eadf4e 76.04%, #ff7356);
          -webkit-background-clip: text;
          background-clip: text;
          background-size: 200% auto;
          animation: gradient 6s linear infinite;
        }

        @keyframes gradient {
          0% {
            background-position: 100% 0;
          }

          100% {
            background-position: -100% 0;
          }
        }

        ::selection {
          background: rgba(255, 255, 255, .2)
        }

        ::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }

        ::-webkit-scrollbar-thumb {
          background-color: rgba(156, 163, 175);
          border-radius: 3px;
        }

        ::-webkit-scrollbar-track {
          background-color: transparent;
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: inherit;
          background-size: cover;
          z-index: 0;
        }

        progress {
          vertical-align: baseline
        }

        .progress {
          border-radius: 9999px;
          display: flex;
          overflow: hidden;
          position: relative;
          width: 100%
        }

        .progress .is-indeterminate {
          animation: progress-increase 3s cubic-bezier(.4, 0, .2, 1) infinite
        }

        .progress .is-active:before {
          --tw-content: "";
          animation: progress-active 3s cubic-bezier(.55, .2, .3, .67) infinite;
          background-color: #fff;
          border-radius: .25rem;
          content: var(--tw-content);
          inset: 0;
          position: absolute
        }

        @keyframes progress-increase {
          0% {
            left: -5%;
            width: 5%
          }

          to {
            left: 125%;
            width: 100%
          }
        }

        @keyframes progress-active {
          0% {
            opacity: .6;
            transform: translateX(-100%)
          }

          to {
            opacity: 0;
            transform: translateX(0)
          }
        }
      </style>
</head>

<body class="bg-zinc-950">
  <div class="antialiased">
    <nav class="px-4 py-2.5 fixed left-0 right-0 top-0 z-30">
      <div class="flex flex-wrap justify-end items-center">
        <div class="flex items-center lg:order-2">
          <button type="button" class="flex mx-3 text-sm rounded-full items-center text-white" id="user-menu-button"
            aria-expanded="false" data-dropdown-toggle="dropdown">
            <%= userinfo.name %>
            <img class="w-8 h-8 ml-3 rounded-full"
              src="<%= userinfo.profile %>">
          </button>
          <!-- Dropdown menu -->
          <div
            class="hidden z-50 my-4 w-56 text-base list-none rounded-lg divide-y shadow bg-zinc-900 divide-zinc-700/50"
            id="dropdown">
            <div class="py-3 px-4">
              <span class="block text-sm font-semibold text-gray-900 dark:text-white"><%= userinfo.username %></span>
              <span class="block text-sm text-gray-900 truncate dark:text-white"><%= userinfo.email %></span>
            </div>
            <ul class="py-1 text-slate-200" aria-labelledby="dropdown">
              <li>
                <a href="/logout" class="block py-2 px-4 text-sm hover:text-rose-600">Sign
                  out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>


    <main class="p-4 mx-12 h-full z-50 pt-6">
      <section>
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 w-full mt-8">
          <div class="flex flex-col lg:col-span-4 gap-3 w-full">
            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 w-full">
              <div class="relative group col-span-3">
                <div
                  class="absolute -inset-0.5 rounded-lg opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 blur-xs p-4 bg-gradient-to-t from-red-900 to-rose-500">
                </div>
                <div class="relative bg-zinc-900 rounded-lg p-4">
                  <div class="max-w-5xl">
                    <div class="lg:-mt-16 -mt-10 mb-2 flex items-end space-x-2">
                      <div class="flex relative">
                        <div
                          class="absolute -inset-0.5 rounded-full opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 blur-xs p-4 bg-gradient-to-t from-transparent via-transparent to-rose-500">
                        </div>
                        <img class="rounded-full relative h-12"
                          src="https://cdn.discordapp.com/avatars/863452735998656512/b4fdef28f115f7c0b05f2f2ae3325012">
                      </div>
                      <div class="mt-6">
                        <div class="lg:mt-7 mt-1 min-w-0 flex-1">
                          <h1 class="truncate font-bold text-white">CR072</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 class="text-white">Howdy <%= userinfo.username %>, Welcome to <%= settings.name %>'s onboarding. Get started by
                    filling
                    in some of your details.</h1>
                </div>
              </div>
              <div class="flex flex-col bg-zinc-900 text-white border border-zinc-700 p-3 rounded-lg">
                <span class="font-semibold">About</span>
                <span><span class="text-emerald-500">● </span> <%= users.length %> Active</span>
              </div>
            </div>
            <h1 class="text-white font-semibold text-2xl">Integrations</h1>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 rounded-lg text-gray-200 w-full col-span-2">

              <div class="relative group">
                <div
                  class="absolute group-hover:opacity-100 opacity-100 group-hover:blur-sm -inset-0.5 rounded-lg transition duration-500 group-hover:duration-200 blur-xs p-4 bg-gradient-to-r from-pink-600 to-purple-600">
                </div>
                <div class="relative bg-zinc-900 cursor-pointer w-full border border-zinc-700 rounded-lg p-4">
                  <div class="flex h-20 items-center justify-between space-x-1">
                    <img src="https://cdn.pterodactyl.io/logos/new/pterodactyl_logo_transparent.png">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="flex h-full flex-wrap mt-4 content-start">
          <div class="mb-4 grid w-full grid-cols-12 gap-4">
            <div class="col-span-12 flex flex-col gap-4 xl:col-span-6">
              <h1 class="text-white font-semibold text-2xl">Account</h1>
              <div class="flex flex-col p-4 bg-zinc-900/50 border border-zinc-700 text-white rounded-xl" <div
                class="grow px-4 pb-4">
                <div class="grid grid-cols-12 gap-4">
                  <div class="col-span-12 lg:col-span-6">
                    <label class="mb-2 inline-block w-full cursor-pointer text-sm" for="firstName">First Name<span class="text-rose-500 text-lg">*</span></label>
                    <input id="first"
                      class="w-full appearance-none outline-0 text-white transition-all duration-300 ease-in-out border-2 border-zinc-800 bg-zinc-800 hover:border-blue-500 focus:border-zinc-800 px-1.5 py-1.5 text-base rounded-lg"
                      type="text">
                  </div>
                  <div class="col-span-12 lg:col-span-6">
                    <label class="mb-2 inline-block w-full cursor-pointer text-sm" for="lastName">
                      Last Name<span class="text-transparent text-lg">*</span></label>
                    <input id="last"
                      class="w-full appearance-none outline-0 text-white transition-all duration-300 ease-in-out border-2 border-zinc-800 bg-zinc-800 hover:border-blue-500 focus:border-zinc-800 px-1.5 py-1.5 text-base rounded-lg"
                      type="text">
                  </div>
                  <div class="col-span-12 lg:col-span-6">
                    <label class="mb-2 inline-block w-full cursor-pointer text-sm" for="language">Language<span class="text-rose-500 text-lg">*</span></label>
                    <select id="language"
                      class="w-full appearance-none outline-0 text-white transition-all duration-300 ease-in-out border-2 border-zinc-800 bg-zinc-800 hover:border-blue-500 focus:border-zinc-800 px-1.5 py-1.5 text-base rounded-lg"
                      name="role">
                      <option hidden="">Select language</option>
                      <% for (let i = 0, len = languages.length; i < len; i++) { %>
                      <option value="<%= languages[i].code %>"><%= languages[i].name %></option>
                        <% } %>
                    </select>
                  </div>
                  <div class="col-span-12 lg:col-span-6">
                    <label class="mb-2 inline-block w-full cursor-pointer text-sm" for="lastName">
                      Nickname<span class="text-rose-500 text-lg">*</span> </label>
                    <input id="nickname"
                      class="w-full appearance-none outline-0 text-white transition-all duration-300 ease-in-out border-2 border-zinc-800 bg-zinc-800 hover:border-blue-500 focus:border-zinc-800 px-1.5 py-1.5 text-base rounded-lg"
                      type="text">
                  </div>
                </div>
              </div>
              <div class="flex flex-col p-4 bg-zinc-900 border border-zinc-700 text-white rounded-xl" <div
                class="grow px-4 pb-4">
                <div class="grid grid-cols-12 gap-4">
                  <pre class="text-md">Confirming process will create an account for you on
[1] HolaClient
[2] Pterodactyl
Creation won't take longer than a minute due to queue system.</pre>
                </div>
              </div>
            </div>
            <div class="col-span-12 flex flex-col gap-4 xl:col-span-6">
              <h1 class="text-white font-semibold text-2xl">Preferences</h1>
              <div class="space-y-4 rounded-lg w-full">
                <div class="flex flex-col bg-zinc-900/50 border border-zinc-700 text-white rounded-xl">
                  <div class="grow">
                    <div class="flex flex-wrap divide-y divide-dashed divide-zinc-500/50 p-4">
                      <div class="flex pb-2 basis-full gap-4">
                        <div class="flex grow items-center">
                          <label class="inline-block w-full cursor-pointer text-sm">
                            <div class="text-xl">Newsletter</div>
                          </label></div>
                        <div class="flex flex-shrink-0 items-center">
                          <div class="items-center py-1.5 flex"><input type="checkbox" id="newsletter"
                              class="cursor-pointer appearance-none border-2 transition-all duration-300 ease-in-out rounded-full border-zinc-800 hover:border-blue-500 bg-left bg-no-repeat bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBvcGFjaXR5PSIuMjUiLz48L3N2Zz4=&quot;)] dark:bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBmaWxsPSIjZmZmIiBvcGFjaXR5PSIuMjUiLz48L3N2Zz4=&quot;)] checked:bg-blue-500 checked:bg-right checked:!bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBmaWxsPSIjZmZmIi8+PC9zdmc+&quot;)] w-12 h-7 me-1.5">
                          </div>
                        </div>
                      </div>
                      <div class="flex py-2 basis-full gap-4">
                        <div class="flex grow items-center">
                          <label class="inline-block w-full cursor-pointer text-sm">
                            <div class="text-xl">Promotional emails</div>
                          </label></div>
                        <div class="flex flex-shrink-0 items-center">
                          <div class="items-center py-1.5 flex"><input type="checkbox" id="promotions"
                              class="cursor-pointer appearance-none border-2 transition-all duration-300 ease-in-out rounded-full border-zinc-800 hover:border-blue-500 bg-left bg-no-repeat bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBvcGFjaXR5PSIuMjUiLz48L3N2Zz4=&quot;)] dark:bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBmaWxsPSIjZmZmIiBvcGFjaXR5PSIuMjUiLz48L3N2Zz4=&quot;)] checked:bg-blue-500 checked:bg-right checked:!bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBmaWxsPSIjZmZmIi8+PC9zdmc+&quot;)] w-12 h-7 me-1.5">
                          </div>
                        </div>
                      </div>
                      <div class="flex py-2 basis-full gap-4">
                        <div class="flex grow items-center">
                          <label class="inline-block w-full cursor-pointer text-sm">
                            <div class="text-xl">Product updates</div>
                          </label></div>
                        <div class="flex flex-shrink-0 items-center">
                          <div class="items-center py-1.5 flex"><input type="checkbox" id="updates"
                              class="cursor-pointer appearance-none border-2 transition-all duration-300 ease-in-out rounded-full border-zinc-800 hover:border-blue-500 bg-left bg-no-repeat bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBvcGFjaXR5PSIuMjUiLz48L3N2Zz4=&quot;)] dark:bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBmaWxsPSIjZmZmIiBvcGFjaXR5PSIuMjUiLz48L3N2Zz4=&quot;)] checked:bg-blue-500 checked:bg-right checked:!bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBmaWxsPSIjZmZmIi8+PC9zdmc+&quot;)] w-12 h-7 me-1.5">
                          </div>
                        </div>
                      </div>
                      <div class="flex pt-2 basis-full gap-4">
                        <div class="flex grow items-center"><label class="inline-block w-full cursor-pointer text-sm">
                            <div class="text-xl">Terms & Conditions</div>
                          </label></div>
                        <div class="flex flex-shrink-0 items-center">
                          <div class="items-center py-1.5 flex"><input type="checkbox" checked disabled
                              class="cursor-pointer opacity-40 appearance-none border-2 transition-all duration-300 ease-in-out rounded-full border-zinc-800 hover:border-blue-500 bg-left bg-no-repeat bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBvcGFjaXR5PSIuMjUiLz48L3N2Zz4=&quot;)] dark:bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBmaWxsPSIjZmZmIiBvcGFjaXR5PSIuMjUiLz48L3N2Zz4=&quot;)] checked:bg-blue-500 checked:bg-right checked:!bg-[url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSIzIiBmaWxsPSIjZmZmIi8+PC9zdmc+&quot;)] w-12 h-7 me-1.5">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-row p-4 bg-zinc-900/50 border border-zinc-700 text-white rounded-xl">
                  <div class="flex items-center justify-between w-full gap-4">
                    <span class="text-green-500 flex gap-1 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                      Finished?
                    </span>
                    <button onclick="submit()" class="bg-emerald-500 hover:bg-emerald-600 animation duration-200 rounded-lg p-2">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
<script>
  async function submit() {
    const nickname = document.getElementById("nickname").value;
    const language = document.getElementById("language").value ?? "en"
    const first = document.getElementById("first").value;
    const last = document.getElementById("last").value ?? ""

    try {
      const response = await fetch(`/api/onboarding/submit?nickname=${nickname}&language=${language}&first=${first}&last=${last}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json"
        },
      });
      const xD = await response.json()
      if (xD.success == true) {
        window.location.href = "/onboarding/finalize";
      } else {
        alert(xD.message);
      }
    } catch (error) {
      console.error("An error occurred while completing onboarding:", error);
      alert("An error occurred while completing onboarding. Please try again later.");
    }
  };
</script>

</html>