<head>
    <%- include('./parts/header') %>
      <!-- Vector CSS -->
      <link href="../../../assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
      <!-- simplebar CSS-->
      <link href="../../../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
      <!-- Bootstrap core CSS-->
      <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
      <!-- animate CSS-->
      <link href="../../../assets/css/animate.css" rel="stylesheet" type="text/css"/>
      <!-- Icons CSS-->
      <link href="../../../assets/css/icons.css" rel="stylesheet" type="text/css"/>
      <!-- Sidebar CSS-->
      <link href="../../../assets/css/sidebar-menu.css" rel="stylesheet"/>
      <!-- Custom Style-->
      <link href="../../../assets/css/app-style.css" rel="stylesheet"/>
  </head>
  <style>
    body {
      background-image: url('<%= settings.background %>');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>
      <body>
        <!-- Start wrapper-->
   <div id="wrapper">
    <%- include('./parts/menu') %>
    <%- include('./parts/topnav') %>
    <div class="clearfix"></div>
      
    <div class="content-wrapper">
      <div class="container-fluid">
        <!---- ALERTS ----->
      <%- include('./parts/alert') %>
      <br>
              <% if (req.query.err == "MISSINGID") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>Please fill in the correct Discord user ID</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } else if (req.query.err == "CREATECOUPONINVALIDCHARACTERS") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>Invalid characters has been found in your coupon code, please change it!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } else if (req.query.err == "REVOKECOUPONCANNOTFINDCODE") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>Couldn't find that coupon in our database!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } else if (req.query.err == "MISSINGVARIABLES") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_success">
                  <strong>No value has been given, coupon creation failed!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } %>
              <% if (req.query.err == "CREATECOUPONEMPTY") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> <strong>Please specify at least one field to create a coupon with!</strong> </div>
                  </div>
                  </div>
              <% } else if (req.query.err === "CREATECOUPONLESSTHANONE") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>We don't support coupon creation with resources less than 1!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } if (req.query.err === 'INVALIDID') { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>Make sure this user is signedup on this Dashboard or check if the ID belongs to a valid person!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } if (req.query.err === 'none') { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_success">
                  <strong>Successful!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } if (req.query.err == "RAMSIZE" || req.query.err == "DISKSIZE" || req.query.err == "CPUSIZE" || req.query.err == "SERVERSIZE") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>We don't support coupon creation with resources less than 1!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } if (req.query.code) { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_success">
                  <strong>Successfully created the coupon "<%= req.query.code %>"</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
               <% } if (req.query.err === 'NOIP') { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>User IP not stored in database!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
               <% } if (req.query.err === 'REMOVEACCOUNT') { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_success">
                  <strong>User has been successfully deleted from the database.</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
          <% } %>
    
          <div style="border-radius: 15px;" class="table-responsive">
            <table class="table" id="table">
               <input type="text" class="form-control" id="search" placeholder="Search a subdomin by its Name">
               <thead>
                  <tr>
                     <th>
                        <h6>Subdomain</h6>
                     </th>
                     <th>
                        <h6>IP</h6>
                     </th>
                     <th>
                        <h6>Port</h6>
                     </th>
                     <th>
                        <h6>User</h6>
                     </th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
      </div>
          <script>
            // Fetch subdomains from the API
            fetch('/api/subdomains')
              .then(response => response.json())
              .then(data => {
                const subdomains = data.subdomains;
                const subdomainList = document.getElementById('subdomain-list');
                
                // Create list items for each subdomain
                subdomains.forEach(subdomain => {
                  const listItem = document.createElement('li');
                  listItem.textContent = subdomain;
                  subdomainList.appendChild(listItem);
                });
              })
              .catch(error => {
                console.error(error);
              });
          </script>
                <script>
                  async function idk() {
                  var table = document.getElementById("table");
                  
                  fetch('/api/admin/users')
                .then(response => response.json())
                .then(json => {
                  for(let i = 0; i < json.length; i++) {
                  var row = table.insertRow(1);
                  var cell1 = row.insertCell(0);
                  var cell2 = row.insertCell(1);
                  var cell3 = row.insertCell(2);
                  var cell4 = row.insertCell(3);
                  cell1.innerHTML = `<p><a href="/admin/users/view?id="</a>Undefined</p>`;
                  cell2.innerHTML = `<p><a href="/admin/users/view?id="</a>Undefined</p>`;
                  cell3.innerHTML = `<p><a href="/admin/users/view?id="</a>Undefined</p>`;
                  cell4.innerHTML = `<p><a href="/admin/users/view?id=${json[i].id}">${json[i].username}</a></p>`;
                  }
                })
                  
                }
                  idk()
                </script>
            <!-- Include Bootstrap 5 JS -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
              <!-- Include Bootstrap 5 CSS -->
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">           
  
      
    </body>
        <!--start overlay-->
      <div class="overlay toggle-menu"></div>
          <!--end overlay-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
      <!-- Bootstrap core JavaScript-->
      <script src="../../../assets/js/jquery.min.js"></script>
      <script src="../../../assets/js/popper.min.js"></script>
      <script src="../../../assets/js/bootstrap.min.js"></script>
      
     <!-- simplebar js -->
      <script src="../../../assets/plugins/simplebar/js/simplebar.js"></script>
      <!-- sidebar-menu js -->
      <script src="../../../assets/js/sidebar-menu.js"></script>
      <!-- Custom scripts -->
      <script src="../../../assets/js/app-script.js"></script>
      <footer>
        <%- include('./parts/footer') %>
      </footer>