<%- include('./partials/head') %>
<body class="bg-zinc-950 w-screen h-full overflow-x-hidden">
    <main class="w-screen h-full overflow-x-hidden" id="holder">
        <nav class="w-full fixed top-0 p-8 flex z-50 justify-between items-center">
            <div class="flex items-center justify-left space-x-2">
                <img src="<%= appearance.logo.url %>" class="w-8 h-8">
                <h1 class="text-zinc-200 text-2xl text-center font-nunito"><%= appearance.name %></h1>
            </div>
            <div class="flex items-center w-max space-x-4">
                <a href="https://github.com/HolaClient" class="text-gray-400 hover:text-gray-200 hover:duration-300 duration-300 text-md">GitHub</a>
                <a href="https://discord.gg/CvqRH9TrYK" class="text-gray-400 hover:text-gray-200 hover:duration-300 duration-300 text-md">Discord</a>
            </div>
        </nav>
        <section class="section" id="section1">
            <div class="absolute -z-20 md:h-screen md:w-screen bg-no-repeat bg-cover"
                style="background-image: url('https://cdn.holaclient.tech/production/X1/assets/pattern.png');"></div>
            <div class="absolute bg-gradient-to-b from-transparent to-zinc-950 w-screen h-screen"></div>
        </section>
        <section class="relative w-screen h-screen flex flex-col items-center justify-center section" id="section2">
            <div class="relative overflow-hidden rounded-3xl bg-zinc-900/80 backdrop-blur-md w-max h-max p-[1px]">
                  <div class="dot blur-md -ml-8 -mt-8 animate-flow absolute p-20 rounded-full bg-sky-400/50"></div>
                  <div class="relative max-w-sm md:max-w-md text-center z-20 w-full h-full p-8 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-zinc-900 via-zinc-900 to-zinc-950/90 outline-none rounded-3xl">
                    <h1 class="text-zinc-200 text-2xl text-center font-urbanist">Login to continue</h1>
                    <div class="w-full mt-6 flex flex-col space-y-2">
                        <div class="w-full text-left">
                            <span class="text-gray-400 text-left text-sm pl-2">Email or username:</span>
                            <input id="email" type="text" class="w-full bg-zinc-950/50 focus:bg-zinc-950/80 focus:duration-300 duration-300 backdrop-blur-xl rounded-3xl outline-none border border-zinc-800/80 p-2 px-3 items-center text-left text-gray-300">
                        </div>
                        <div class="w-full text-left">
                            <span class="text-gray-400 text-left text-sm pl-2">Password:</span>
                            <input id="password" type="password" class="w-full bg-zinc-950/50 focus:bg-zinc-950/80 focus:duration-300 duration-300 backdrop-blur-xl rounded-3xl outline-none border border-zinc-800/80 p-2 px-3 items-center text-left text-gray-300">
                        </div>
                    </div>
                        <div class="mt-6">
                            <button onclick="submit()" id="submitButton" class="w-full bg-zinc-950/50 hover:bg-zinc-950/80 hover:duration-300 duration-300 backdrop-blur-xl rounded-3xl border border-zinc-800/80 p-2 items-center text-center text-gray-300">Continue</button>
                        </div>
                        <div class="mt-4"></div>
                        <span class="text-sm text-gray-400">New to <%= appearance.name %>? <a class="text-gray-300" href="/register">Get started now!</a></span>
                  </div>
              </div>
        </section>
        <footer class="w-full fixed bottom-0 p-8 flex justify-between items-center">
            <div class="flex items-center justify-left space-x-2">
                <h1 class="text-zinc-200 text-md text-center font-raleway">&copy; <span class="font-karla">2024</span> <%= appearance.name %></h1>
            </div>
            <div class="flex items-center w-max space-x-4">
                <a href="/tos" class="text-gray-400 hover:text-gray-200 hover:duration-300 duration-300 text-md">ToS</a>
                <a href="/pp" class="text-gray-400 hover:text-gray-200 hover:duration-300 duration-300 text-md">Privacy Policy</a>
            </div>
        </footer>
    </main>
</body>
<script>
    async function submit() {
        let c = document.getElementById("submitButton")
        try {
            let a = await fetch('/auth/email', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    email: document.getElementById("email").value,
                    password: document.getElementById("password").value
                })
            });
            c.innerHTML = `<span class="w-full text-center flex justify-center items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 animate-spin text-center"><path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" /></svg></span>`
            let b = await a.json()
            if (b.success == true) {
                window.location.href = '/dashboard'
            } else {
                toastr.error(b.message, "Error!")
                c.innerHTML = `Continue`
            }
        } catch (error) {
            toastr.error(error)
            c.innerHTML = `Continue`
        }
    }
</script>