<%- include('../components/head') %>
<%- include('../components/css') %>
<%- include('../components/alert') %>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>

  <body>

    <!-- Start wrapper-->
    <div id="wrapper">
      <div class="card card-authentication1 mx-auto my-5">
        <div class="card-body">
          <div class="card-content p-2">
            <div class="text-center">
              <img width="40px" src="<%= settings.logo.url %>" alt="logo icon">
            </div>
            <div class="card-title text-uppercase text-center py-3">Sign In to <%= settings.name %>
            </div>
            <form>
              <div class="form-group">
                <label for="" class="sr-only">Email</label>
                <div class="position-relative has-icon-right">
                  <input type="email" id="email" class="form-control input-shadow" placeholder="Enter Email">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="sr-only">Password</label>
                <div class="position-relative has-icon-right">
                  <input type="password" id="password" class="form-control input-shadow" placeholder="Enter Password">
                </div>
              </div>
              <button onclick="submitForm()" type="button" class="btn btn-light btn-block">Sign In</button>
              <div class="text-center mt-3">Or login using</div>
              <div class="form-row mt-4">
                <a href="./auth/discord/login" type="button" class="btn btn-light btn-block"><i class="bi bi-discord"></i>
                  Discord</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <% if (!req.session.userinfo) { %><% } else { %>
          <script>
            window.addEventListener('load', function () {
              window.location.href = "./dashboard";
            });
          </script><% } %>
      <script>
        async function submitForm() {
          let email = encodeURIComponent(document.getElementById("email").value);
          let password = encodeURIComponent(document.getElementById("password").value);
          document.location.href = `/auth/login?email=${email}&password=${password}`
        };
      </script>
      <%- include('../components/js') %>