<%- include('../../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../../partials/nav') %>
            <%- include('../../partials/aside') %>
            <% function format(a) {
                let b = parseFloat(a).toFixed(2);
                if (isNaN(b)) return "N/A";
                if (b.endsWith(".00")) b = b.slice(0, -3);
                return b;
              } %>
              <% function color(a) {
                let b = parseFloat(a).toFixed(2);
                if (isNaN(b)) return "N/A";
                if (b.endsWith(".00")) b = b.slice(0, -3);
                if (b <= 75) {
                    return "bg-emerald-500";
                } else if (b <= 85) {
                    return "bg-amber-500";
                } else if (b <= 95) {
                    return "bg-rose-500";
                } else {
                    return "bg-red-500";
                }
            } %>
            <% let a = 0
               for (let i of node.relationships.servers.data) {
                a = a + i.attributes.limits.cpu
               }
               const cpuUsage = a / 100
            %>
            <main
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
                <div class="flex space-x-4 items-center">
                    <div
                        class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path d="M4.08 5.227A3 3 0 0 1 6.979 3H17.02a3 3 0 0 1 2.9 2.227l2.113 7.926A5.228 5.228 0 0 0 18.75 12H5.25a5.228 5.228 0 0 0-3.284 1.153L4.08 5.227Z" />
                            <path fill-rule="evenodd" d="M5.25 13.5a3.75 3.75 0 1 0 0 7.5h13.5a3.75 3.75 0 1 0 0-7.5H5.25Zm10.5 4.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm3.75-.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
                          </svg>
                    </div>
                    <div class="flex flex-col justify-between w-full">
                        <h1 class="text-gray-200 font-semibold text-xl"><%= node.name %></h1>
                        <span class="text-gray-300 text-md">Get a detailed view of <%= node.name %> from <%= node.relationships.location.attributes.short %>-<%= node.relationships.location.attributes.long %></span>
                    </div>
                </div>
                <img src="https://cdn.holaclientx.tech/logo.png" alt="fun" class="w-0 h-0" onload="version('<%= node.cpu.version %>')">
                <div id="nodeVersion"></div>
                <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
                    <div class="w-full col-span-2 h-max grid grid-cols-1 gap-4">
                        <div class="flex bg-zinc-900/50 h-max border border-zinc-800/80 text-gray-300 rounded-xl flex-wrap content-start w-full">
                            <h1 class="text-xl p-2 px-4 text-gray-200 flex justify-between w-full items-center">Overview</h1>
                            <hr class="w-full border-b border-zinc-800/80">
                            <div class="w-full mt-4 px-4 pb-4 grid grid-cols-1 md:grid-cols-3 gap-4">
                              <div class="flex flex-col">
                                <h1 class="text-gray-300">Operating System:</h1>
                                <span class="text-gray-200"><%= node.cpu.os %></span>
                              </div>
                              <div class="flex flex-col">
                                <h1 class="text-gray-300">Architecture:</h1>
                                <span class="text-gray-200"><%= node.cpu.architecture %></span>
                              </div>
                              <div class="flex flex-col">
                                <h1 class="text-gray-300">CPU Information:</h1>
                                <span class="text-gray-200"><%= node.cpu.kernel_version %></span>
                              </div>
                            </div>
                        </div>
                        <div class="flex bg-zinc-900/50 h-max border border-zinc-800/80 text-gray-300 rounded-xl flex-wrap content-start w-full">
                            <h1 class="text-xl p-2 px-4 text-gray-200 flex justify-between w-full items-center">Deployments</h1>
                            <hr class="w-full border-b border-zinc-800/80">
                            <div class="w-full mt-4 px-4 pb-4 grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div class="flex flex-col">
                                    <h1 class="text-gray-300">Name:</h1>
                                    <span class="text-gray-200"><%= node.deployments.name %></span>
                                  </div>
                              <div class="flex flex-col">
                                <h1 class="text-gray-300">Role:</h1>
                                <span class="text-gray-200"><%= node.deployments.role %></span>
                              </div>
                              <div class="flex flex-col">
                                <h1 class="text-gray-300">Fees:</h1>
                                <span class="text-gray-200"><%= node.deployments.fees %> coins</span>
                              </div>
                            </div>
                            <div class="px-2 pb-2 flex items-center w-full justify-center">
                                <button onclick="removeNode('<%= node.id %>')" class="relative shadow-sm shadow-black bg-transparent border border-zinc-800/80 p-[1.5px] px-5 py-2 rounded-full">
                                    Remove
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex bg-zinc-900/50 border border-zinc-800/80 text-gray-300 rounded-xl flex-wrap content-start w-full">
                        <h1 class="text-xl p-2 px-4 text-gray-200 flex justify-between w-full items-center">Resources</h1>
                        <hr class="w-full border-b border-zinc-800/80">
                        <div class="w-full p-2 py-4 grid grid-cols-1 gap-4">
                            <div class="rounded-xl overflow-hidden relative border border-zinc-800/80">
                                <div class="p-2 overflow-hidden z-40">
                                    <div class="flex justify-between w-full">
                                        <h1 class="text-gray-200 text-xl">Slots</h1>
                                        <h1 class="text-gray-200 text-xl"><%= node.relationships.servers.data.length %> <span class="text-gray-300">of </span> <%= node.relationships.allocations.data.length %></h1>
                                    </div>
                                    <div class="w-full flex items-center text-base space-x-1 justify-between">
                                        <div class="progress mt-3 h-1.5 bg-zinc-800">
                                          <div class="is-active relative w-[<%= format((node.relationships.servers.data.length / node.relationships.allocations.data.length) * 100) %>%] overflow-hidden rounded-full <%= color(format((node.relationships.servers.data.length / node.relationships.allocations.data.length) * 100)) %>"></div>
                                        </div>
                                        <h1 class="text-gray-300 text-xl"><%= format((node.relationships.servers.data.length / node.relationships.allocations.data.length) * 100) %>%</h1>
                                      </div>
                                </div>
                                <div class="bg-gradient-to-r from-transparent via-zinc-700 to-transparent w-full h-0.5"></div>
                            </div>
                            <div class="rounded-xl overflow-hidden relative border border-zinc-800/80">
                                <div class="p-2 overflow-hidden z-40">
                                    <div class="flex justify-between w-full">
                                        <h1 class="text-gray-200 text-xl">Memory</h1>
                                        <h1 class="text-gray-200 text-xl"><%= format(node.allocated_resources.memory / 1024) %> <span class="text-gray-300">of </span> <%= format(node.memory / 1024) %>GB</h1>
                                    </div>
                                    <div class="w-full flex items-center text-base space-x-1 justify-between">
                                        <div class="progress mt-3 h-1.5 bg-zinc-800">
                                          <div class="is-active relative w-[<%= format((node.allocated_resources.memory / node.memory) * 100) %>%] overflow-hidden rounded-full <%= color(format((node.allocated_resources.memory / node.memory) * 100)) %>"></div>
                                        </div>
                                        <h1 class="text-gray-300 text-xl"><%= format((node.allocated_resources.memory / node.memory) * 100) %>%</h1>
                                      </div>
                                </div>
                                <div class="bg-gradient-to-r from-transparent via-zinc-700 to-transparent w-full h-0.5"></div>
                            </div>
                            <div class="rounded-xl overflow-hidden relative border border-zinc-800/80">
                                <div class="p-2 overflow-hidden z-40">
                                    <div class="flex justify-between w-full">
                                        <h1 class="text-gray-200 text-xl">Storage</h1>
                                        <h1 class="text-gray-200 text-xl"><%= format(node.allocated_resources.disk / 1024) %> <span class="text-gray-300">of </span> <%= format(node.disk / 1024) %>GB</h1>
                                    </div>
                                    <div class="w-full flex items-center text-base space-x-1 justify-between">
                                        <div class="progress mt-3 h-1.5 bg-zinc-800">
                                          <div class="is-active relative w-[<%= format((node.allocated_resources.disk / node.disk) * 100) %>%] overflow-hidden rounded-full <%= color(format((node.allocated_resources.disk / node.disk) * 100)) %>"></div>
                                        </div>
                                        <h1 class="text-gray-300 text-xl"><%= format((node.allocated_resources.disk / node.disk) * 100) %>%</h1>
                                      </div>
                                </div>
                                <div class="bg-gradient-to-r from-transparent via-zinc-700 to-transparent w-full h-0.5"></div>
                            </div>
                            <div class="rounded-xl overflow-hidden relative border border-zinc-800/80">
                                <div class="p-2 overflow-hidden z-40">
                                    <div class="flex justify-between w-full">
                                        <h1 class="text-gray-200 text-xl">CPU</h1>
                                        <h1 class="text-gray-200 text-xl"><%= format(cpuUsage) %> <span class="text-gray-300">of </span> <%= (node.cpu.cpu_count) %> threads</h1>
                                    </div>
                                    <div class="w-full flex items-center text-base space-x-1 justify-between">
                                        <div class="progress mt-3 h-1.5 bg-zinc-800">
                                          <div class="is-active relative w-[<%= format((cpuUsage / node.cpu.cpu_count) * 100) %>%] overflow-hidden rounded-full <%= color(format((cpuUsage / node.cpu.cpu_count) * 100)) %>"></div>
                                        </div>
                                        <h1 class="text-gray-300 text-xl"><%= format((cpuUsage / node.cpu.cpu_count) * 100) %>%</h1>
                                      </div>
                                </div>
                                <div class="bg-gradient-to-r from-transparent via-zinc-700 to-transparent w-full h-0.5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
            <%- include('../../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>