<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./output.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cf4342c927.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <title><%= settings.name %></title>
  <%- include('./style') %>
  <style>
    .preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(10, 10, 10);
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }

    .preloader.hidden {
      opacity: 0;
      pointer-events: none;
    }

    .loader img {
      width: 150px;
      height: 150px;
      animation: fade 1s infinite;
    }

    @keyframes fade {
      0% {
        opacity: 0;
      }

      25% {
        opacity: 1;
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    .connection-error {
      color: red;
      font-size: 18px;
      text-align: center;
    }
  </style>

  <script>
    function checkConnection() {
      var connectionErrorElement = document.getElementById('connectionError');
      var loader = document.getElementById('loader');
      var online = navigator.onLine;

      if (!online) {
        connectionErrorElement.textContent = 'Connection error. Please check your network connection.';
        connectionErrorElement.style.display = 'block';
        return false;
      } else {
        connectionErrorElement.style.display = 'none';
        return true;
      }
    }

    $(window).on('load', function() {
      if (checkConnection()) {
        $('.preloader').fadeOut('slow', function() {
          $(this).addClass('hidden');
        });
      }
    });
  </script>
  <div class="preloader">
    <div class="loader">
      <img src="<%= settings.logo.url %>">
    </div>
    <div id="connectionError" class="connection-error"></div>
  </div>
</head>

<body class="bg-[#161616]">
    <section class="h-screen">
        <div aria-hidden="true" class="-z-40 inset-0">
            <div class="w-full h-screen -mt-8 pt-80 bg-no-repeat bg-center bg-cover"
                style="background-image: url('https://wallpaperaccess.com/full/2102448.jpg');">
                <div class="bg-gradient-to-t from-[#161616] to-transparent w-full h-full">
                    <div class="text-center z-50 relative">
                        <h1 class="text-4xl text-center lg:text-6xl font-semibold text-slate-300">
                            <span><%= settings.name %> is the new</span><br>
                            <span class="animate-gradient">Standard for Hosting</span>
                            <p class="text-[16px] mt-2 lg:text-lg text-gray-400"><%= settings.website.description %></p>
                        </h1>

                        <ul class="mt-4 flex gap-5 flex-wrap items-center justify-center">
                            <li>
                                <button onclick="location.href='/dashboard'"
                                    class="relative inline-flex items-center justify-center mt-2 p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                                    <span
                                        class="relative px-5 py-[14px] transition-all ease-in duration-75 bg-white dark:bg-zinc-900 rounded-md group-hover:bg-opacity-0">
                                        GET STARTED
                                    </span>
                                </button>
                                <button type="button" onclick="location.href='/plans'"
                                    class="text-white font-semibold bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 rounded-lg text-sm px-5 py-4 text-center me-2 mb-2">
                                    TRY PREMIUM</button>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </section>

    <main class="mx-16 mt-4 mb-8 hidden lg:block">
        <nav
        class="z-50 flex shrink-0 grow-0 justify-around gap-4 bg-zinc-400/10 p-2.5 shadow-lg backdrop-blur-3xl fixed top-2/4 -translate-y-2/4 left-6 min-h-[auto] min-w-[64px] flex-col rounded-2xl">
        <a
            class="flex aspect-square min-h-[32px] w-16 flex-col items-center justify-center gap-1 rounded-md p-1.5 text-indigo-600 dark:text-sky-50">
            <img src="<%= settings.logo.url %>">
        </a>
        <hr class="dark:border-gray-700/60" />
        <a href="/login"
            class="flex aspect-square min-h-[32px] w-16 flex-col items-center justify-center gap-1 rounded-md p-1.5 text-gray-300 hover:text-white cursor-pointer">
    
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
            </svg>
    
            <small class="text-center text-xs font-medium"> Authenticate </small>
        </a>
        <a href="<%= settings.links.discord %>"
            class="flex aspect-square min-h-[32px] w-16 flex-col items-center justify-center gap-1 rounded-md p-1.5 text-gray-300 hover:text-white cursor-pointer">
    
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 00-1.032-.211 50.89 50.89 0 00-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 002.433 3.984L7.28 21.53A.75.75 0 016 21v-4.03a48.527 48.527 0 01-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979z" />
                <path d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 001.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0015.75 7.5z" />
              </svg>             
    
            <small class="text-center text-xs font-medium"> Support </small>
        </a>
        <a href="/plans"
            class="flex aspect-square min-h-[32px] w-16 flex-col items-center justify-center gap-1 rounded-md p-1.5 text-gray-300 hover:text-white cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd" />
              </svg>              
    
            <small class="text-center text-xs font-medium"> Premium </small>
        </a>
    </nav>
        <section class="mx-12 p-8 mt-8">
            <h1 class="text-white text-3xl lg:text-5xl font-semibold">
                Statistics speaks!
            </h1>
            <div class="flex mt-8 gap-4">
                <div class="grid grid-cols-1 gap-4 w-3/4">
                    <div class="bg-zinc-900 border h-max rounded-lg border-zinc-700 p-4 justify-center text-center">
                        <h1 class="text-white my-8 text-3xl lg:text-5xl font-semibold">
                            Join with <span id="users">-_-</span> others
                        </h1>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                        <div class="bg-zinc-900 border h-max rounded-lg border-zinc-700 p-4 justify-center text-center">
                            <h1 class="text-white my-8 text-3xl lg:text-5xl font-semibold">
                                <span id="nodes">-_-</span> <br>nodes
                            </h1>
                        </div>
                        <div class="bg-zinc-900 border h-max rounded-lg border-zinc-700 p-4 justify-center text-center">
                            <h1 class="text-white my-8 text-3xl lg:text-5xl font-semibold">
                                99% <br>uptime
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="bg-zinc-900 border h-max rounded-lg border-zinc-700 p-2 w-1/4 justify-center text-center">
                    <div class="bg-gradient-to-br from-rose-500/70 to-transparent p-2 rounded-lg">
                        <h1 class="text-white my-8 text-3xl lg:text-5xl font-semibold">
                            <span id="servers">-_-</span> <br>servers
                        </h1>
                    </div>
                    <div class="rounded-lg">
                        <h1 class="text-white my-8 text-3xl lg:text-5xl font-semibold">
                            <span id="locations">-_-</span> <br>locations
                        </h1>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="relative bg-no-repeat hidden lg:block bg-cover"
        style="background-image: url('https://img.freepik.com/free-vector/neon-light-background_53876-67443.jpg');">
        <div class="absolute inset-0 bg-gradient-to-b from-[#161616] to-transparent"></div>
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 relative z-10">
            <div class="flex items-center justify-between w-full">
                <div class="items-center lg:ml-8 w-1/3 text-white">
                    <a href="#" class="flex place items-center">
                        <img class="w-10" src="<%= settings.logo.url %>" alt="HolaClient Logo">
                        <span class="text-white font-nunito text-2xl ml-1 font-bold"><%= settings.name %></span>
                    </a>
                    <span class="ml-1.5 text-xs">&copy;
                        <script>document.write(new Date().getFullYear());</script> | All Rights Reserved<br>
                        Another crap theme by CR072
                    </span>
                </div>

                <div class="grid grid-cols-1 w-2/3 lg:grid-cols-3 gap-8">
                    <div>
                        <h2 class="mb-5 text-sm font-semibold text-gray-900 uppercase dark:text-white">Links</h2>
                        <ul class="text-gray-300 font-medium">
                            <li class="mb-1">
                                <a href="<%= settings.links.discord %>" class="hover:underline">Discord</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h2 class="mb-5 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-1">
                                <a href="/tos" class="hover:underline">ToS</a>
                            </li>
                            <li>
                                <a href="/pp" class="hover:underline">Privacy policy</a>
                            </li>
                        </ul>
                    </div>

                    <div class="text-gray-200">
                        <%= settings.seo.description %>
                            <br><br>
                            <span class="items-center justify-between w-full flex">
                                <span class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M8.288 15.038a5.25 5.25 0 017.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 011.06 0z" />
                                    </svg>
                                    <span class="text-white ml-2" id="loadtime"></span>
                                </span>
                                <span class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                                    </svg>
                                    <span class="text-white ml-2">1.5.9</span>
                                </span>
                                <span class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
                                      </svg>                                                                                                                                             
                                    <span class="text-white ml-2">Zenith</span>
                                </span>
                            </span>
                    </div>

                </div>
            </div>
        </div>

    </footer>
    <div class="fixed inset-x-6 bottom-6 z-40 mx-auto w-max">
        <a href="/plans" class="flex gap-3 rounded-2xl border border-yellow-900/30 bg-gradient-to-br p-3 shadow-2xl shadow-rose-500 backdrop-blur-xl from-[#161616] to-zinc-900">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5 text-yellow-600 dark:text-yellow-500 astro-6MYTB7CN">
                <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd" class="astro-6MYTB7CN"></path>
            </svg>
            <span class="text-sm font-semibold tracking-wide text-yellow-900 dark:text-white"> Upgrade to Premium</span>
        </a>
    </div>
</body>
<script>
    async function stats() {
      const serverInfo = document.getElementById("servers");
      const response = await fetch('/api/pterodactyl/stats/public');
      const data = await response.json();
      let stats = ["users", "servers", "locations", "nodes"]
      for (const stat of stats) {
        document.getElementById(stat).innerText=data[stat]
    }
}
    stats();
  </script>
<script type="text/javascript">  
  var before_loadtime = new Date().getTime();  
  window.onload = Pageloadtime;
  function Pageloadtime() {
      var aftr_loadtime = new Date().getTime();
      pgloadtime = (aftr_loadtime - before_loadtime) / 1000
      document.getElementById("loadtime").innerHTML = pgloadtime + "s";
  }
</script>
  </html>