<%- include('../partials/head') %>
  <%- include('../partials/css') %>
    <%- include('../scripts/wrapper') %>
      <%- include('../partials/sidebar') %>
        <%- include('../partials/topnav') %>
          <%- include('../partials/alert') %>
            <%- include('../scripts/containers') %>
              <%- include('../partials/resources') %>
              <% if (req.query.id) { %>
                <% if (pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id).length == 1) {
                    let serverinfo = pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id)[0];
                    let attemptegg = null;
                    let attemptname = null;
                    for (let [name, value] of Object.entries(eggs)) {
                        if (eggs[name].info.egg == serverinfo.attributes.egg) {
                            attemptegg = eggs[name];
                            attemptname = name;
                        };
                    };
                    let egginfo = attemptegg ? attemptegg.display : "???";
                %>
<div class="card mt-3">
<div class="card-content">

<div class="row row-group m-0">
<div class="card-body">
<h5 class="text-white mb-0"> <span class="float-right"><i class="fa-solid fa-memory"></i></span></h5>
<h6 style="color:white">Server Memory:</h6>
<input id="SRVram" class="form-control form-control-rounded" type="text" placeholder="ram in MB" value="<%= serverinfo.attributes.limits.memory %>" name="fname">
</div>

<div class="card-body">
<h5 class="text-white mb-0"> <span class="float-right"><i class="fa-solid fa-hard-drive"></i></span></h5>
<h6 style="color:white">Server Disk:</h6>
<input id="SRVdisk" class="form-control form-control-rounded" type="text" placeholder="disk in MB" value="<%= serverinfo.attributes.limits.disk %>" name="fname">
</div>

<div class="card-body">
<h5 class="text-white mb-0"> <span class="float-right"><i class="fa-solid fa-microchip"></i></span></h5>
<h6 style="color:white">Server Cpu:</h6>
<input id="SRVcpu" class="form-control form-control-rounded" type="text" placeholder="cpu in %" value="<%= serverinfo.attributes.limits.cpu %>" name="fname">
</div>
</div>

<div class="row row-group m-0">
<div class="card-body">
<h5 class="text-white mb-0"> <span class="float-right"><i class="fa-solid fa-database"></i></span></h5>
<h6 style="color:white">Server Databases:</h6>
<input id="SRVdb" class="form-control form-control-rounded" type="text" placeholder="databases" value="<%= serverinfo.attributes.feature_limits.databases %>" name="fname">
</div>

<div class="card-body">
<h5 class="text-white mb-0"> <span class="float-right"><i class="fa-brands fa-usb"></i></span></h5>
<h6 style="color:white">Server Allocations:</h6>
<input id="SRVallocations" class="form-control form-control-rounded" type="text" placeholder="allocations" value="<%= serverinfo.attributes.feature_limits.allocations %>" name="fname">
</div>

<div class="card-body">
<h5 class="text-white mb-0"> <span class="float-right"><i class="fa-solid fa-repeat"></i></span></h5>
<h6 style="color:white">Server Backups:</h6>
<input id="SRVbackups" class="form-control form-control-rounded" type="text" placeholder="backups" value="<%= serverinfo.attributes.feature_limits.backups %>" name="fname">
</div>
</div>

<div class="row row-group m-0">
<div class="card-body">
<h5 class="text-white mb-0"> <span class="float-right"><i class="bi bi-check2"></i></span></h5>
<input class="form-control form-control-rounded" type="button" value="Click to apply the changes" onclick="submitChanges()">
</div>
</div>
</div>
</div>
<script>
async function submitChanges() {
const ram = encodeURIComponent(document.getElementById("SRVram").value);
const disk = encodeURIComponent(document.getElementById("SRVdisk").value);
const cpu = encodeURIComponent(document.getElementById("SRVcpu").value);
const backups = encodeURIComponent(document.getElementById("SRVbackups").value);
const databases = encodeURIComponent(document.getElementById("SRVdb").value);
const allocations = encodeURIComponent(document.getElementById("SRVallocations").value);
document.location.href = `/api/pterodactyl/servers/modify?id=<%= req.query.id %>&ram=${ram}&disk=${disk}&cpu=${cpu}&backups=${backups}&allocations=${allocations}&databases=${databases}`;
};
</script>
<% } %>
<% } %>
              <%- include('../partials/footer') %>
                    <%- include('../scripts/create') %>
                      <%- include('../partials/js') %>