<%- include('../partials/head') %>
    <%- include('../partials/css') %>
        <%- include('../scripts/wrapper') %>
            <%- include('../partials/sidebar') %>
                <%- include('../partials/topnav') %>
                    <%- include('../partials/alert') %>
                        <%- include('../scripts/containers') %>
                        <% if (req.query.id) { %>
                            <% if (pterodactyl.relationships.servers.data.filter(name => name.attributes.identifier == req.query.id).length == 1) {
                                let serverinfo = pterodactyl.relationships.servers.data.filter(name => name.attributes.identifier == req.query.id)[0];
                            %>
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">&nbsp;Controling server <span id="title"></span></div>
                                    <div class="row row-group m-0">
                                        <div class="col-12 col-lg-6 col-xl-3 border-light">
                                            <div class="card-body">
                                                <h5 class="text-white mb-0"><span id="ram"></span>/<%= serverinfo.attributes.limits.memory %> MiB<span class="float-right"><i
                                                            class="bi bi-memory"></i></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-3 border-light">
                                            <div class="card-body">
                                                <h5 class="text-white mb-0"><span
                                                        id="disk"></span>/<%= serverinfo.attributes.limits.disk %> MiB <span class="float-right"><i
                                                            class="bi bi-hdd"></i></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-3 border-light">
                                            <div class="card-body">
                                                <h5 class="text-white mb-0"><span
                                                        id="cpu"></span>/<%= serverinfo.attributes.limits.cpu %> % <span class="float-right"><i
                                                            class="bi bi-cpu"></i></span></h5>
                                            </div>
                                        </div>


                                        <div class="col-12 col-lg-6 col-xl-3 border-light">
                                            <div class="card-body">
                                                <h5 class="text-white mb-0 bi bi-globe"> <span id="allocation"
                                                        class="clickable" onclick="copyip()"></span> </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <button class="btn btn-success" onclick="state('start')">Start</button>
                                        <button class="btn btn-primary" onclick="state('restart')">Restart</button>
                                        <button class="btn btn-info" onclick="state('stop')">Stop</button>
                                        <button class="btn btn-danger" onclick="state('kill')">Kill</button>
                                        <div id="response"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div id="console-box"
                                        style="height: 300px; border-top-left-radius: 15px; border-bottom-left-radius: 0px; border-top-right-radius: 15px; border-bottom-right-radius: 0; overflow-y: scroll;">
                                        &nbsp;[⚠️] Websocket Disconnected!<br>&nbsp;</div>
                                </div>
                                <div class="form-group d-flex align-items-center">
                                    <input
                                        style="border-top-left-radius: 0px; border-bottom-left-radius: 15px; border-top-right-radius: 0px; border-bottom-right-radius: 1px;"
                                        class="form-control" type="text" id="command-input"
                                        placeholder="Enter your command...">
                                    <button class="form-control-button text-white bi bi-send"
                                        id="command-button"></button>
                                </div>
                            </div>
                            
                            <script>
                                async function a() {
                                    const urlSearchParams = new URLSearchParams(window.location.search);
                                    let id = urlSearchParams.get('id');
                                    let resource = await fetch('/api/servers/'+id)
                                    const data = await resource.json();
                                    document.getElementById("title").innerText=data.data.attributes.name
                                    let ipd = data.data.attributes.relationships.allocations.data[0].attributes
                                    if (!ipd.ip_alias == null) {
                                        document.getElementById("allocation").innerText=`${ipd.ip_alias}:${ipd.port}`
                                    } else {
                                        document.getElementById("allocation").innerText=`${ipd.ip}:${ipd.port}`
                                    }
                                }
                                a()
                                resources()
                                async function state(power) {
                                    const urlSearchParams = new URLSearchParams(window.location.search);
                                    let id = urlSearchParams.get('id');
                                    let resource = await fetch('/api/servers/controller/power', {
                                        method: 'POST',
                                        body: JSON.stringify({
                                            power: power,
                                            id: id,
                                        }),
                                        headers: {
                                            "Content-Type": "application/json"
                                        }
                                    })
                                    const data = await resource.json();
                                }
                                async function resources(power) {
                                    const urlSearchParams = new URLSearchParams(window.location.search);
                                    let id = urlSearchParams.get('id');
                                    let resource = await fetch('/api/servers/controller/resources/'+id, {
                                        method: 'GET',
                                        headers: {
                                            "Content-Type": "application/json"
                                        }
                                    })
                                    const data = await resource.json();
                                    document.getElementById("ram").innerText=(data.data.attributes.resources.memory_bytes/1024/1024).toFixed(2)
                                    document.getElementById("disk").innerText=(data.data.attributes.resources.disk_bytes/1024/1024).toFixed(2)
                                    document.getElementById("cpu").innerText=(data.data.attributes.resources.cpu_absolute/1024/1024).toFixed(0)
                                }
                            </script>
                            <% } %>
                            <% } else { %>
                                <script>
                                    window.location.href="/integrations"
                                </script>
                                <% } %>
                            <%- include('../partials/footer') %>
                                <%- include('../partials/js') %>