<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main
                class="p-4 md:ml-64 z-20 -mt-12 max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
                <div id="content">
                    <%- include('../partials/links') %>
                    <div id="page" class="relative">
                        <div class="mt-4 flex items-center justify-center flex-col space-y-1 w-full">
                            <img src="https://media.tenor.com/wWY4eFBZE8gAAAAi/john-cena-are-you-sure-about-that.gif" class="h-80 mb-8 w-auto">
                            <button onclick="deleteServer()" class="p-2 bg-rose-700/50 mt-8 px-5 border border-rose-700 rounded-xl text-rose-300">
                                Yes, I am sure. Delete the server now.
                            </button>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>