<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main
                class="p-4 md:ml-64 z-20 -mt-12 max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
                <div id="content">
                    <%- include('../partials/links') %>
                    <div id="page" class="relative">
                        <img onload="mods()" src="https://cdn.holaclientx.tech/logo.png" class="w-0 h-0">
                        <div class="mt-4 w-full relative justify-center items-center text-gray-300">
                            <input id="search" type="text" oninput="modsSearch(this.value)" placeholder="Search a mod..." class="bg-zinc-900/50 col-span-8 text-gray-300 placeholder-gray-400 border border-zinc-800/80 rounded-full p-2 pl-4 outline-none w-full">
                        </div>
                        <div id="modsHolder" class="mt-8 gap-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 space-y-0.5 w-full">
                            
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>