<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main 
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
                <div class="flex justify-between items-center w-full">
                    <div class="flex space-x-4 items-center">
                        <div
                        class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path d="M5.507 4.048A3 3 0 0 1 7.785 3h8.43a3 3 0 0 1 2.278 1.048l1.722 2.008A4.533 4.533 0 0 0 19.5 6h-15c-.243 0-.482.02-.715.056l1.722-2.008Z" />
                            <path fill-rule="evenodd" d="M1.5 10.5a3 3 0 0 1 3-3h15a3 3 0 1 1 0 6h-15a3 3 0 0 1-3-3Zm15 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm2.25.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM4.5 15a3 3 0 1 0 0 6h15a3 3 0 1 0 0-6h-15Zm11.25 3.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM19.5 18a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
                          </svg>                              
                    </div>
                    <div class="flex flex-col justify-between w-full">
                        <h1 class="text-gray-200 font-semibold text-xl"><%= lang.servers.title %></h1>
                        <span class="text-gray-300 text-md"><%= lang.servers.titleText %></span>
                    </div>
                    </div>
                    <div class="flex space-x-2 items-center">
                        <button onclick="location.reload()"
                    class="bg-sky-700/50 backdrop-blur-3xl border border-sky-700 text-sky-400 hover:opacity-80 hover:duration-300 duration-300 rounded-full p-2 w-max h-max items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                      </svg>
                    </button>
                    <button onclick="render('create')"
                    class="bg-emerald-700/50 backdrop-blur-3xl border border-emerald-700 text-emerald-400 hover:opacity-80 hover:duration-300 duration-300 rounded-full p-2 w-max h-max items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>                          
                    </button>
                    </div>
                </div>
                <div class="flex flex-col max-w-full mt-8 w-full space-y-4">
                    <% if (servers.length >= 1) { %>
                        <% for (let i of servers) { %>
                           <% if (i.queue && i.queue == true) { %>
                            <div class="w-full border border-zinc-800/80 rounded-xl">
                                <div
                                    class="bg-zinc-950 items-center flex justify-between border-b text-gray-300 rounded-xl md:rounded-t-xl border-zinc-800/80 p-2 w-full">
                                    <div class="flex space-x-2 md:space-x-4 items-center">
                                        <div
                                            class="bg-zinc-900 border border-zinc-800/80 rounded-full shadow-lg items-center justify-center w-max h-max p-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M21.75 17.25v-.228a4.5 4.5 0 0 0-.12-1.03l-2.268-9.64a3.375 3.375 0 0 0-3.285-2.602H7.923a3.375 3.375 0 0 0-3.285 2.602l-2.268 9.64a4.5 4.5 0 0 0-.12 1.03v.228m19.5 0a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3m19.5 0a3 3 0 0 0-3-3H5.25a3 3 0 0 0-3 3m16.5 0h.008v.008h-.008v-.008Zm-3 0h.008v.008h-.008v-.008Z" />
                                            </svg>
                                        </div>
                                        <div class="flex flex-col">
                                            <h1 class="text-xl font-bold"><%= i.name %></h1>
                                        </div>
                                    </div>
                                    <div
                                        class="bg-amber-700/50 backdrop-blur-3xl border border-amber-700 text-amber-400 hover:opacity-80 hover:duration-300 duration-300 rounded-full p-2 px-5 w-max h-max items-center justify-center">
                                        In Queue
                                        </div>
                                </div>
                                <div
                                    class="bg-zinc-900/50 hidden backdrop-blur-3xl rounded-b-xl w-full md:grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-4 divide-x-2 divide-zinc-800/80">
                                    <div class="w-full flex flex-col p-4 lg:p-2">
                                        <div class="flex justify-between items-center w-full">
                                            <div
                                                class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z" />
                                                </svg>
                                            </div>
                                            <div class="flex flex-col">
                                                <h1 class="text-xl text-right font-karla text-gray-200"><%= i.resources.memory %> MB</h1>
                                                <span class="text-gray-300 text-sm text-right">Of Memory</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full flex flex-col p-4 lg:p-2">
                                        <div class="flex justify-between items-center w-full">
                                            <div
                                                class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
                                                  </svg>                                              
                                            </div>
                                            <div class="flex flex-col">
                                                <h1 class="text-xl text-right font-karla text-gray-200"><%= i.resources.disk %> MB</h1>
                                                <span class="text-gray-300 text-sm text-right">Of Storage</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full flex flex-col p-4 lg:p-2">
                                        <div class="flex justify-between items-center w-full">
                                            <div
                                                class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                                                  </svg>                                              
                                            </div>
                                            <div class="flex flex-col">
                                                <h1 class="text-xl text-right font-karla text-gray-200"><%= i.resources.cpu %> %</h1>
                                                <span class="text-gray-300 text-sm text-right">Of CPU</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full flex flex-col p-4 lg:p-2">
                                        <div class="flex justify-between items-center w-full">
                                            <div
                                                class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                                                  </svg>                                              
                                            </div>
                                            <div class="flex flex-col">
                                                <h1 class="text-xl text-right font-karla text-gray-200"><%= i.resources.databases %></h1>
                                                <span class="text-gray-300 text-sm text-right">Database (s)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full flex flex-col p-4 lg:p-2">
                                        <div class="flex justify-between items-center w-full">
                                            <div
                                                class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.288 15.038a5.25 5.25 0 0 1 7.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 0 1 1.06 0Z" />
                                                  </svg>                                              
                                            </div>
                                            <div class="flex flex-col">
                                                <h1 class="text-xl text-right font-karla text-gray-200"><%= i.resources.allocations %></h1>
                                                <span class="text-gray-300 text-sm text-right">Allocation (s)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full flex flex-col p-4 lg:p-2">
                                        <div class="flex justify-between items-center w-full">
                                            <div
                                                class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                                                  </svg>                                              
                                            </div>
                                            <div class="flex flex-col">
                                                <h1 class="text-xl text-right font-karla text-gray-200"><%= i.resources.backups %></h1>
                                                <span class="text-gray-300 text-sm text-right">Backup (s)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } else { %>
                                <div onclick="select('<%= i.identifier %>'), render('servers/<%= i.identifier %>')" class="w-full border cursor-pointer border-zinc-800/80 rounded-xl">
                                    <div
                                        class="bg-zinc-950 items-center flex justify-between border-b text-gray-300 rounded-xl md:rounded-t-xl border-zinc-800/80 p-2 w-full">
                                        <div class="flex space-x-2 md:space-x-4 items-center">
                                            <div
                                                class="bg-zinc-900 border border-zinc-800/80 rounded-full shadow-lg items-center justify-center w-max h-max p-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M21.75 17.25v-.228a4.5 4.5 0 0 0-.12-1.03l-2.268-9.64a3.375 3.375 0 0 0-3.285-2.602H7.923a3.375 3.375 0 0 0-3.285 2.602l-2.268 9.64a4.5 4.5 0 0 0-.12 1.03v.228m19.5 0a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3m19.5 0a3 3 0 0 0-3-3H5.25a3 3 0 0 0-3 3m16.5 0h.008v.008h-.008v-.008Zm-3 0h.008v.008h-.008v-.008Z" />
                                                </svg>
                                            </div>
                                            <div class="flex flex-col">
                                                <h1 class="text-xl font-bold"><%= i.name %></h1>
                                            </div>
                                        </div>
                                        <div class="flex space-x-2">
                                            <button onclick="render('servers/<%= i.identifier %>/delete')"
                                                class="bg-rose-700/50 backdrop-blur-3xl border border-rose-700 text-rose-400 hover:opacity-80 hover:duration-300 duration-300 rounded-full p-2 w-max h-max items-center justify-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                </svg>
                                            </button>
                                            <button onclick="render('servers/<%= i.identifier %>/settings')"
                                                class="bg-amber-700/50 backdrop-blur-3xl border border-amber-700 text-amber-400 hover:opacity-80 hover:duration-300 duration-300 rounded-full p-2 w-max h-max items-center justify-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                                                  </svg>                                          
                                            </button>
                                            <button onclick="location.href='<%= pterodactyl.domain %>/server/<%= i.identifier %>'"
                                                class="bg-sky-700/50 backdrop-blur-3xl border border-sky-700 text-sky-400 hover:opacity-80 hover:duration-300 duration-300 rounded-full p-2 w-max h-max items-center justify-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                                                </svg>
                                            </button>
                                            <button onclick="render('servers/<%= i.identifier %>')"
                                                class="bg-emerald-700/50 backdrop-blur-3xl border border-emerald-700 text-emerald-400 hover:opacity-80 hover:duration-300 duration-300 rounded-full p-2 w-max h-max items-center justify-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 0 1 1.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.559.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.894.149c-.424.07-.764.383-.929.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 0 1-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.398.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 0 1-.12-1.45l.527-.737c.25-.35.272-.806.108-1.204-.165-.397-.506-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.108-1.204l-.526-.738a1.125 1.125 0 0 1 .12-1.45l.773-.773a1.125 1.125 0 0 1 1.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894Z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div
                                        class="bg-zinc-900/50 hidden backdrop-blur-3xl rounded-b-xl w-full md:grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-4 divide-x-2 divide-zinc-800/80">
                                        <div class="w-full flex flex-col p-4 lg:p-2">
                                            <div class="flex justify-between items-center w-full">
                                                <div
                                                    class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z" />
                                                    </svg>
                                                </div>
                                                <div class="flex flex-col">
                                                    <h1 class="text-xl text-right font-karla text-gray-200"><%= i.limits.memory %> MB</h1>
                                                    <span class="text-gray-300 text-sm text-right">Of Memory</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full flex flex-col p-4 lg:p-2">
                                            <div class="flex justify-between items-center w-full">
                                                <div
                                                    class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
                                                      </svg>                                              
                                                </div>
                                                <div class="flex flex-col">
                                                    <h1 class="text-xl text-right font-karla text-gray-200"><%= i.limits.disk %> MB</h1>
                                                    <span class="text-gray-300 text-sm text-right">Of Storage</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full flex flex-col p-4 lg:p-2">
                                            <div class="flex justify-between items-center w-full">
                                                <div
                                                    class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                                                      </svg>                                              
                                                </div>
                                                <div class="flex flex-col">
                                                    <h1 class="text-xl text-right font-karla text-gray-200"><%= i.limits.cpu %> %</h1>
                                                    <span class="text-gray-300 text-sm text-right">Of CPU</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full flex flex-col p-4 lg:p-2">
                                            <div class="flex justify-between items-center w-full">
                                                <div
                                                    class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                                                      </svg>                                              
                                                </div>
                                                <div class="flex flex-col">
                                                    <h1 class="text-xl text-right font-karla text-gray-200"><%= i.feature_limits.databases %></h1>
                                                    <span class="text-gray-300 text-sm text-right">Database (s)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full flex flex-col p-4 lg:p-2">
                                            <div class="flex justify-between items-center w-full">
                                                <div
                                                    class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.288 15.038a5.25 5.25 0 0 1 7.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 0 1 1.06 0Z" />
                                                      </svg>                                              
                                                </div>
                                                <div class="flex flex-col">
                                                    <h1 class="text-xl text-right font-karla text-gray-200"><%= i.feature_limits.allocations %></h1>
                                                    <span class="text-gray-300 text-sm text-right">Allocation (s)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full flex flex-col p-4 lg:p-2">
                                            <div class="flex justify-between items-center w-full">
                                                <div
                                                    class="bg-zinc-900 h-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-xl shadow-lg text-gray-400 rounded-xl p-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                                                      </svg>                                              
                                                </div>
                                                <div class="flex flex-col">
                                                    <h1 class="text-xl text-right font-karla text-gray-200"><%= i.feature_limits.backups %></h1>
                                                    <span class="text-gray-300 text-sm text-right">Backup (s)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <span class="text-gray-300 text-center text-md"><%= lang.servers.noServers %></span>
                    <% } %>
                </div>
            </div>
        </main>
            <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>