<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main
                class="p-4 md:ml-64 z-20 -mt-12 max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
                <div id="content">
                    <%- include('../partials/links') %>
                    <div id="page" class="relative">
                        <div class="mt-4 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 w-full">
                            <div class="bg-zinc-900/50 h-max relative border border-zinc-800/80 rounded-xl p-2 w-full">
                                <h1 class="text-gray-100 text-xl">Change software</h1>
                                <p class="text-gray-400">Warning, taking a backup is always recommended!</p>
                                <div class="mt-2">
                                    <h1 class="text-gray-300">Select the server software:</h1>
                                    <select class="p-2 bg-zinc-950 outline-none border border-zinc-800/80 rounded-xl w-full text-gray-300">
                                        <option value="">Paper</option>
                                        </select>
                                </div>
                                <button class="p-2 bg-rose-700/50 mt-2 w-full border border-rose-700 rounded-xl text-rose-400">
                                    Update
                                </button>
                            </div>
                            <div class="bg-zinc-900/50 h-max relative border border-zinc-800/80 rounded-xl p-2 w-full">
                                <h1 class="text-gray-100 text-xl">Rename server</h1>
                                <p class="text-gray-400">Rename your server.</p>
                                <div class="mt-2">
                                    <h1 class="text-gray-300">Type your new server name:</h1>
                                    <input type="text" value="My Server" class="p-2 bg-zinc-950 outline-none border border-zinc-800/80 rounded-xl w-full text-gray-300">
                                </div>
                                <button class="p-2 bg-zinc-950 mt-2 w-full border border-zinc-800/80 rounded-xl text-gray-300">
                                    Update
                                </button>
                            </div>
                            <div class="bg-zinc-900/50 h-max justify-between border items-center border-zinc-800/80 rounded-xl p-2 w-full">
                                <h1 class="text-gray-100 text-xl">Danger Zone</h1>
                                <p class="text-gray-400">Warning, these are permanent actions and cannot be reverted!</p>
                                <button class="p-2 bg-rose-700/50 mt-2 w-full border border-rose-700 rounded-xl text-rose-400">
                                    Reinstall
                                </button>
                                <button onclick="display('delete')" class="p-2 bg-rose-700/50 mt-2 w-full border border-rose-700 rounded-xl text-rose-400">
                                    Delete
                                </button>
                                <button class="p-2 bg-rose-700/50 mt-2 w-full border border-rose-700 rounded-xl text-rose-400">
                                    Transfer Ownership (Coming soon!)
                                </button>
                            </div>
                        </div>
                        <div class="mt-4 border border-zinc-800/80 bg-zinc-900/50 rounded-xl p-2">
                            <h1 class="text-gray-100 text-xl text-center">Modify server resources</h1>
                            <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                                <div class="flex flex-col">
                                    <p class="text-gray-300">
                                        Memory (in MB) [1GB = 1024MB]:
                                    </p>
                                    <input placeholder="1024" value="1024" type="number" class="outline-none text-gray-200 placeholder-gray-400 bg-zinc-950 rounded-xl w-full p-2 border border-zinc-800/80">
                                </div>
                                <div class="flex flex-col">
                                    <p class="text-gray-300">
                                        Storage (in MB) [1GB = 1024MB]:
                                    </p>
                                    <input placeholder="1024" value="1024" type="number" class="outline-none text-gray-200 placeholder-gray-400 bg-zinc-950 rounded-xl w-full p-2 border border-zinc-800/80">
                                </div>
                                <div class="flex flex-col">
                                    <p class="text-gray-300">
                                        CPU (in %) [1 core = 100%]:
                                    </p>
                                    <input placeholder="100" value="100" type="number" class="outline-none text-gray-200 placeholder-gray-400 bg-zinc-950 rounded-xl w-full p-2 border border-zinc-800/80">
                                </div>
                                <div class="flex flex-col">
                                    <p class="text-gray-300">
                                        Allocations:
                                    </p>
                                    <input placeholder="1" value="1" type="number" class="outline-none text-gray-200 placeholder-gray-400 bg-zinc-950 rounded-xl w-full p-2 border border-zinc-800/80">
                                </div>
                                <div class="flex flex-col">
                                    <p class="text-gray-300">
                                        Databases:
                                    </p>
                                    <input placeholder="1" value="1" type="number" class="outline-none text-gray-200 placeholder-gray-400 bg-zinc-950 rounded-xl w-full p-2 border border-zinc-800/80">
                                </div>
                                <div class="flex flex-col">
                                    <p class="text-gray-300">
                                        Backups:
                                    </p>
                                    <input placeholder="1" value="1" type="number" class="outline-none text-gray-200 placeholder-gray-400 bg-zinc-950 rounded-xl w-full p-2 border border-zinc-800/80">
                                </div>
                            </div>
                            <button class="text-gray-200 bg-zinc-950 mt-4 rounded-xl w-full p-2 border border-zinc-800/80">Update</button>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>