<<<<<<< HEAD
<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main
                class="p-4 md:ml-64 z-20 -mt-12 max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
                <div id="content">
                    <div class="flex justify-between items-center w-full">
                        <div class="flex space-x-4 items-center">
                            <div
                                class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="w-6 h-6">
                                    <path fill-rule="evenodd"
                                        d="M12.963 2.286a.75.75 0 0 0-1.071-.136 9.742 9.742 0 0 0-3.539 6.176 7.547 7.547 0 0 1-1.705-1.715.75.75 0 0 0-1.152-.082A9 9 0 1 0 15.68 4.534a7.46 7.46 0 0 1-2.717-2.248ZM15.75 14.25a3.75 3.75 0 1 1-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 0 1 1.925-3.546 3.75 3.75 0 0 1 3.255 3.718Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="flex flex-col justify-between w-full">
                                <h1 class="text-gray-200 font-semibold text-xl">My Server</h1>
                                <span class="text-gray-300 text-md">Description.</span>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 w-1/2 md:w-1/4 md:grid-cols-3 gap-2 items-center">
                            <button
                                class="border w-full border-emerald-700 bg-emerald-700/50 text-emerald-400 py-2 rounded-full">
                                Start
                            </button>
                            <button
                                class="border w-full border-amber-700 bg-amber-700/50 text-amber-400 py-2 rounded-full">
                                Retart
                            </button>
                            <button
                                class="border w-full border-rose-700 bg-rose-700/50 text-rose-400 py-2 rounded-full">
                                Stop
                            </button>
                        </div>
                    </div>
                    <ul id="serverLinks"
                        class="w-full flex xl:justify-between border-t mt-4 space-x-4 border-zinc-800/80 overflow-x-scroll xl:overflow-hidden py-2">

                    </ul>
                    <div id="page" class="relative">
                        <div class="mt-4 flex flex-col space-y-1 w-full">
                            <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 mb-3">
                                <div class="w-full col-span-2 rounded-xl bg-zinc-900/50 p-4 border border-zinc-800/80">
                                    <h1 class="text-zinc-300 text-lg">
                                        Create a subdomain
                                    </h1>
                                    <div class="mt-4 w-full grid grid-cols-2 gap-4">
                                        <div class="w-full">
                                            <span class="text-zinc-400">Subdomain:</span>
                                            <input type="text" placeholder="holasmp" class="w-full rounded-xl p-2 bg-zinc-900 outline-none text-zinc-300 placeholder-zinc-400">
                                        </div>
                                        <div class="w-full">
                                            <span class="text-zinc-400">Domain:</span>
                                            <select class="w-full rounded-xl p-2 bg-zinc-900 outline-none text-zinc-300 placeholder-zinc-400">
                                                <option value="holaclientx.tech">holaclientx.tech</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full rounded-xl bg-zinc-900/50 p-4 border border-zinc-800/80">
                                    
                                </div>
                            </div>
                            <div class="w-full p-2 px-4 flex items-center justify-between rounded-xl bg-zinc-900/50 border border-zinc-800/80">
                                <div class="flex flex-col">
                                    <h1 class="text-zinc-300 text-lg">
                                        develop-server.holaclient.local
                                    </h1>
                                    <span class="text-zinc-400 text-xs">points to <span class="text-zinc-300">develop.holaclient.local:25565</span></span>
                                </div>
                                <button class="rounded-2xl p-2 bg-zinc-900 text-rose-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                        <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
=======
<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main
                class="p-4 md:ml-64 z-20 -mt-12 max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
                <div id="content">
                    <div class="flex justify-between items-center w-full">
                        <div class="flex space-x-4 items-center">
                            <div
                                class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="w-6 h-6">
                                    <path fill-rule="evenodd"
                                        d="M12.963 2.286a.75.75 0 0 0-1.071-.136 9.742 9.742 0 0 0-3.539 6.176 7.547 7.547 0 0 1-1.705-1.715.75.75 0 0 0-1.152-.082A9 9 0 1 0 15.68 4.534a7.46 7.46 0 0 1-2.717-2.248ZM15.75 14.25a3.75 3.75 0 1 1-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 0 1 1.925-3.546 3.75 3.75 0 0 1 3.255 3.718Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="flex flex-col justify-between w-full">
                                <h1 class="text-gray-200 font-semibold text-xl">My Server</h1>
                                <span class="text-gray-300 text-md">Description.</span>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 w-1/2 md:w-1/4 md:grid-cols-3 gap-2 items-center">
                            <button
                                class="border w-full border-emerald-700 bg-emerald-700/50 text-emerald-400 py-2 rounded-full">
                                Start
                            </button>
                            <button
                                class="border w-full border-amber-700 bg-amber-700/50 text-amber-400 py-2 rounded-full">
                                Retart
                            </button>
                            <button
                                class="border w-full border-rose-700 bg-rose-700/50 text-rose-400 py-2 rounded-full">
                                Stop
                            </button>
                        </div>
                    </div>
                    <ul id="serverLinks"
                        class="w-full flex xl:justify-between border-t mt-4 space-x-4 border-zinc-800/80 overflow-x-scroll xl:overflow-hidden py-2">

                    </ul>
                    <div id="page" class="relative">
                        <img src="https://cdn.holaclientx.tech/logo.png" alt="logo" onload="getSubdomains()" class="size-0">
                        <div class="mt-4 flex flex-col space-y-1 w-full">
                            <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 mb-3">
                                <div class="w-full col-span-2 rounded-xl bg-zinc-900/50 p-4 border border-zinc-800/80">
                                    <h1 class="text-zinc-300 text-lg">
                                        Create a subdomain
                                    </h1>
                                    <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-3 gap-4">
                                        <div class="w-full">
                                            <span class="text-zinc-400">Subdomain:</span>
                                            <input id="subdomain" type="text" placeholder="holasmp" class="w-full rounded-xl p-2 bg-zinc-900 outline-none text-zinc-300 placeholder-zinc-400">
                                        </div>
                                        <div class="w-full">
                                            <span class="text-zinc-400">Domain:</span>
                                            <select id="subdomainsDomainsAvailableListForServerSubdomainDeployments" class="w-full rounded-xl p-2 bg-zinc-900 outline-none text-zinc-300 placeholder-zinc-400"></select>
                                        </div>
                                        <div class="w-full">
                                            <span class="text-zinc-400">Proceed:</span>
                                            <button onclick="createSubdomain()" class="w-full rounded-xl p-2 bg-zinc-900 outline-none text-zinc-300 placeholder-zinc-400">
                                                Create
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            <div class="flex flex-col justify-center overflow-hidden items-center bg-zinc-900/50 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-3xl p-3">
                                <div class="absolute -left-14 -top-14 opacity-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-40 rotate-0">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15a4.5 4.5 0 0 0 4.5 4.5H18a3.75 3.75 0 0 0 1.332-7.257 3 3 0 0 0-3.758-3.848 5.25 5.25 0 0 0-10.233 2.33A4.502 4.502 0 0 0 2.25 15Z" />
                                      </svg>                                      
                                </div>
                                <div class="absolute opacity-50">
                                    <h1 class="font-rajdhani font-semibold text-4xl text-transparent bg-gradient-to-br from-white to-transparent bg-clip-text">
                                        SUBDOMAINS
                                    </h1>
                                </div>
                                <div class="bg-zinc-800/50 group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                        <path fill-rule="evenodd" d="M4.5 9.75a6 6 0 0 1 11.573-2.226 3.75 3.75 0 0 1 4.133 4.303A4.5 4.5 0 0 1 18 20.25H6.75a5.25 5.25 0 0 1-2.23-10.004 6.072 6.072 0 0 1-.02-.496Z" clip-rule="evenodd" />
                                    </svg>                                                                           
                                </div>
                                <h1 class="text-gray-200 mt-2 text-3xl font-karla" id="usedSubdomains">---</h1> 
                                <span class="text-gray-300" id="totalSubdomains">---</span>
                            </div>
                            </div>
                            <div class="w-full mt-4" id="subdomainsList"></div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
>>>>>>> 15c6370 (25-06.resources)
</html>