<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
                <img src="https://cdn.holaclientx.tech/logo.png" onload="billing()" alt="lo" class="w-0 h-0">
                <div class="flex space-x-4 items-center">
                    <div
                        class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path d="M4.5 3.75a3 3 0 0 0-3 3v.75h21v-.75a3 3 0 0 0-3-3h-15Z" />
                            <path fill-rule="evenodd" d="M22.5 9.75h-21v7.5a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-7.5Zm-18 3.75a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 0 1.5h-6a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z" clip-rule="evenodd" />
                          </svg>                              
                    </div>
                    <div class="flex flex-col justify-between w-full">
                        <h1 class="text-gray-200 font-semibold text-xl"><%= lang.admin.billing.home %></h1>
                        <span class="text-gray-300 text-md"><%= lang.admin.billing.homeText %></span>
                    </div>
                </div>
                <div class="justify-between w-full mt-4 items-center">
                    <div class="grid grid-cols-1 md:grid-cols-3 w-full gap-4">
                        <div
                            class="flex flex-col justify-center overflow-hidden items-center bg-zinc-900/50 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-3xl p-3">
                            <h1 class="text-gray-200 mt-2 text-3xl font-karla" id="revenue">---</h1> <span
                                class="text-gray-300"><%= lang.admin.home.revenue %></span>
                        </div>
                        <div
                            class="flex flex-col justify-center overflow-hidden items-center bg-zinc-900/50 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-3xl p-3">
                            <h1 class="text-gray-200 mt-2 text-3xl font-karla" id="services">---</h1> <span
                                class="text-gray-300">Services sold</span>
                        </div>
                        <div
                            class="flex flex-col justify-center overflow-hidden items-center bg-zinc-900/50 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-3xl p-3">
                            <h1 class="text-gray-200 mt-2 text-3xl font-karla" id="gateways">---</h1> <span
                                class="text-gray-300">Gateways active</span>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full mt-4">
                        <div class="rounded-xl w-full bg-zinc-900/50 border border-zinc-800/80">
                            <div class="px-4 py-4 w-full items-center flex justify-between text-gray-300">
                                <h1 class="text-xl w-max flex items-center">More options</h1>
                            </div>
                            <div class="w-full bg-zinc-800/80 h-0.5 rounded-full"></div>
                            <div class="w-full h-full p-4 text-gray-300 flex flex-col">
                                <div class="flex w-full flex-col">
                                    <h1 class="text-gray-200 text-xl">Gateways:</h1>
                                    <p class="text-gray-300">Manage your billing gateways.</p>
                                    <button onclick="render('admin/billing/gateways')" class="mt-2 rounded-full hover:bg-zinc-900/80 hover:duration-300 duration-300 cursor-pointer py-2 px-5 bg-zinc-900/50 border border-zinc-800/80">
                                        Manage Gateways
                                    </button>
                                </div>
                                <div class="flex w-full flex-col mt-4">
                                    <h1 class="text-gray-200 text-xl">Invoices:</h1>
                                    <p class="text-gray-300">Manage user generated invoices.</p>
                                    <button onclick="render('admin/billing/invoices')" class="mt-2 rounded-full hover:bg-zinc-900/80 hover:duration-300 duration-300 cursor-pointer py-2 px-5 bg-zinc-900/50 border border-zinc-800/80">
                                        Manage Invoices
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
            <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>