<head>
   <%- include('../components/header') %>
   <!-- Vector CSS -->
   <link href="../../../assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
   <!-- simplebar CSS-->
   <link href="../../../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
   <!-- Bootstrap core CSS-->
   <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
   <!-- animate CSS-->
   <link href="../../../assets/css/animate.css" rel="stylesheet" type="text/css"/>
   <!-- Icons CSS-->
   <link href="../../../assets/css/icons.css" rel="stylesheet" type="text/css"/>
   <!-- Sidebar CSS-->
   <link href="../../../assets/css/sidebar-menu.css" rel="stylesheet"/>
   <!-- Custom Style-->
   <link href="../../../assets/css/app-style.css" rel="stylesheet"/>
 </head>
 <body>
   <!-- Start wrapper-->
   <div id="wrapper">
      <%- include('../components/alert') %>
      <%- include('../components/menu') %>
      <%- include('../components/topnav') %>
      <div class="clearfix"></div>
      <div class="content-wrapper">
         <div class="container-fluid">
      <div class="row mt-3">
         <div class="col-lg-6">
            <div class="card">
               <div class="card-body">
                  <div class="card-title">Add Coins</div>
                  <hr>
                  <form action="/addcoins">
                     <div class="form-group">
                        <label for="input-6">Email:</label>
                        <input type="email" id="email" name="email" class="form-control form-control-rounded" placeholder="testify@holaclient.tech">
                     </div>
                     <div class="form-group">
                        <label for="input-7">Coins:</label>
                        <input type="text" id="coins" name="coins" class="form-control form-control-rounded" placeholder="coins">
                     </div>
                     <div class="form-group">
                        <button role="button" class="btn btn-light btn-round px-5"><i class="bi bi-coin"></i> Add Coins</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="card">
               <div class="card-body">
                  <div class="card-title">Set Coins</div>
                  <hr>
                  <form action="/setcoins">
                     <div class="form-group">
                        <label for="input-6">Email:</label>
                        <input type="email" id="email" name="email" class="form-control form-control-rounded" placeholder="testify@holaclient.tech">
                     </div>
                     <div class="form-group">
                        <label for="input-7">Coins:</label>
                        <input type="number" id="coins" name="coins" class="form-control form-control-rounded" placeholder="coins">
                     </div>
                     <div class="form-group">
                        <button role="button" class="btn btn-light btn-round px-5"><i class="bi bi-coin"></i> Set Coins</button>
                     </div>
                  </form>
               </div>
            </div>
      </div>
   </div>
   <%- include('../components/footer') %>
      </div>
   </div>
 </body>
 <div class="overlay toggle-menu"></div>
 <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
 <script src="../../../assets/js/jquery.min.js"></script>
 <script src="../../../assets/js/popper.min.js"></script>
 <script src="../../../assets/js/bootstrap.min.js"></script>
 <script src="../../../assets/plugins/simplebar/js/simplebar.js"></script>
 <script src="../../../assets/js/sidebar-menu.js"></script>
 <script src="../../../assets/js/app-script.js"></script>