<head>
  <%- include('../components/header') %>
  <!-- Vector CSS -->
  <link href="../../../assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
  <!-- simplebar CSS-->
  <link href="../../../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="../../../assets/css/animate.css" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="../../../assets/css/icons.css" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="../../../assets/css/sidebar-menu.css" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="../../../assets/css/app-style.css" rel="stylesheet"/>
</head>
<body>
  <!-- Start wrapper-->
  <div id="wrapper">
     <%- include('../components/menu') %>
     <%- include('../components/topnav') %>
     <%- include('../components/alert') %>
     <div class="clearfix"></div>
     <div class="content-wrapper">
        <div class="container-fluid">
     <div class="row mt-3">
        <div class="col-lg-6">
           <div class="card">
              <div class="card-body">
                 <div class="card-title">Add Resources</div>
                 <hr>
                 <div class="form-group">
                    <label for="input-6">Email:</label>
                    <input type="email" id="IDAdd" name="IDAdd" class="form-control form-control-rounded" placeholder="testify@holaclient.tech">
                 </div>
                 <div class="form-group">
                    <label for="input-7">RAM:</label>
                    <input type="number" id="AddRAM" name="AddRAM" class="form-control form-control-rounded" placeholder="1024">
                 </div>
                 <div class="form-group">
                    <label for="input-6">CPU:</label>
                    <input type="number" id="AddCPU" name="AddCPU" class="form-control form-control-rounded" placeholder="100">
                 </div>
                 <div class="form-group">
                    <label for="input-7">Disk:</label>
                    <input type="number" id="AddDisk" name="AddDISK" class="form-control form-control-rounded" placeholder="1024">
                 </div>
                 <div class="form-group">
                    <label for="input-6">Slots:</label>
                    <input type="number" id="AddServers" name="AddServers" class="form-control form-control-rounded" placeholder="1">
                 </div>
                 <div class="form-group">
                  <label for="input-6">Backups:</label>
                  <input type="number" id="AddBackups" name="AddBackups" class="form-control form-control-rounded" placeholder="1">
               </div>
               <div class="form-group">
                  <label for="input-6">Allocations:</label>
                  <input type="number" id="AddAllocations" name="AddAllocations" class="form-control form-control-rounded" placeholder="1">
               </div>
               <div class="form-group">
                  <label for="input-6">Databases:</label>
                  <input type="number" id="AddDatabases" name="AddDatabases" class="form-control form-control-rounded" placeholder="1">
               </div>
                 <div class="form-group">
                    <a onclick="submitAdd()" class="btn btn-light btn-round px-5"> Add Resources</a>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-lg-6">
           <div class="card">
              <div class="card-body">
                 <div class="card-title">Set Resources</div>
                 <hr>
                 <div class="form-group">
                    <label for="input-6">Email:</label>
                    <input type="email" id="IDSet" name="id" class="form-control form-control-rounded" placeholder="testify@holaclient.tech">
                 </div>
                 <div class="form-group">
                    <label for="input-7">RAM:</label>
                    <input type="number" id="SetRAM" class="form-control form-control-rounded" placeholder="1024">
                 </div>
                 <div class="form-group">
                    <label for="input-6">CPU:</label>
                    <input type="number" id="SetCPU" class="form-control form-control-rounded" placeholder="100">
                 </div>
                 <div class="form-group">
                    <label for="input-7">Disk:</label>
                    <input type="number" id="SetDisk" class="form-control form-control-rounded" placeholder="1024">
                 </div>
                 <div class="form-group">
                    <label for="input-6">Slots:</label>
                    <input type="number" id="SetServers" class="form-control form-control-rounded" placeholder="1">
                 </div>
                 <div class="form-group">
                  <label for="input-6">Backups:</label>
                  <input type="number" id="SetBackups" class="form-control form-control-rounded" placeholder="1">
               </div>
               <div class="form-group">
                  <label for="input-6">Allocations:</label>
                  <input type="number" id="SetAllocations" class="form-control form-control-rounded" placeholder="1">
               </div>
               <div class="form-group">
                  <label for="input-6">Databases:</label>
                  <input type="number" id="SetDatabases" class="form-control form-control-rounded" placeholder="1">
               </div>
                 <div class="form-group">
                    <a onclick="submitSet()" class="btn btn-light btn-round px-5"> Set Resources</a>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="row mt-3">
      <div class="col-lg-6">
         <div class="card">
            <div class="card-body">
               <div class="card-title">Remove Resources</div>
               <hr>
               <div class="form-group">
                  <label for="input-6">Email:</label>
                  <input type="email" id="IDRemove" name="IDAdd" class="form-control form-control-rounded" placeholder="testify@holaclient.tech">
               </div>
               <div class="form-group">
                  <label for="input-7">RAM:</label>
                  <input type="number" id="RemoveRAM" name="AddRAM" class="form-control form-control-rounded" placeholder="1024">
               </div>
               <div class="form-group">
                  <label for="input-6">CPU:</label>
                  <input type="number" id="RemoveCPU" name="AddCPU" class="form-control form-control-rounded" placeholder="100">
               </div>
               <div class="form-group">
                  <label for="input-7">Disk:</label>
                  <input type="number" id="RemoveDisk" name="AddDISK" class="form-control form-control-rounded" placeholder="1024">
               </div>
               <div class="form-group">
                  <label for="input-6">Slots:</label>
                  <input type="number" id="RemoveServers" name="AddServers" class="form-control form-control-rounded" placeholder="1">
               </div>
               <div class="form-group">
                <label for="input-6">Backups:</label>
                <input type="number" id="RemoveBackups" name="AddBackups" class="form-control form-control-rounded" placeholder="1">
             </div>
             <div class="form-group">
                <label for="input-6">Allocations:</label>
                <input type="number" id="RemoveAllocations" name="AddAllocations" class="form-control form-control-rounded" placeholder="1">
             </div>
             <div class="form-group">
                <label for="input-6">Databases:</label>
                <input type="number" id="RemoveDatabases" name="AddDatabases" class="form-control form-control-rounded" placeholder="1">
             </div>
               <div class="form-group">
                  <a onclick="submitRemove()" class="btn btn-light btn-round px-5"> Remove Resources</a>
               </div>
            </div>
         </div>
      </div>
   </div>
     <%- include('../components/footer') %>
     <!-- Include Bootstrap 5 JS -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
     <!-- Include Bootstrap 5 CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">
  </div>
</body>
</html>
</body>
<script>
  async function submitSet() {
      let id = encodeURIComponent(document.getElementById("IDSet").value);
      let cpu = encodeURIComponent(document.getElementById("SetCPU").value);
      let ram = encodeURIComponent(document.getElementById("SetRAM").value);
      let disk = encodeURIComponent(document.getElementById("SetDisk").value);
      let servers = encodeURIComponent(document.getElementById("SetServers").value);
      let backups = encodeURIComponent(document.getElementById("SetBackups").value);
      let allocations = encodeURIComponent(document.getElementById("SetAllocations").value);
      let databases = encodeURIComponent(document.getElementById("SetDatabases").value);
      window.location.href = "/setresources?email=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers + "&backups=" + backups + "&allocations=" + allocations + "&databases=" + databases
  }
  async function submitAdd() {
      let id = encodeURIComponent(document.getElementById("IDAdd").value);
      let cpu = encodeURIComponent(document.getElementById("AddCPU").value);
      let ram = encodeURIComponent(document.getElementById("AddRAM").value);
      let disk = encodeURIComponent(document.getElementById("AddDisk").value);
      let servers = encodeURIComponent(document.getElementById("AddServers").value);
      let backups = encodeURIComponent(document.getElementById("AddBackups").value);
      let allocations = encodeURIComponent(document.getElementById("AddAllocations").value);
      let databases = encodeURIComponent(document.getElementById("AddDatabases").value);
      window.location.href = "/addresources?email=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers + "&backups=" + backups + "&allocations=" + allocations + "&databases=" + databases
  }
  async function submitRemove() {
      let id = encodeURIComponent(document.getElementById("IDRemove").value);
      let cpu = encodeURIComponent(document.getElementById("RemoveCPU").value);
      let ram = encodeURIComponent(document.getElementById("RemoveRAM").value);
      let disk = encodeURIComponent(document.getElementById("RemoveDisk").value);
      let servers = encodeURIComponent(document.getElementById("RemoveServers").value);
      let backups = encodeURIComponent(document.getElementById("RemoveBackups").value);
      let allocations = encodeURIComponent(document.getElementById("RemoveAllocations").value);
      let databases = encodeURIComponent(document.getElementById("RemoveDatabases").value);
      window.location.href = "/removeresources?email=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers + "&backups=" + backups + "&allocations=" + allocations + "&databases=" + databases
  }
</script>
<!--start overlay-->
<div class="overlay toggle-menu"></div>
<!--end overlay-->
<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->
<!-- Bootstrap core JavaScript-->
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/js/popper.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<!-- simplebar js -->
<script src="../../../assets/plugins/simplebar/js/simplebar.js"></script>
<!-- sidebar-menu js -->
<script src="../../../assets/js/sidebar-menu.js"></script>
<!-- Custom scripts -->
<script src="../../../assets/js/app-script.js"></script>
