<<<<<<< HEAD
<%- include('./partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('./partials/nav') %>
            <%- include('./partials/aside') %>
            <main
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
                <div class="flex space-x-4 items-center">
                    <div class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                          </svg>                              
                    </div>
                    <div class="flex flex-col justify-between w-full">
                        <h1 class="text-gray-200 font-semibold text-xl"><%= lang.account.title %></h1>
                        <span class="text-gray-300 text-md"><%= lang.account.titleText %></span>
                    </div>
                </div>
                <div id="passwordBox" class="text-zinc-300 hidden mt-4 w-full rounded-xl p-2 bg-zinc-900/50 border border-zinc-100/10"></div>
                <div class="w-full mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="relative w-full rounded-xl border border-zinc-100/10">
                        <div class="w-full rounded-t-xl h-40 bg-cover bg-center bg-[url('https://cdn.holaclientx.tech/production/assets/plain.png')]">
                            <div class="w-full h-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-zinc-950"></div>
                        </div>
                        <div class="absolute rounded-xl top-28 left-8 flex items-end space-x-4">
                            <img src="https://cdn.discordapp.com/avatars/863452735998656512/127dc355eb6e4a095f86d3d9c1942a53" alt="user" class="size-20 rounded-xl">
                            <div class="flex flex-col">
                                <h1 class="text-zinc-300 font-bold text-xl">CR072</h1>
                                <span class="text-zinc-400">@crazymath072</span>
                            </div>
                        </div>
                        <div class="mt-12 mb-2 w-full px-2">
                            <div class="grid grid-cols-2 gap-4">
                                <button onclick="showTab('acc-edit')" class="w-full rounded-xl bg-zinc-900/50 p-2 text-center text-zinc-400 hover:text-zinc-300 hover:bg-zinc-900 duration-300 transition-all flex justify-center items-center space-x-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                                        <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                                        <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                                    </svg>
                                    <span>Manage profile</span>
                                </button>
                                <button onclick="regenPassword()" class="w-full rounded-xl bg-zinc-900/50 p-2 text-center text-zinc-400 hover:text-zinc-300 hover:bg-zinc-900 duration-300 transition-all flex justify-center items-center space-x-2">
                                    <span>Change password</span>
                                </button>
                            </div>
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
                                <button onclick="render('servers')" aria-label="servers" class="w-full rounded-xl border border-zinc-100/10 hover:text-zinc-300 hover:border-t-zinc-100/10 hover:shadow hover:shadow-black hover:border-transparent hover:bg-zinc-900/50 duration-300 transition-all p-2 text-center text-zinc-400">
                                    <%= servers.length ?? 0 %> servers
                                </button>
                                <button onclick="render('tickets')" aria-label="servers" class="w-full rounded-xl border border-zinc-100/10 hover:text-zinc-300 hover:border-t-zinc-100/10 hover:shadow hover:shadow-black hover:border-transparent hover:bg-zinc-900/50 duration-300 transition-all p-2 text-center text-zinc-400">
                                    <%= tickets.length ?? 0 %> tickets
                                </button>
                                <button onclick="render('friends')" aria-label="servers" class="w-full rounded-xl border border-zinc-100/10 hover:text-zinc-300 hover:border-t-zinc-100/10 hover:shadow hover:shadow-black hover:border-transparent hover:bg-zinc-900/50 duration-300 transition-all p-2 text-center text-zinc-400">
                                    0 friends
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="w-full border border-zinc-100/10 rounded-xl p-4">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div class="flex flex-col">
                                <span class="text-zinc-400">Username:</span>
                                <input type="text" placeholder="<%= userinfo.username %>" value="<%= userinfo.username %>" class="w-full bg-zinc-900/50 placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-zinc-400">Email:</span>
                                <input type="text" placeholder="<%= userinfo.email %>" value="<%= userinfo.email %>" class="w-full bg-zinc-900/50 placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-zinc-400">First name:</span>
                                <input type="text" placeholder="<%= userinfo.name.first %>" value="<%= userinfo.name.first %>" class="w-full bg-zinc-900/50 placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-zinc-400">Last name:</span>
                                <input type="text" placeholder="<%= userinfo.name.last %>" value="<%= userinfo.name.last %>" class="w-full bg-zinc-900/50 placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-zinc-400">Nickname:</span>
                                <input type="text" placeholder="<%= userinfo.nickname %>" value="<%= userinfo.nickname %>" class="w-full bg-zinc-900/50 placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-zinc-400">Language:</span>
                                <div class="relative flex items-center justify-end">
                                    <select class="w-full bg-zinc-900/50 appearance-none placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                                        <option value="en">English</option>
                                    </select>
                                    <div class="absolute pr-2 text-zinc-400">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                            <path fill-rule="evenodd" d="M11.47 4.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1-1.06 1.06L12 6.31 8.78 9.53a.75.75 0 0 1-1.06-1.06l3.75-3.75Zm-3.75 9.75a.75.75 0 0 1 1.06 0L12 17.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-3.75 3.75a.75.75 0 0 1-1.06 0l-3.75-3.75a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                        </svg>                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button onclick="toastr.error('24U1 my ass!')" class="w-full hidden rounded-xl bg-zinc-900/50 border-t border-zinc-100/10 shadow shadow-black mt-4 p-2 text-center text-zinc-400 hover:text-zinc-300 hover:bg-zinc-900 duration-300 transition-all justify-center items-center space-x-2">
                            <span>Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </main>
            <%- include('./partials/footer') %>
        </div>
    </div>
    </div>
</body>
=======
<%- include('./partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('./partials/nav') %>
            <%- include('./partials/aside') %>
            <main
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
                <div class="flex space-x-4 items-center">
                    <div class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                          </svg>                              
                    </div>
                    <div class="flex flex-col justify-between w-full">
                        <h1 class="text-gray-200 font-semibold text-xl"><%= lang.account.title %></h1>
                        <span class="text-gray-300 text-md"><%= lang.account.titleText %></span>
                    </div>
                </div>
                <div id="passwordBox" class="text-zinc-300 hidden mt-4 w-full rounded-xl p-2 bg-zinc-900/50 border border-zinc-100/10"></div>
                <div class="w-full mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="relative w-full rounded-xl border border-zinc-100/10">
                        <div class="w-full rounded-t-xl h-40 bg-cover bg-center bg-[url('https://cdn.holaclientx.tech/production/assets/plain.png')]">
                            <div class="w-full h-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-zinc-950"></div>
                        </div>
                        <div class="absolute rounded-xl top-28 left-8 flex items-end space-x-4">
                            <img src="<%= userinfo.avatar %>" alt="user" class="size-20 rounded-xl">
                            <div class="flex flex-col">
                                <h1 class="text-zinc-300 font-bold text-xl"><%= userinfo.nickname %></h1>
                                <span class="text-zinc-400">@<%= userinfo.username %></span>
                            </div>
                        </div>
                        <div class="mt-12 mb-2 w-full px-2">
                            <div class="grid grid-cols-2 gap-4">
                                <button onclick="showTab('acc-edit')" class="w-full rounded-xl bg-zinc-900/50 p-2 text-center text-zinc-400 hover:text-zinc-300 hover:bg-zinc-900 duration-300 transition-all flex justify-center items-center space-x-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                                        <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                                        <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                                    </svg>
                                    <span>Manage profile</span>
                                </button>
                                <button onclick="regenPassword()" class="w-full rounded-xl bg-zinc-900/50 p-2 text-center text-zinc-400 hover:text-zinc-300 hover:bg-zinc-900 duration-300 transition-all flex justify-center items-center space-x-2">
                                    <span>Change password</span>
                                </button>
                            </div>
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
                                <button onclick="render('servers')" aria-label="servers" class="w-full rounded-xl border border-zinc-100/10 hover:text-zinc-300 hover:border-t-zinc-100/10 hover:shadow hover:shadow-black hover:border-transparent hover:bg-zinc-900/50 duration-300 transition-all p-2 text-center text-zinc-400">
                                    <%= servers.length ?? 0 %> servers
                                </button>
                                <button onclick="render('tickets')" aria-label="servers" class="w-full rounded-xl border border-zinc-100/10 hover:text-zinc-300 hover:border-t-zinc-100/10 hover:shadow hover:shadow-black hover:border-transparent hover:bg-zinc-900/50 duration-300 transition-all p-2 text-center text-zinc-400">
                                    <%= tickets.length ?? 0 %> tickets
                                </button>
                                <button onclick="render('friends')" aria-label="servers" class="w-full rounded-xl border border-zinc-100/10 hover:text-zinc-300 hover:border-t-zinc-100/10 hover:shadow hover:shadow-black hover:border-transparent hover:bg-zinc-900/50 duration-300 transition-all p-2 text-center text-zinc-400">
                                    0 friends
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="w-full border border-zinc-100/10 rounded-xl p-4">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div class="flex flex-col">
                                <span class="text-zinc-400">Username:</span>
                                <input type="text" placeholder="<%= userinfo.username %>" value="<%= userinfo.username %>" class="w-full bg-zinc-900/50 placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-zinc-400">Email:</span>
                                <input type="text" placeholder="<%= userinfo.email %>" value="<%= userinfo.email %>" class="w-full bg-zinc-900/50 placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-zinc-400">First name:</span>
                                <input type="text" placeholder="<%= userinfo.name.first %>" value="<%= userinfo.name.first %>" class="w-full bg-zinc-900/50 placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-zinc-400">Last name:</span>
                                <input type="text" placeholder="<%= userinfo.name.last %>" value="<%= userinfo.name.last %>" class="w-full bg-zinc-900/50 placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-zinc-400">Nickname:</span>
                                <input type="text" placeholder="<%= userinfo.nickname %>" value="<%= userinfo.nickname %>" class="w-full bg-zinc-900/50 placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-zinc-400">Language:</span>
                                <div class="relative flex items-center justify-end">
                                    <select class="w-full bg-zinc-900/50 appearance-none placeholder-zinc-400 text-zinc-300 rounded-xl border-b border-zinc-100/10 shadow shadow-black p-2 outline-none focus:pl-3 duration-300 transition-all">
                                        <option value="en">English</option>
                                    </select>
                                    <div class="absolute pr-2 text-zinc-400">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                            <path fill-rule="evenodd" d="M11.47 4.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1-1.06 1.06L12 6.31 8.78 9.53a.75.75 0 0 1-1.06-1.06l3.75-3.75Zm-3.75 9.75a.75.75 0 0 1 1.06 0L12 17.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-3.75 3.75a.75.75 0 0 1-1.06 0l-3.75-3.75a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                        </svg>                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button onclick="toastr.error('24U1 my ass!')" class="w-full hidden rounded-xl bg-zinc-900/50 border-t border-zinc-100/10 shadow shadow-black mt-4 p-2 text-center text-zinc-400 hover:text-zinc-300 hover:bg-zinc-900 duration-300 transition-all justify-center items-center space-x-2">
                            <span>Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </main>
            <%- include('./partials/footer') %>
        </div>
    </div>
    </div>
</body>
>>>>>>> 08cb23d (04-06)
</html>