<%- include('./partials/head') %>

<body class="bg-zinc-950 relative overflow-hidden items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('./partials/nav') %>
            <%- include('./partials/aside') %>
            <main
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
            <div class="h-screen max-h-screen -mt-28 md:mt-0">
                <div class="fixed pt-20 md:pt-0 z-50 bg-zinc-950 w-full">
                    <div class="flex space-x-4 items-center">
                        <div
                            class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6">
                                <path
                                    d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 0 0-1.032-.211 50.89 50.89 0 0 0-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 0 0 2.433 3.984L7.28 21.53A.75.75 0 0 1 6 21v-4.03a48.527 48.527 0 0 1-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979Z" />
                                <path
                                    d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 0 0 1.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0 0 15.75 7.5Z" />
                            </svg>
                        </div>
                        <div class="flex flex-col justify-between w-full">
                            <h1 class="text-gray-200 font-semibold text-xl"><%= lang.chat.title %></h1>
                            <span class="text-gray-300 text-md"><%= lang.chat.titleText %></span>
                        </div>
                    </div>
                    <div class="w-full bg-zinc-900 px-5 rounded-full h-0.5 mt-4"></div>
                </div>
                <div class="h-full overflow-y-scroll relative">
                    <img onload="messages()" src="https://cdn.holaclient.tech/logo.png" class="w-0 h-0">
                    <div id="messages" class="flex flex-col pb-20 relative mt-20 -pt-40 my-8 space-y-1 w-full"></div>
                </div>
            </div>
            <div class="bottom-0 md:pb-8 fixed w-full items-center flex justify-between bg-zinc-950 p-2">
                <div class="rounded-xl w-full flex items-center space-x-2 text-gray-300 bg-zinc-900/80">
                    <input id="msgInput" onkeydown="send(event)" placeholder="Send a message..." type="text" class="bg-transparent p-3 outline-none w-full text-gray-200">
                </div>
            </div>
            </div>
            </main>
            <%- include('./partials/footer') %>
        </div>
    </div>
</body>
</html>