<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= settings.website.description %> | Powered by HolaClient.">
    <meta name="keywords" content="HClient, HolaClient, Hosting, HolaLLC, Freemium Minecraft Hosting, <%= settings.name %>, Cloud, Minecraft, Servers, Free Servers, Hostings that uses HolaClient">
    <meta name="author" content="HolaClient">
    <meta name="copyright" content="<%= settings.name %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= settings.name %>">
    <meta property="og:description" content="<%= settings.website.description %> | Powered by HolaClient.">
    <meta property="og:image" content="<%= settings.logo.url %>">
    <meta name="twitter:card" content="<%= settings.logo.url %>">
    <meta name="twitter:title" content="<%= settings.name %>">
    <meta name="twitter:description" content="<%= settings.website.description %> | Powered by HolaClient.">
    <meta name="twitter:image" content="<%= settings.logo.url %>">
    <meta name="twitter:image:src" content="<%= settings.logo.url %>">
    <!-- End Meta Tags -->
    <link rel="shortcut icon" href="<%= settings.logo.url %>" type="image/x-icon">
    <title><%= settings.name %></title>
    <link rel="icon" type="image/png" href="<%= settings.logo.url %>">
    <% if (settings.ads.adsense.enabled == true) { %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-<%= settings.ads.adsense.clientid %>"
     crossorigin="anonymous"></script>
    <% } %>
    <script src="https://kit.fontawesome.com/cf4342c927.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <% if (settings.earn.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.earn.arcio.widgetid %>"></script>
    <% } %>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
 </head>
 <style>
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.649);
    z-index: 9999;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f300;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 500ms linear infinite;
  }

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    20% {
      transform: translate(-50%, -50%) rotate(72deg);
    }
    40% {
      transform: translate(-50%, -50%) rotate(144deg);
    }
    60% {
      transform: translate(-50%, -50%) rotate(216deg);
    }
    80% {
      transform: translate(-50%, -50%) rotate(288deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
</style>
<% if (!req.session.userinfo || !req.session.user) { %>
  <style>
    body {
    background-image: url('<%= settings.background %>');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    @media (max-width: 768px) {
      background-size: cover;
    }
  }
</style>
<% } else { %>
  <style>
    body {
    background-image: url('<%= req.session.user.background %>');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    @media (max-width: 768px) {
      background-size: cover;
    }
  }
</style>
<% } %>
<div id="cookieConsent" class="cookie-consent">
  <span class="cookie-consent-message">This website uses cookies to ensure you get the best experience on our website.</span>
  <br><br>
  <button class="cookie-consent-button" onclick="acceptCookies()">Got it!</button>
</div>

<style>
.cookie-consent {
position: fixed;
bottom: 0px;
right: 0px;
width: 350px;
background-color: #333;
color: #fff;
padding: 10px;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
font-family: Arial, sans-serif;
display: none;
z-index: 9999;
}

.cookie-consent.show {
display: block;
}

.cookie-consent-message {
margin: 0;
}

.cookie-consent-button {
background-color: #4CAF50;
color: #fff;
border: none;
border-radius: 10px;
padding: 4px 16px;
width: 100%;
font-size: 14px;
cursor: pointer;
}
</style>    
<script>
      function onboarding() {
        fetch('/onboarding/status')
            .then(response => response.json())
            .then(data => {
                if (data.status == false) {
                    window.location.href = "/onboarding"
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    onboarding();

    function birthday() {
        fetch('/birthday/status')
            .then(response => response.json())
            .then(data => {
                if (data.status == true && data.wished == false) {
                    window.location.href = "/birthday"
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    birthday();
</script>
<script>
  let doctitle = document.title
  window.addEventListener("blur", () => {
    document.title = "idle";
  })
  window.addEventListener("focus", () => {
    document.title = doctitle
  })
function acceptCookies() {
document.cookie = "cookieConsent=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
hideCookieNotice();
}

function hideCookieNotice() {
var cookieNotice = document.getElementById("cookieConsent");
cookieNotice.classList.remove("show");
}

function checkCookieConsent() {
var cookieConsent = getCookie("cookieConsent");
if (cookieConsent === "true") {
hideCookieNotice();
} else {
var cookieNotice = document.getElementById("cookieConsent");
cookieNotice.classList.add("show");
}
}

function getCookie(name) {
var cookieArr = document.cookie.split("; ");
for (var i = 0; i < cookieArr.length; i++) {
var cookiePair = cookieArr[i].split("=");
if (cookiePair[0] === name) {
  return cookiePair[1];
}
}
return null;
}
checkCookieConsent();
</script>
 </head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script>
        toastr.options = {
          closeButton: true,   
          progressBar: true,
          showHideTransition: 'slide',
          positionClass: 'toast-bottom-right',
          timeOut: 4000,
          extendedTimeOut: 1000,
          showDuration: 300,
          hideDuration: 300,
        };
      </script>
    <style>
      .toast-success {
        background-color: #22bb33 !important;
        color: #ffffff !important;
      }
      .toast-error {
        background-color: #e81c0d !important;
        color: #ffffff !important;
      }
      .toast-warning {
        background-color: #1a1616 !important;
        color: #ffffff !important;
      }
      .toast-info {
        background-color: #02a1db !important;
        color: #ffffff !important;
      }
      </style>    
      <script>
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('err');
      
        if (error) {
          setTimeout(() => {
            window.history.replaceState({}, document.title, window.location.pathname);
          }, 0);
        }



      </script>