<head>
    <!-- Normal Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Create your own server now at <%= settings.name %> | Powered by HolaClient.">
    <meta name="keywords" content="HClient, HolaClient, Hosting, HolaLLC">
    <meta name="author" content="HolaLLC">
    <meta name="copyright" content="HolaLLC">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="<%= settings.api.client.oauth2.link + "/" %>">
    <meta property="og:type" content="dashboard">
    <meta property="og:title" content="<%= settings.name %>">
    <meta property="og:description" content="Create your own server now at <%= settings.name %> | Powered by HolaClient.">
    <meta property="og:image" content="<%= settings.logo %>">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="<%= settings.logo %>">
    <meta property="twitter:domain" content="<%= settings.api.client.oauth2.link + "/" %>">
    <meta property="twitter:url" content="<%= settings.api.client.oauth2.link + "/" %>">
    <meta name="twitter:title" content="<%= settings.name %>">
    <meta name="twitter:description" content="Create your own server now at <%= settings.name %> | Powered by HolaClient.">
    <meta name="twitter:image" content="<%= settings.logo %>">
    <meta name="twitter:image:src" content="<%= settings.logo %>">
    <meta property="og:image" content="<%= settings.logo %>">
    <meta name="twitter:title" content="<%= settings.name %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!-- End Meta Tags -->
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/1082632266506850344/1108449684709703770/image.png" type="image/x-icon">
    <title>HolaClient - Admin</title>
    <script src="https://kit.fontawesome.com/cf4342c927.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/1082632266506850344/1108449684709703770/image.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <% if (settings.api.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    <%- include('./alert') %>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'en',
        }, 'google_translate_element');
      }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<style>
  body {
    background-image: url('<%= settings.background %>');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    @media (max-width: 768px) {
      background-size: cover;
    }
  }
</style>
 </head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <script>
          toastr.options = {
            closeButton: true,   
            progressBar: true,
            positionClass: 'toast-bottom-right',
            timeOut: 4000,
            extendedTimeOut: 1000,
            showDuration: 300,
            hideDuration: 300,
          };
        </script>
    <style>
    .toast-success {
      background-color: #22bb33 !important;
      color: #ffffff !important;
    }
    .toast-error {
      background-color: #e8430d !important;
      color: #ffffff !important;
    }
    .toast-warning {
      background-color: #1a1616 !important;
      color: #ffffff !important;
    }
    .toast-info {
      background-color: #02a1db !important;
      color: #ffffff !important;
    }
    </style>    
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const error = urlParams.get('err');
    
      if (error) {
        setTimeout(() => {
          window.history.replaceState({}, document.title, window.location.pathname);
        }, 0);
      }
    </script>
          <!-- Include Bootstrap 5 JS -->
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
          <!-- Include Bootstrap 5 CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">