<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
                <div class="flex space-x-4 items-center">
                    <div
                        class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 shadow text-gray-400 rounded-xl p-3">
                        <% if (data.manifest.icon.type == "image") { %>
                            <img src="<%= data.manifest.icon.src %>" class="w-8 h-8">
                        <% } else { %>
                            <%= data.manifest.icon.src %>
                        <% } %>
                    </div>
                    <div class="flex flex-col justify-between w-full">
                        <h1 class="text-gray-200 font-semibold text-xl"><%= data.manifest.display %></h1>
                        <span class="text-gray-300 text-md">Manage settings & more.</span>
                    </div>
                </div>
                <div id="addonStatus" class="w-full mt-4 rounded-xl p-2 flex justify-between items-center bg-zinc-900/50 border border-zinc-800/80">
                    <% if (data.active == true) { %>
                        <button onclick="configAddon('<%= data.manifest.name %>')" class="px-4 py-2 rounded-xl bg-emerald-900/50 border border-emerald-800/80 text-emerald-400">
                            Save changes
                        </button>
                        <button onclick="deactivateAddon('<%= data.manifest.name %>')" class="px-4 py-2 rounded-xl bg-rose-900/50 border border-rose-800/80 text-rose-400">
                            Deactivate
                        </button>
                    <% } else { %>
                        <button onclick="configAddon('<%= data.manifest.name %>')" class="px-4 py-2 rounded-xl bg-emerald-900/50 border border-emerald-800/80 text-emerald-400">
                            Save changes
                        </button>
                        <button onclick="activateAddon('<%= data.manifest.name %>')" class="px-4 py-2 rounded-xl bg-emerald-900/50 border border-emerald-800/80 text-emerald-400">
                            Activate
                        </button>
                    <% } %>
                </div>
                <div class="w-full grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 gap-4 mt-4">
                    <% for ([i, j] of Object.entries(data.settings)) { %>
                      <div class="relative w-full">
                        <div class="w-full bg-zinc-900/50 border border-zinc-800/80 rounded-xl cursor-move h-max"><!-- Add the class "box" here to make it draggable -->
                            <h1 class="text-gray-200 text-xl capitalize py-3 text-center"><%= i %></h1>
                            <hr class="border border-zinc-800/80 rounded-full">
                            <div class="p-2 space-y-2 w-full">
                                <% function deObjectify(a, b) {
                                    const c = b.split('.');
                                    let d = a;
                                    for (let i = 0; i < c.length; i++) {
                                      const e = c[i];
                                      if (!(e in d)) return undefined;
                                      d = d[e];
                                    }
                                    return d;
                                  } %>
                                <% for (let k of j) { %>
                                    <div class="w-full bg-zinc-900/50 border border-zinc-800/80 rounded-xl p-2 text-gray-400">
                                        <span><%= k.label %></span>
                                        <% if (k.value_type == "number") { %>
                                            <input id="<%= k.identifier %>" type="number" placeholder="<%= k.placeholder %>" value="<%= deObjectify(data.current, k.pointer) %>" class="w-full bg-zinc-950 rounded-xl p-2 outline-none text-gray-300">
                                        <% } else if (k.value_type == "string") { %>
                                            <input id="<%= k.identifier %>" type="text" placeholder="<%= k.placeholder %>" value="<%= deObjectify(data.current, k.pointer) %>" class="w-full bg-zinc-950 rounded-xl p-2 outline-none text-gray-300">
                                        <% } else if (k.value_type == "boolean") { %>
                                            <select id="<%= k.identifier %>" class="w-full bg-zinc-950 rounded-xl capitalize p-2 outline-none text-gray-300">
                                                <% if (deObjectify(data.current, k.pointer) == true || deObjectify(data.current, k.pointer) == "true") { %>
                                                    <option value="true" selected>true</option>
                                                    <option value="false">false</option>
                                                <% } else { %>
                                                    <option value="true">true</option>
                                                    <option value="false" selected>false</option>
                                                <% } %>
                                            </select>
                                        <% } else if (k.value_type == "object") { %>
                                            <div class="w-full grid grid-cols-2 gap-2 mt-2">
                                                <% for (let l of k.keys) { %>
                                                    <div class="flex flex-col">
                                                        <% if (k.keys_value_type == "number") { %>
                                                            <span class="capitalize"><%= l %></span>
                                                        <input id="<%= k.identifier %>_<%= l.toUpperCase() %>" placeholder="<%= k.placeholder %>" type="number" value="<%= (deObjectify(data.current, k.pointer)[l]) %>" class="w-full bg-zinc-950 rounded-xl p-2 outline-none text-gray-300">
                                                        <% } else if (k.keys_value_type == "string") { %>
                                                            <span class="capitalize"><%= l %></span>
                                                        <input id="<%= k.identifier %>_<%= l.toUpperCase() %>" placeholder="<%= k.placeholder %>" type="text" value="<%= (deObjectify(data.current, k.pointer)[l]) %>" class="w-full bg-zinc-950 rounded-xl p-2 outline-none text-gray-300">
                                                        <% } else if (k.keys_value_type == "boolean") { %>
                                                            <select class="w-full bg-zinc-950 rounded-xl capitalize p-2 outline-none text-gray-300">
                                                                <% if (deObjectify(data.current, k.pointer) == true || deObjectify(data.current, k.pointer) == "true") { %>
                                                                    <option value="true" selected>true</option>
                                                                    <option value="false">false</option>
                                                                <% } else { %>
                                                                    <option value="true">true</option>
                                                                    <option value="false" selected>false</option>
                                                                <% } %>
                                                            </select>
                                                        <% } %>
                                                    </div>
                                                <% } %>
                                            </div>
                                        <% } %>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                      </div>
                    <% } %>
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>