<head>
    <%- include('./parts/head') %>
      <!-- Vector CSS -->
      <link href="../../../assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
      <!-- simplebar CSS-->
      <link href="../../../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
      <!-- Bootstrap core CSS-->
      <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
      <!-- animate CSS-->
      <link href="../../../assets/css/animate.css" rel="stylesheet" type="text/css"/>
      <!-- Icons CSS-->
      <link href="../../../assets/css/icons.css" rel="stylesheet" type="text/css"/>
      <!-- Sidebar CSS-->
      <link href="../../../assets/css/sidebar-menu.css" rel="stylesheet"/>
      <!-- Custom Style-->
      <link href="../../../assets/css/app-style.css" rel="stylesheet"/>
  </head>
  <style>
    body {
      background-image: url('<%= settings.background %>');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      font-family: poppins;
    }
    </style>
      <body>
        <!-- Start wrapper-->
   <div id="wrapper">
    <%- include('./parts/sidebar') %>
    <%- include('./parts/topnav') %>
    <div class="clearfix"></div>
      
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div style="border-radius: 15px;" class="table-responsive">
                  <div class="card-title">&nbsp; Tickets</div>
                  <label>opened: 0&nbsp;</label><label>&nbsp;closed: 0&nbsp;</label><label>&nbsp;total: 0</label>
                  </div>
                  </div>
                  </div>
            <div class="card-body">
          <div style="border-radius: 15px;" class="table-responsive">
            <div class="card-title">&nbsp; <span class="float-right"><button class="btn btn-light btn-round px-5"> Create Ticket &nbsp;</button></span></div><br>
          <div style="border-radius: 15px;" class="table-responsive">
            <table class="table" id="table-1">
              <thead>
                <tr>
                  <th style="color: white;">ID</th>
                  <th style="color: white;">Subject</th>
                  <th style="color: white;">Created Date</th>
                  <th style="color: white;">Updated Date</th>
                  <th style="color: white;">Status</th>
                </tr>
              </thead>
            </table>
            </div>
            </div>
            </div>
   </div>
   </div>
   </div>
   
    </body>
        <!--start overlay-->
      <div class="overlay toggle-menu"></div>
          <!--end overlay-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
      <!-- Bootstrap core JavaScript-->
      <script src="../../../assets/js/jquery.min.js"></script>
      <script src="../../../assets/js/popper.min.js"></script>
      <script src="../../../assets/js/bootstrap.min.js"></script>
      
     <!-- simplebar js -->
      <script src="../../../assets/plugins/simplebar/js/simplebar.js"></script>
      <!-- sidebar-menu js -->
      <script src="../../../assets/js/sidebar-menu.js"></script>
      <!-- loader scripts -->
      <script src="../../../assets/js/jquery.loading-indicator.js"></script>
      <!-- Custom scripts -->
      <script src="../../../assets/js/app-script.js"></script>
      <!-- Chart js -->
      
      <script src="../../../assets/plugins/Chart.js/Chart.min.js"></script>
     
      <!-- Index js -->
      <script src="../../../assets/js/index.js"></script>
      <footer>
        <%- include('./parts/footer') %>
      </footer>