<head>
   <%- include('../components/header') %>
     <!-- Vector CSS -->
     <link href="../../../assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
     <!-- simplebar CSS-->
     <link href="../../../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
     <!-- Bootstrap core CSS-->
     <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
     <!-- animate CSS-->
     <link href="../../../assets/css/animate.css" rel="stylesheet" type="text/css"/>
     <!-- Icons CSS-->
     <link href="../../../assets/css/icons.css" rel="stylesheet" type="text/css"/>
     <!-- Sidebar CSS-->
     <link href="../../../assets/css/sidebar-menu.css" rel="stylesheet"/>
     <!-- Custom Style-->
     <link href="../../../assets/css/app-style.css" rel="stylesheet"/>
 </head>
     <body>
       <!-- Start wrapper-->
  <div id="wrapper">
   <%- include('../components/menu') %>
   <%- include('../components/topnav') %>
   <%- include('../components/alert') %>
   <div class="clearfix"></div>
     
   <div class="content-wrapper">
     <div class="container-fluid">
     <br>
         <div class="row mt-3">
           <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                <div class="card-title">Remove Userdata</div>
                <hr>
                <form action="/remove_account">
                 <div class="form-group">
                  <label for="input-6">Email:</label>
                  <input type="email" name="email" id="email" class="form-control form-control-rounded" placeholder="testify@holaclient.tech">
                 </div>
                 <div class="form-group">
                  <button role="button" class="btn btn-light btn-round px-5"><i class="bi bi-person"></i> Remove User's data</button>
                </div>
                </form>
              </div>
              </div>
              </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div class="card-title">Change User's Plan</div>
                    <hr>
                    <div class="form-group">
                      <label for="input-6">Email:</label>
                      <input type="email" id="emailplan" class="form-control form-control-rounded" placeholder="testify@holaclient.tech" required>
                    </div>
                    <div class="form-group">
                      <label for="input-6">Plan:</label>
                      <ul class="plan-list">
                        <% for (let [name, value] of Object.entries(settings.api.client.packages.list)) { %>
                        <li class="plan-item" data-package="<%= name %>">
                          <span class="plan-name"><%= value.name %></span>
                          <span class="plan-ram">(<%= value.ram %>MB RAM)</span>
                        </li>
                        <% } %>
                      </ul>
                    </div>
                    <span id="plan"></span>
                    <div class="form-group">
                      <button onclick="submitPlan()" role="button" class="btn btn-light btn-round px-5"><i class="bi bi-credit-card-2-back-fill"></i> Change</button>
                    </div>
                  </div>
                </div>
                
                <style>
                  .plan-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                  }
                
                  .plan-item {
                    cursor: pointer;
                    background-color: black;
                    padding: 8px;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    transition: background-color 0.3s ease;
                  }
                
                  .plan-item:hover {
                    background-color: #333333;
                  }
                
                  .plan-item.selected {
                    background-color: #5e5e5e;
                  }
                
                  .plan-name {
                    color: white;
                    font-weight: bold;
                  }
                
                  .plan-ram {
                    color: white;
                    margin-left: 5px;
                  }
                
                  @media (max-width: 768px) {
                    .plan-list {
                      justify-content: center;
                    }
                  }
                </style>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
                <script>
                  function submitPlan() {
                    const email = encodeURIComponent(document.getElementById("emailplan").value);
                    const planItems = document.getElementsByClassName("plan-item");
                    let selectedPackage;
                
                    for (let i = 0; i < planItems.length; i++) {
                      if (planItems[i].classList.contains("selected")) {
                        selectedPackage = planItems[i].dataset.package;
                        break;
                      }
                    }
                
                    const planElement = document.getElementById("plan");
                    planElement.textContent = ('Selected ' + selectedPackage + ' Plan');
                    const redirectUrl = `/setplan?email=${email}&package=${encodeURIComponent(selectedPackage)}`;
                    window.location.href = redirectUrl;
                  }
                
                  const planItems = document.getElementsByClassName("plan-item");
                  for (let i = 0; i < planItems.length; i++) {
                    planItems[i].addEventListener("click", function () {
                      for (let j = 0; j < planItems.length; j++) {
                        planItems[j].classList.remove("selected");
                      }
                
                      this.classList.add("selected");
                    });
                  }
                </script>
                
                
                
                
                <%- include('../components/footer') %>
           <!-- Include Bootstrap 5 JS -->
           <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
             <!-- Include Bootstrap 5 CSS -->
             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">
           </div>
           </body>
           </html>
       <!--start overlay-->
     <div class="overlay toggle-menu"></div>
         <!--end overlay-->
   <!--Start Back To Top Button-->
   <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
   <!--End Back To Top Button-->
     <!-- Bootstrap core JavaScript-->
     <script src="../../../assets/js/jquery.min.js"></script>
     <script src="../../../assets/js/popper.min.js"></script>
     <script src="../../../assets/js/bootstrap.min.js"></script>
     
    <!-- simplebar js -->
     <script src="../../../assets/plugins/simplebar/js/simplebar.js"></script>
     <!-- sidebar-menu js -->
     <script src="../../../assets/js/sidebar-menu.js"></script>
     <!-- Custom scripts -->
     <script src="../../../assets/js/app-script.js"></script>