<%- include('../partials/head') %>
<%- include('../partials/css') %>
<%- include('../partials/alert') %>
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .rotate {
    animation: rotation 1s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
</style>

<body>

  <!-- Start wrapper-->
  <div id="wrapper">
    <div class="card card-authentication1 mx-auto my-5">
      <div class="card-body">
        <div id="loginbox" class="card-content p-2">
          <div class="text-center">
            <img width="40px" src="<%= settings.logo.url %>" alt="logo icon">
          </div>
          <div class="card-title text-uppercase text-center py-3">Sign In to <%= settings.name %>
          </div>
          <form>
            <div class="form-row mt-4">
              <a href="/api/auth/discord" type="button" class="btn btn-light btn-block"><i class="bi bi-discord"></i>
                Discord</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% if (!req.session.userinfo) { %><% } else { %>
    <script>
      window.addEventListener('load', function() {
        window.location.href = "./dashboard";
      });
    </script><% } %>
    <%- include('../partials/js') %>