<!--Start topbar header-->
<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top">
     <ul class="navbar-nav mr-auto align-items-center">
       <li class="nav-item">
         <a class="nav-link toggle-menu" href="javascript:void();">
          <i class="icon-menu menu-icon"></i>
        </a>
       </li>
       <li class="nav-item align-items-center">
        <a style="color: white;">Welcome to <%= settings.name %>!</a>
       </li>
     </ul>
      <ul class="navbar-nav align-items-center right-nav-link">
        <%= userinfo.username %>
       <li class="nav-item">
         <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
           <span class="user-profile"><img src="https://cdn.discordapp.com/avatars/<%= userinfo.id %>/<%= userinfo.avatar %>.png?size=256" class="img-circle" alt="user avatar"></span>
         </a>
         <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item user-details">
           <a href="javaScript:void();">
              <div class="media">
                <div class="avatar"><img class="align-self-start mr-3" src="https://cdn.discordapp.com/avatars/<%= userinfo.id %>/<%= userinfo.avatar %>.png?size=256" alt="user avatar"></div>
               <div class="media-body">
               <h6 class="mt-2 user-title"><%= userinfo.username %></h6>
               <p class="user-subtitle"><%= pterodactyl.email %></p>
               </div>
              </div>
             </a>
           </li>
           <li class="dropdown-divider"></li>
           <li class="dropdown-item"><i class="zmdi zmdi-balance mr-2"></i> <%= coins %> coins</li>
           <li class="dropdown-divider"></li>
           <li onclick="location.href = '../settings';" style="cursor: pointer;"  class="dropdown-item"><i class="icon-settings mr-2"></i> Account</li>
           <li class="dropdown-divider"></li>
           <li onclick="location.href = '../updateinfo';" style="cursor: pointer;" class="dropdown-item"><i class="bi bi-arrow-repeat mr-2"></i> Refresh</li>
           <li class="dropdown-divider"></li>
           <li onclick="location.href = '../logout';" style="color: rgb(255, 47, 47); cursor: pointer;" class="dropdown-item"><i onclick="location.href = '../logout';" class="icon-power mr-2"></i> Logout</li>
         </ul>
       </li>
     </ul>
   </nav>
   </header>
   <!--End topbar header-->