<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<aside class="fixed top-0 left-0 z-50 w-64 h-screen transition-transform -translate-x-full md:translate-x-0"
    aria-label="Sidenav" id="drawer-navigation">
    <div
        class="overflow-y-auto overflow-x-hidden bg-zinc-950/90 md:bg-gradient-to-br from-[#090b0a] to-transparent md:pt-5 p-2 text-center h-full">
        <ul class="space-y-2 relatie mt-20 pt-4 lg:mt-0 text-center mx-auto">
            <center>
                <li>
                    <a
                        class="flex flex-col relative justify-center p-4 items-center mx-auto px-2 text-center text-base font-medium rounded-lg group">
                        <span
                            class="text-center bg-gradient-to-br from-white via-gray-100/80 to-transparent bg-clip-text leading-[1.2] tracking-tighter text-transparent font-semibold text-4xl font-nunito"><%= appearance.name %></span>
                        <img loading="lazy" src="<%= appearance.logo.url %>" class="absolute opacity-30 w-full blur-sm z-10">
                    </a>
                </li>
            </center>
        </ul>
        <div class="pt-12 justify-start text-left pl-2">
            <span class="text-sm font-karla font-extrabold text-left text-gray-400">DASHBOARD</span>
        </div>
        <ul id="sidebar" class="space-y-2 mx-2 pr-4 pt-2 w-full text-left">

        </ul>
        <div class="pt-4 justify-start text-left pl-2">
            <span class="text-sm font-karla font-extrabold text-left text-gray-400">LINKS</span>
        </div>
        <ul class="space-y-1 mb-1 md:pb-24 mx-2 pr-4 pt-2 w-full text-left">
            <li>
                <a onclick="render('licenses')"
                    class="flex items-center mx-auto cursor-pointer font-medium text-gray-300 hover:text-gray-100 rounded-xl border-zinc-800 from-zinc-900 to-zinc-800/80 backdrop-blur-3xl hover:duration-300 duration-300 hover:bg-zinc-900/80">
                    <div class="p-2 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
                          </svg>
                        <span class="text-lg ml-2 capitalize">Licenses</span>
                    </div>
                </a>
            </li>
            <% for (let [name, link] of Object.entries(links)) { %>
                <li>
                    <a href="<%= link %>"
                        class="flex items-center mx-auto cursor-pointer font-medium text-gray-300 hover:text-gray-100 rounded-xl border-zinc-800 from-zinc-900 to-zinc-800/80 backdrop-blur-3xl hover:duration-300 duration-300 hover:bg-zinc-900/80">
                        <div class="p-2 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                              </svg>
                            <span class="text-lg ml-2 capitalize"><%= name %></span>
                        </div>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
    <div
        class="absolute bottom-0 border-t border-zinc-800/80 bg-zinc-950 left-0 justify-center py-5 px-6 p-4 space-x-4 mx-auto w-full lg:flex z-20">
        <div class="w-full cursor-pointer relative rounded-xl bg-black p-2 flex flex-col">
            <div onclick="loadUserDropdown()" class="flex w-full items-center">
                <img src="<%= userinfo.avatar %>"
                    class="w-12 rounded-xl">
                <div class="flex ml-3 flex-col">
                    <h1 class="text-gray-200 text-lg">
                        <%= userinfo.nickname %>
                    </h1>
                    <span class="text-gray-400 -mt-1 text-sm" id="coins"><%= economy.coins %> coins</span>
                </div>
            </div>
            <div id="userDropdownDivider" class="w-full hidden px-4 my-2 rounded-full bg-zinc-900 h-0.5"></div>
            <div id="userDropdownHolder" class="relative opacity-0 w-full">
                <ul id="userDropdown" class="text-sm text-gray-200">

                </ul>
            </div>
        </div>
    </div>
=======
<aside class="fixed top-0 left-0 z-50 w-64 h-screen transition-transform -translate-x-full md:translate-x-0"
    aria-label="Sidenav" id="drawer-navigation">
    <div
        class="overflow-y-auto overflow-x-hidden bg-zinc-950/90 md:bg-gradient-to-br from-[#090b0a] to-transparent md:pt-5 p-2 text-center h-full">
        <ul class="space-y-2 relatie mt-20 pt-4 lg:mt-0 text-center mx-auto">
                <li>
                    <a
                        class="flex flex-col relative justify-center p-4 items-center mx-auto px-2 text-center text-base font-medium rounded-lg group">
                        <span
                            class="text-center bg-gradient-to-br from-white via-gray-100/80 to-transparent bg-clip-text leading-[1.2] tracking-tighter text-transparent font-semibold text-4xl font-nunito"><%= appearance.name %></span>
                        <img loading="lazy" src="<%= appearance.logo.url %>" class="absolute opacity-30 w-full blur-sm z-10">
                    </a>
                </li>
        </ul>
        <div class="pt-12 justify-start text-left pl-2">
            <span class="text-sm font-karla font-extrabold text-left text-gray-400">DASHBOARD</span>
        </div>
        <ul id="sidebar" class="space-y-2 mx-2 pr-4 pt-2 w-full text-left">

        </ul>
        <div class="pt-4 justify-start text-left pl-2">
            <span class="text-sm font-karla font-extrabold text-left text-gray-400">LINKS</span>
        </div>
        <ul class="space-y-1 mb-1 md:pb-24 mx-2 pr-4 pt-2 w-full text-left">
            <li>
                <a onclick="render('licenses')"
                    class="flex items-center mx-auto cursor-pointer font-medium text-gray-300 hover:text-gray-100 rounded-xl border-zinc-800 from-zinc-900 to-zinc-800/80 backdrop-blur-3xl hover:duration-300 duration-300 hover:bg-zinc-900/80">
                    <div class="p-2 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
                          </svg>
                        <span class="text-lg ml-2 capitalize">Licenses</span>
                    </div>
                </a>
            </li>
            <% for (let [name, link] of Object.entries(links)) { %>
                <li>
                    <a href="<%= link %>"
                        class="flex items-center mx-auto cursor-pointer font-medium text-gray-300 hover:text-gray-100 rounded-xl border-zinc-800 from-zinc-900 to-zinc-800/80 backdrop-blur-3xl hover:duration-300 duration-300 hover:bg-zinc-900/80">
                        <div class="p-2 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                              </svg>
                            <span class="text-lg ml-2 capitalize"><%= name %></span>
                        </div>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
    <div
        class="absolute bottom-0 border-t border-zinc-800/80 bg-zinc-950 left-0 justify-center py-5 px-6 p-4 space-x-4 mx-auto w-full lg:flex z-20">
        <div class="w-full cursor-pointer relative rounded-xl bg-black p-2 flex flex-col">
            <div onclick="loadUserDropdown()" class="flex w-full items-center">
                <img src="<%= userinfo.avatar %>"
                    class="w-12 rounded-xl" alt="avatar">
                <div class="flex ml-3 flex-col">
                    <h1 class="text-gray-200 text-lg">
                        <%= userinfo.nickname %>
                    </h1>
                    <span class="text-gray-400 -mt-1 text-sm" id="coins"><%= economy.coins %> coins</span>
                </div>
            </div>
            <div id="userDropdownDivider" class="w-full hidden px-4 my-2 rounded-full bg-zinc-900 h-0.5"></div>
            <div id="userDropdownHolder" class="relative opacity-0 w-full">
                <ul id="userDropdown" class="text-sm text-gray-200">

                </ul>
            </div>
        </div>
    </div>
>>>>>>> 7f9cef0 (02-05)
=======
<aside class="fixed top-0 left-0 z-50 w-64 h-screen transition-transform -translate-x-full md:translate-x-0"
    aria-label="Sidenav" id="drawer-navigation">
    <div
        class="overflow-y-auto overflow-x-hidden bg-zinc-950/90 md:bg-gradient-to-br from-[#090b0a] to-transparent md:pt-5 p-2 text-center h-full">
        <ul class="space-y-2 relatie mt-20 pt-4 md:mt-0 text-center mx-auto">
                <li>
                    <a
                        class="flex flex-col relative justify-center p-4 items-center mx-auto px-2 text-center text-base font-medium rounded-lg group">
                        <span
                            class="text-center bg-gradient-to-br from-white via-gray-100/80 to-transparent bg-clip-text leading-[1.2] tracking-tighter text-transparent font-semibold text-4xl font-nunito"><%= appearance.name %></span>
                        <img loading="lazy" src="<%= appearance.logo.url %>" class="absolute opacity-30 w-full blur-sm z-10">
                    </a>
                </li>
        </ul>
        <div class="pt-12 justify-start text-left pl-2">
            <span class="text-sm font-karla font-extrabold text-left text-gray-400">DASHBOARD</span>
        </div>
        <ul id="sidebar" class="space-y-2 mx-2 pr-4 pt-2 w-full text-left">

        </ul>
        <div class="pt-4 justify-start text-left pl-2">
            <span class="text-sm font-karla font-extrabold text-left text-gray-400">LINKS</span>
        </div>
        <ul class="space-y-1 mb-1 md:pb-24 mx-2 pr-4 pt-2 w-full text-left">
            <li>
                <a onclick="render('licenses')"
                    class="flex items-center mx-auto cursor-pointer font-medium text-gray-300 hover:text-gray-100 rounded-xl border-zinc-800 from-zinc-900 to-zinc-800/80 backdrop-blur-3xl hover:duration-300 duration-300 hover:bg-zinc-900/80">
                    <div class="p-2 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
                          </svg>
                        <span class="text-lg ml-2 capitalize">Licenses</span>
                    </div>
                </a>
            </li>
            <% for (let [name, link] of Object.entries(links)) { %>
                <li>
                    <a href="<%= link %>"
                        class="flex items-center mx-auto cursor-pointer font-medium text-gray-300 hover:text-gray-100 rounded-xl border-zinc-800 from-zinc-900 to-zinc-800/80 backdrop-blur-3xl hover:duration-300 duration-300 hover:bg-zinc-900/80">
                        <div class="p-2 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                              </svg>
                            <span class="text-lg ml-2 capitalize"><%= name %></span>
                        </div>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
    <div
        class="absolute bottom-0 border-t border-zinc-800/80 bg-zinc-950 left-0 justify-center py-5 px-6 p-4 space-x-4 mx-auto w-full lg:flex z-20">
        <div class="w-full cursor-pointer relative rounded-xl bg-black p-2 flex flex-col">
            <div onclick="loadUserDropdown()" class="flex w-full items-center">
                <img src="<%= userinfo.avatar %>"
                    class="w-12 rounded-xl" alt="avatar">
                <div class="flex ml-3 flex-col">
                    <h1 class="text-gray-200 text-lg">
                        <%= userinfo.nickname %>
                    </h1>
                    <span class="text-gray-400 -mt-1 text-sm" id="coins"><%= economy.coins %> coins</span>
                </div>
            </div>
            <div id="userDropdownDivider" class="w-full hidden px-4 my-2 rounded-full bg-zinc-900 h-0.5"></div>
            <div id="userDropdownHolder" class="relative opacity-0 w-full">
                <ul id="userDropdown" class="text-sm text-gray-200">

                </ul>
            </div>
        </div>
    </div>
>>>>>>> 6db1d9f (21-05)
=======
<aside class="fixed top-0 left-0 z-50 w-64 h-screen transition-transform -translate-x-full md:translate-x-0"
    aria-label="Sidenav" id="drawer-navigation">
    <div
        class="overflow-y-auto overflow-x-hidden bg-zinc-950/90 md:bg-gradient-to-br from-[#090b0a] to-transparent md:pt-5 p-2 text-center h-full">
        <ul class="space-y-2 relatie mt-20 pt-4 md:mt-0 text-center mx-auto">
                <li>
                    <a href="https://x.holaclient.io"
                        class="flex flex-col relative justify-center p-4 items-center mx-auto px-2 text-center text-base font-medium rounded-lg group">
                        <span
                            class="text-center bg-gradient-to-br from-white via-gray-100/80 to-transparent bg-clip-text leading-[1.2] tracking-tighter text-transparent font-semibold text-4xl font-nunito"><%= appearance.name %></span>
                        <img loading="lazy" src="<%= appearance.logo.url %>" class="absolute opacity-30 w-full blur-sm z-10" alt="logo">
                    </a>
                </li>
        </ul>
        <div class="pt-12 justify-start text-left pl-2">
            <span class="text-sm font-karla font-extrabold text-left text-gray-400">DASHBOARD</span>
        </div>
        <ul id="sidebar" class="space-y-2 mx-2 pr-4 pt-2 w-full text-left">

        </ul>
        <div class="pt-4 justify-start text-left pl-2">
            <span class="text-sm font-karla font-extrabold text-left text-gray-400">LINKS</span>
        </div>
        <ul class="space-y-1 mb-1 md:pb-24 mx-2 pr-4 pt-2 w-full text-left">
            <li>
                <span onclick="render('licenses')"
                    class="flex items-center mx-auto cursor-pointer font-medium text-gray-300 hover:text-gray-100 rounded-xl border-zinc-800 from-zinc-900 to-zinc-800/80 backdrop-blur-3xl hover:duration-300 duration-300 hover:bg-zinc-900/80">
                    <div class="p-2 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
                          </svg>
                        <span class="text-lg ml-2 capitalize">Licenses</span>
                    </div>
                </span>
            </li>
            <% for (let [name, link] of Object.entries(links)) { %>
                <li>
                    <a href="<%= link %>"
                        class="flex items-center mx-auto cursor-pointer font-medium text-gray-300 hover:text-gray-100 rounded-xl border-zinc-800 from-zinc-900 to-zinc-800/80 backdrop-blur-3xl hover:duration-300 duration-300 hover:bg-zinc-900/80">
                        <div class="p-2 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                              </svg>
                            <span class="text-lg ml-2 capitalize"><%= name %></span>
                        </div>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
    <div
        class="absolute bottom-0 border-t border-zinc-800/80 bg-zinc-950 left-0 justify-center py-5 px-6 p-4 space-x-4 mx-auto w-full lg:flex z-20">
        <div class="w-full cursor-pointer relative rounded-xl bg-black p-2 flex flex-col">
            <div onclick="loadUserDropdown()" class="flex w-full items-center">
                <img src="<%= userinfo.avatar %>"
                    class="w-12 rounded-xl" alt="avatar">
                <div class="flex ml-3 flex-col">
                    <h1 class="text-gray-200 text-lg">
                        <%= userinfo.nickname %>
                    </h1>
                    <span class="text-gray-400 -mt-1 text-sm" id="coins"><%= economy.coins %> coins</span>
                </div>
            </div>
            <div id="userDropdownDivider" class="w-full hidden px-4 my-2 rounded-full bg-zinc-900 h-0.5"></div>
            <div id="userDropdownHolder" class="relative opacity-0 w-full">
                <ul id="userDropdown" class="text-sm text-gray-200">

                </ul>
            </div>
        </div>
    </div>
>>>>>>> 4473be3 (29-05)
</aside>