<div class="card mt-3">
  <div class="card-content">
    <div class="row row-group m-0">
      
      <div class="col-12 col-lg-6 col-xl-3 border-light">
        <div class="card-body">
          <h5 class="text-white mb-0"><%= resources.ram %></h5>
          <p class="mb-0 text-white small-font">MB Memory Available</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-light">
        <div class="card-body">
          <h5 class="text-white mb-0"><%= resources.disk %></h5>
          <p class="mb-0 text-white small-font">MB Storage Available</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-light">
        <div class="card-body">
          <h5 class="text-white mb-0"><%= resources.cpu %> (<%= resources.cpu / 100 %>)</h5>
          <p class="mb-0 text-white small-font">% CPU Available</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-light">
        <div class="card-body">
          <h5 class="text-white mb-0"><%= resources.servers %></h5>
          <p class="mb-0 text-white small-font">Servers Available</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-light">
        <div class="card-body">
          <h5 class="text-white mb-0"><%= resources.allocations %></h5>
          <p class="mb-0 text-white small-font">Allocations Available</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-light">
        <div class="card-body">
          <h5 class="text-white mb-0"><%= resources.backups %></h5>
          <p class="mb-0 text-white small-font">Backups Available</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-light">
        <div class="card-body">
          <h5 class="text-white mb-0"><%= resources.databases %></h5>
          <p class="mb-0 text-white small-font">Databases Available</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-light">
        <div class="card-body">
          <h5 class="text-white mb-0"><%= coins %></h5>
          <p class="mb-0 text-white small-font">Coins Available</p>
        </div>
      </div>

    </div>
  </div>
</div>