<%- include('./partials/head') %>

    <body class="bg-zinc-950">
        <div class="antialiased">
            <%- include('./partials/topnav') %>
                <%- include('./partials/sidebar') %>
                <main class="p-4 md:ml-64 h-auto pt-20">
                    <div class="lg:flex lg:justify-between">
                      <div class="w-full">
                        <div class="mb-4 rounded-xl">
                          <ul class="text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-xl shadow sm:flex dark:divide-gray-700 dark:text-gray-400" id="resourceTab" data-tabs-toggle="#userBox" role="tablist">
                            <li class="w-full" role="presentation">
                              <button class="inline-block w-full p-4 bg-white hover:text-gray-700 rounded-l-xl hover:bg-gray-50 dark:hover:text-white dark:bg-zinc-800/40 dark:hover:bg-zinc-800" data-tabs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="false">Gateways</button>
                            </li>
                            <li class="w-full" role="presentation">
                              <button class="inline-block w-full p-4 bg-white hover:text-gray-700 hover:bg-gray-50 dark:hover:text-white dark:bg-zinc-800/40 dark:hover:bg-zinc-800" data-tabs-target="#auth" type="button" role="tab" aria-controls="auth" aria-selected="true">Manage</button>
                            </li>
                          </ul>
                        </div>
                        <div id="userBox">
                          <div class="hidden rounded-xl mb-4" id="general" role="tabpanel">
                            <div class="flex bg-zinc-900 rounded-lg flex-wrap p-4 text-center content-start">
                              <h1 class="text-2xl text-zinc-100">Gateways</h1>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <table class="w-full table-fixed rounded-lg">
                                <thead class="text-white border-b border-zinc-700">
                                  <tr>
                                    <th class="p-4 text-left flex-grow md:flex-col">
                                      <div class="cursor-pointer flex items-center">
                                        Name
                                      </div>
                                    </th>
                                    <th class="p-4 text-left">
                                      <div class="cursor-pointer flex items-center">
                                        Driver
                                      </div>
                                    </th>
                                    <th class="p-4 text-left">
                                      <div class="cursor-pointer flex items-center">
                                        Status
                                      </div>
                                    </th>
                                    <th class="p-4 text-right">
                                      <div class="flex items-center">
                                        Version
                                      </div>
                                    </th>
                                    <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Author
                                        </div>
                                      </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                      <a href="">
                                        <div class="text-zinc-300 text-lg">Cryptomus</div>
                                      </a>
                                    </td>
                                    <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                      <a href="">
                                        <div class="text-zinc-300 text-lg">Cryptomus</div>
                                      </a>
                                    </td>
                                    <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                      <a href="">
                                        <div class="text-zinc-300 text-lg">Online</div>
                                      </a>
                                    </td>
                                    <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a href="">
                                          <div class="text-zinc-300 text-lg">v1.0</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a href="mailto:support@holaclient.tech">
                                          <div class="text-zinc-300 text-lg">CR072</div>
                                        </a>
                                      </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="hidden rounded-lg mb-4 gap-4" id="auth" role="tabpanel">
                            <div class="bg-zinc-900 rounded-lg w-full flex-wrap p-4 content-start">
                              <h1 class="text-2xl mb-2 text-zinc-100">Manage Cryptomus</h1>
                              <hr class="w-full border-b border-zinc-700 my-2 text-zinc-200">
                              <div class="w-full mt-4 grid grid-cols-2 lg:grid-cols-3 gap-4">
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Name</label>
                                  <input id="mname" class="w-full bg-zinc-800 text-zinc-200 rounded-lg p-2 outline-none" placeholder="HolaClient" value="<%= cryptomus.merchant.name %>">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">ID</label>
                                  <input id="mid" class="w-full bg-zinc-800 text-zinc-200 rounded-lg p-2 outline-none" placeholder="xxxx-xxxx-xxxx-xxxx-xxxx" value="<%= cryptomus.merchant.id %>">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Key</label>
                                  <input id="mkey" class="w-full bg-zinc-800 text-zinc-200 rounded-lg p-2 outline-none" placeholder="very long string!" value="<%= cryptomus.merchant.key %>">
                                </div>
                              </div>
                              <div class="w-full mt-4 grid grid-cols-2 lg:grid-cols-3 gap-4">
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Default Currency</label>
                                  <input id="dcur" class="w-full bg-zinc-800 text-zinc-200 rounded-lg p-2 outline-none" placeholder="USD" value="<%= cryptomus.currency.default %>">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Convert to</label>
                                  <input id="cto" class="w-full bg-zinc-800 text-zinc-200 rounded-lg p-2 outline-none" placeholder="USDT" value="<%= cryptomus.network.to %>">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Default Network</label>
                                  <input id="dnet" class="w-full bg-zinc-800 text-zinc-200 rounded-lg p-2 outline-none" placeholder="USDT" value="<%= cryptomus.network.default %>">
                                </div>
                              </div>
                            </div>
                            <div class="bg-zinc-900 mt-4 rounded-lg w-full flex-wrap p-4 content-start">
                                <div class="w-full grid grid-cols-2 lg:grid-cols-4 gap-4">
                                    <div class="w-full pr-2">
                                        <button onclick="submit()" class="w-full bg-emerald-700 hover:bg-emerald-800 text-white rounded-lg p-2 outline-none">Update Changes</button>
                                      </div>
                                  <div class="w-full pr-2">
                                    <button onclick="fetch('/api/payments/gateways/cryptomus/services/refresh').then(response => response.json()).then(data => { if (data.success == true) { toastr.success('Successfully refreshed services.'); } });" class="w-full bg-zinc-800 hover:bg-zinc-800/50 text-zinc-200 rounded-lg p-2 outline-none">Refresh services</button>
                                  </div>
                                  <div class="w-full pr-2">
                                    <button onclick="toastr.success('Operation success!')" class="w-full bg-zinc-800 hover:bg-zinc-800/50 text-zinc-200 rounded-lg p-2 outline-none">Clear driver cache</button>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="hidden overflow-hidden z-50 my-4 max-w-4xl w-full text-base list-none p-4 bg-zinc-900 rounded-lg" id="newProduct">
                          <div class="block py-2 px-4 text-base font-medium text-center bg-zinc-900 text-gray-300">
                            User Selector
                          </div>
                          <input class="w-full bg-zinc-800 rounded-lg p-2" placeholder="Search an user by hcid, email or username...">
                          <ul class="transition duration-300 mt-2" style="height: auto;">
                            <li class="cursor-pointer w-full flex list-none items-center overflow-hidden whitespace-nowrap">
                              <div class="flex items-center cursor-pointer w-full hover:bg-zinc-800 p-2 rounded-lg gap-3 hover:transition duration-700 ease-in-out hover:pl-4 hover:pr-4">
                                <img class="h-12 w-12 rounded-full" src="https://cdn.discordapp.com/avatars/863452735998656512/165df7bff7757ab60f0fb6d641956055" width="200" height="200">
                                <div class="flex items-center justify-between w-full">
                                  <h3 class="text-md leading-none text-gray-600 dark:text-gray-200">CR072
                                    <br><span class="text-sm text-gray-500 dark:text-gray-400">crazymath072@gmail.com</span>
                                  </h3>
                                  <span class="text-right">
                                    <div class="hidden lg:block">
                                      <p class="ml-2 text-sm font-medium text-gray-500 dark:text-gray-400">HCID: 0446</p>
                                      <p class="ml-2 text-sm font-medium text-gray-500 dark:text-gray-400">crazymath072</p>
                                    </div>
                                  </span>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </main>
                  <script>
                    async function submit() {
                        let body = {
                            merchant: {
                                id: document.getElementById("mid").value,
                                name: document.getElementById("mname").value,
                                key: document.getElementById("mkey").value
                            },
                            currency: {
                                default: document.getElementById("dcur").value,
                            },
                            network: {
                                default: document.getElementById("dnet").value,
                                to: document.getElementById("cto").value,
                            }
                        };
                
                        try {
                            const response = await fetch('/api/payments/gateways/cryptomus/configure', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(body),
                            });
                
                            const data = await response.json();
                
                            if (data.success == true) {
                                toastr.success("Success!")
                            } else {
                                console.error('Request failed:', data.message);
                            }
                        } catch (error) {
                            console.error('Error during request:', error);
                        }
                    }
                </script>
                