<%- include('./partials/head') %>

    <body class="bg-zinc-950">
        <div class="antialiased">
            <%- include('./partials/topnav') %>
                <%- include('./partials/sidebar') %>
                    <main class="p-4 md:ml-64 h-auto pt-20">
                        <section>
                            <div class="bg-zinc-900 text-white shadow-lg rounded-lg p-4">
                                <div class="text-xl font-semibold" id="title">Manage user package</div>
                                <hr class="w-full border-b border-zinc-700 my-2">
                                <div class="mb-4">
                                    <label class="block text-gray-300">User:</label>
                                    <div id="user" data-dropdown-toggle="userslist"
                                        class="w-full cursor-pointer bg-zinc-800 rounded-lg p-2">
                                        Select an user</div>
                                    <%- include('./partials/user') %>
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-300">Package:</label>
                                    <select id="package" class="w-full outline-none bg-zinc-800 rounded-lg p-2">
                                        <% for (let [name, value] of Object.entries(settings.packages.list)) { %>
                                            <option value="<%= name %>">
                                                <%= value.name %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <button role="button" onclick="package()" id="pbtn"
                                        class="w-full bg-zinc-800 hover:bg-zinc-800/70 rounded-lg p-2">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </section>
                        <script>
                            async function user(n) {
                                const dropdownToggle = document.querySelector('[data-dropdown-toggle="userslist"]');
                                dropdownToggle.click();
                                let div = document.getElementById('user');
                                div.innerHTML = `
        <div class="flex items-center cursor-pointer w-full hover:bg-zinc-800 rounded-lg gap-3 hover:transition duration-700 ease-in-out hover:pl-4 hover:pr-4">
            <img class="h-10 w-10 rounded-full" src="${n.avatar}" alt="Avatar">
            <div class="flex items-center justify-between w-full">
                <h3 class="text-md leading-none text-gray-200">
                    ${n.name.first} ${n.name.last}
                    <br><span class="text-sm text-gray-300">${n.email}</span>
                </h3>
                <span class="text-right">
                    <div class="hidden lg:block">
                        <p class="ml-2 text-sm font-medium text-gray-200">
                            HCID: ${n.hcid}</p>
                        <p class="ml-2 text-sm font-medium text-gray-200">
                            ${n.username}</p>
                    </div>
                </span>
            </div>
        </div>
    `;
                                const packageButton = document.getElementById('pbtn');
                                packageButton.dataset.id = n.hcid;
                            }
                            async function package() {
                                try {
                                    const id = document.getElementById('pbtn').dataset.id;
                                    const pe = document.getElementById('package');
                                    const package = pe.value;
                                    const response = await fetch(`/api/admin/users/package?user=${id}&package=${package}`);
                                    const data = await response.json();
                                    if (data.success == true) {
                                        toastr.success(`Successfully changed the user's package to ${package}`)
                                    }
                                } catch (error) {
                                    console.error("Error changing package:", error);
                                    throw error;
                                }
                            }
                        </script>