<%- include('./partials/head') %>

    <body class="bg-zinc-950">
        <div class="antialiased">
            <%- include('./partials/topnav') %>
                <%- include('./partials/sidebar') %>
                <main class="p-4 md:ml-64 h-auto pt-20">
                    <div class="lg:flex lg:justify-between">
                      <div class="w-full">
                        <div class="mb-4 rounded-xl">
                          <ul class="text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-xl shadow sm:flex dark:divide-gray-700 dark:text-gray-400" id="resourceTab" data-tabs-toggle="#userBox" role="tablist">
                            <li class="w-full" role="presentation">
                              <button class="inline-block w-full p-4 bg-white hover:text-gray-700 rounded-l-xl hover:bg-gray-50 dark:hover:text-white dark:bg-zinc-800/40 dark:hover:bg-zinc-800" data-tabs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="false">Categories</button>
                            </li>
                            <li class="w-full" role="presentation">
                              <button class="inline-block w-full p-4 bg-white hover:text-gray-700 rounded-r-xl hover:bg-gray-50 dark:hover:text-white dark:bg-zinc-800/40 dark:hover:bg-zinc-800" data-tabs-target="#auth" type="button" role="tab" aria-controls="auth" aria-selected="true">Products</button>
                            </li>
                          </ul>
                        </div>
                        <div id="userBox">
                          <div class="hidden rounded-xl mb-4" id="general" role="tabpanel">
                            <div class="flex bg-zinc-900 text-zinc-300 rounded-lg flex-wrap p-4 content-start mt-4">
                              <div class="flex flex-wrap items-center justify-between gap-4 px-4 pb-4">
                                <div class="flex flex-wrap items-center gap-4">
                                  <div class="flex text-zinc-100 items-center text-2xl">Categories</div>
                                </div>
                              </div>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <div class="mt-4 w-full">
                                <table class="w-full table-fixed bg-zinc-950 rounded-lg">
                                  <thead class="text-white border-b border-zinc-700">
                                    <tr>
                                        <th class="p-4 text-left flex-grow md:flex-col">
                                            <div class="cursor-pointer flex items-center">
                                              #
                                            </div>
                                        <th class="p-4 text-left flex-grow md:flex-col">
                                            <div class="cursor-pointer flex items-center">
                                              Icon
                                            </div>
                                      <th class="p-4 text-left flex-grow md:flex-col">
                                        <div class="cursor-pointer flex items-center">
                                          Name
                                        </div>
                                      </th>
                                      <th class="p-4 text-left">
                                        <div class="cursor-pointer flex items-center">
                                          Service
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Actions
                                        </div>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody class="bg-zinc-900 border border-zinc-800 rounded-lg" id="cattb">

                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="flex bg-zinc-900 text-zinc-300 rounded-lg flex-wrap p-4 content-start mt-4">
                              <h1 class="text-2xl text-zinc-100">Create Categories</h1>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <div class="w-full mt-4 grid grid-cols-2 lg:grid-cols-3 gap-4">
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Name</label>
                                  <input id="cname" class="w-full outline-none bg-zinc-800 rounded-lg p-2" placeholder="Minecraft">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Icon</label>
                                  <input id="cicon" class="w-full outline-none bg-zinc-800 rounded-lg p-2" placeholder="/cdn/products/minecraft.png" value="/cdn/products/minecraft.png">
                                </div>
                                <div class="w-full pr-2">
                                    <label class="block text-gray-300">Service</label>
                                    <select class="w-full outline-none bg-zinc-800 rounded-lg p-2" id="cservice">
                                        <% for (let i = 0, len = integrations.length; i < len; i++) { %>
                                            <option value="<%= integrations[i].name %>"><%= integrations[i].display %></option>
                                            <% } %>
                                    </select>
                                  </div>
                              </div>
                              
                              <div class="w-full flex mt-2">
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Submit</label>
                                  <button disabled onclick="catts()" class="w-full bg-zinc-800 outline-none hover:bg-zinc-800/40 rounded-lg p-2">CATEGORY CREATION DISABLED!</button>
                                </div>
                              </div>
                            </div>
                            <script>
                                async function catt() {
                                    const a = await fetch('/api/billing/categories');
                                    const b = await a.json();
                                    const c = document.getElementById("cattb");
                                    c.innerHTML = " ";
                                    for (const e of b) {
                                        const f = `
                                        <tr class="hover:bg-zinc-800 rounded-lg duration-500 hover:duration-500">
                                            <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a href="">
                                          <div class="text-zinc-300 text-lg">${e.id}</div>
                                        </a>
                                      </td>
                                            <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a href="">
                                          <div class="text-zinc-300 text-lg"><img class="w-8" src="${e.icon}"></div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a href="">
                                          <div class="text-zinc-300 text-lg">${e.name}</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a href="">
                                          <div class="text-zinc-300 text-sm">${e.service}</div>
                                        </a>
                                      </td>
                                      <td onclick="rm('${e.id}')" class="pl-4 cursor-pointer transition-all duration-300 ease-in-out text-left">
                                        <div class="flex items-center text-zinc-300 items-center text-center">
                                          <a class="bg-zinc-800 hover:text-rose-500 hover:p-2.5 hover:duration-500 duration-500 rounded-full p-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg>
                                          </a>
                                        </div>
                                      </td>
                                    </tr>
                                        `;
                                        c.innerHTML += f;
                                    }
                                }
                                catt();
            
                                async function catts() {
                const name = document.getElementById(`cname`).value;
                const service = document.getElementById(`cservice`).value;
                const icon = document.getElementById(`cicon`).value;
                const response = await fetch(`/api/billing/categories/create`, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        name: name,
                        service: service,
                        icon: icon
                    })
                });
                const data = await response.json();
                if (data.success === true) {
                    toastr.success("Success");
                    catt();
                }
            }
            async function rm(id) {
                const res = await fetch('/api/billing/categories/delete/' + id);
                const data = await res.json();
                if (data.success == true){
                    catt();
                    toastr.success("Deleted!");
                    } else{
                        toastr.error("Error deleting product.");
                        }
            }
            
                            </script>
                          </div>
                          <div class="hidden rounded-lg mb-4" id="auth" role="tabpanel">
                            <div class="flex bg-zinc-900 text-zinc-300 rounded-lg flex-wrap p-4 content-start mt-4">
                              <div class="flex items-center w-full justify-between">
                                  <div class="flex text-zinc-100 items-center text-2xl">Packages</div>
                                    <a data-dropdown-toggle="newProduct" class="bg-zinc-800 rounded-lg p-2 cursor-pointer hover:bg-zinc-700">
                                      &plus; Create
                                    </a>
                              </div>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <div class="mt-4 w-full">
                                <table class="w-full table-fixed bg-zinc-950 rounded-lg">
                                  <thead class="text-white border-b border-zinc-700">
                                    <tr>
                                        <th class="p-4 text-left">
                                            <div class="cursor-pointer flex items-center">
                                              ID
                                            </div>
                                          </th>
                                      <th class="p-4 text-left">
                                        <div class="cursor-pointer flex items-center">
                                          Icon
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Name
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Memory
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Disk
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          CPU
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Backups
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Allocations
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Databases
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Price
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Actions
                                        </div>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody class="bg-zinc-900 rounded-b-lg border border-zinc-800 rounded-lg" id="tbody">

                                  </tbody>
                                </table>
                              </div>
                              <div class="hidden overflow-hidden z-50 my-4 max-w-4xl w-full text-base list-none p-4 bg-zinc-900 rounded-lg"
    id="newProduct"
    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(121.6px, 216px, 0px);"
    data-popper-placement="bottom">
                                <div class="block py-2 px-4 text-base font-medium text-center bg-zinc-900 text-gray-300">
                                  New Product
                                </div>
                                <hr class="bg-zinc-800">
                                <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-2">
                                    <div class="w-full">
                                        <label class="block text-gray-300">Name</label>
                                        <input class="w-full outline-none bg-zinc-800 rounded-lg p-2" id="name" value="" placeholder="Starter">
                                      </div>
                                      <div class="w-full">
                                        <label class="block text-gray-300">Icon</label>
                                        <div class="grid items-center grid-cols-2">
                                            <input class="w-full outline-none bg-zinc-800 rounded-lg p-2" id="icon" value="/cdn/products/minecraft.png" placeholder="/cdn/products/minecraft.png">
                                            <img class="w-8 ml-2" id="iconOut" src="/cdn/products/minecraft.png">
                                        </div>
                                      </div>
                                      <div class="w-full">
                                        <label class="block text-gray-300">Description</label>
                                        <input class="w-full outline-none bg-zinc-800 rounded-lg p-2" id="description" value="" placeholder="Suitable plan for a small community!">
                                      </div>
                                      <div class="w-full">
                                        <label class="block text-gray-300">Price</label>
                                        <input class="w-full outline-none bg-zinc-800 rounded-lg p-2" id="price" value="0" placeholder="0 for free.">
                                      </div>
                                      <div class="w-full">
                                        <label class="block text-gray-300">Memory</label>
                                        <input class="w-full outline-none bg-zinc-800 rounded-lg p-2" id="ram" value="1024">
                                      </div>
                                      <div class="w-full">
                                        <label class="block text-gray-300">Storage</label>
                                        <input class="w-full outline-none bg-zinc-800 rounded-lg p-2" id="disk" value="2048">
                                      </div>
                                      <div class="w-full">
                                        <label class="block text-gray-300">CPU</label>
                                        <input class="w-full outline-none bg-zinc-800 rounded-lg p-2" id="cpu" value="100">
                                      </div>
                                      <div class="w-full">
                                        <label class="block text-gray-300">Allocations</label>
                                        <input class="w-full outline-none bg-zinc-800 rounded-lg p-2" id="allocations" value="1">
                                      </div>
                                      <div class="w-full">
                                        <label class="block text-gray-300">Backups</label>
                                        <input class="w-full outline-none bg-zinc-800 rounded-lg p-2" id="backups" value="1">
                                      </div>
                                      <div class="w-full">
                                        <label class="block text-gray-300">Databases</label>
                                        <input class="w-full outline-none bg-zinc-800 rounded-lg p-2" id="databases" value="1">
                                      </div>
                                </div>
                                <button class="w-full p-2 mt-2 hover:shadow-lg hover:shadow-zinc-800/20 bg-zinc-800 rounded-lg hover:bg-zinc-800/50 hover:duration-500 duration-500" onclick="submit()">
                                Add Product</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </main>
                  <script>
                    async function packages() {
                        const a = await fetch('/api/billing/products');
                        const b = await a.json();
                        const c = document.getElementById("tbody");
                        c.innerHTML = " ";
                        for (const e of b) {
                            const f = `
                            <tr class="hover:bg-zinc-800 rounded-lg">
                                <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a>
                                          <div class="text-zinc-300 text-sm">${e.id}</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a>
                                          <div class="text-zinc-300 text-sm"><img class="w-8" src="${e.icon}"></div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a>
                                          <div class="text-zinc-300 text-lg">${e.name}</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a>
                                          <div class="text-zinc-300 text-lg">${e.resources.ram}</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a>
                                          <div class="text-zinc-300 text-lg">${e.resources.disk}</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a>
                                          <div class="text-zinc-300 text-lg">${e.resources.cpu}</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a>
                                          <div class="text-zinc-300 text-lg">${e.resources.backups}</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a>
                                          <div class="text-zinc-300 text-lg">${e.resources.allocations}</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a>
                                          <div class="text-zinc-300 text-lg">${e.resources.databases}</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a>
                                          <div class="text-zinc-300 text-lg">${e.price}</div>
                                        </a>
                                      </td>
                                      <td onclick="del('${e.id}')" class="pl-4 cursor-pointer transition-all duration-300 ease-in-out text-left">
                                        <div class="flex items-center text-zinc-300 items-center text-center">
                                          <a class="bg-zinc-800 hover:text-rose-500 hover:p-2.5 hover:duration-500 duration-500 rounded-full p-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg>
                                          </a>
                                        </div>
                                      </td>
                                    </tr>
                            `;
                            c.innerHTML += f;
                        }
                    }
                    packages();

                    async function submit() {
    const name = document.getElementById(`name`).value;
    const description = document.getElementById(`description`).value;
    const ram = document.getElementById(`ram`).value;
    const disk = document.getElementById(`disk`).value;
    const cpu = document.getElementById(`cpu`).value;
    const allocations = document.getElementById(`allocations`).value;
    const backups = document.getElementById(`backups`).value;
    const databases = document.getElementById(`databases`).value;
    const icon = document.getElementById(`icon`).value;
    const price = document.getElementById(`price`).value;
    const response = await fetch(`/api/billing/products/create`, {
        method: "POST",
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            name: name,
            description: description,
            ram: ram,
            disk: disk,
            cpu: cpu,
            allocations: allocations,
            backups: backups,
            databases: databases,
            icon: icon,
            price: price
        })
    });
    const data = await response.json();
    if (data.success === true) {
        toastr.success("Success");
        const dropdownToggle = document.querySelector('[data-dropdown-toggle="newProduct"]');
        dropdownToggle.click();
        packages();
    }
}
async function del(id) {
    const res = await fetch('/api/billing/products/delete/' + id);
    const data = await res.json();
    if (data.success == true){
        packages();
        toastr.success("Deleted!");
        } else{
            toastr.error("Error deleting product.");
            }
}

                </script>