<%- include('./partials/head') %>

    <body class="bg-zinc-950">
        <div class="antialiased">
            <%- include('./partials/topnav') %>
                <%- include('./partials/sidebar') %>
                <main class="p-4 md:ml-64 h-auto pt-20">
                    <div class="lg:flex lg:justify-between">
                      <div class="w-full">
                        <div class="mb-4 rounded-xl">
                          <ul class="text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-xl shadow sm:flex dark:divide-gray-700 dark:text-gray-400" id="resourceTab" data-tabs-toggle="#userBox" role="tablist">
                            <li class="w-full" role="presentation">
                              <button class="inline-block w-full p-4 bg-white hover:text-gray-700 rounded-l-xl hover:bg-gray-50 dark:hover:text-white dark:bg-zinc-800/40 dark:hover:bg-zinc-800" data-tabs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="false">General</button>
                            </li>
                            <li class="w-full" role="presentation">
                              <button class="inline-block w-full p-4 bg-white hover:text-gray-700 hover:bg-gray-50 dark:hover:text-white dark:bg-zinc-800/40 dark:hover:bg-zinc-800" data-tabs-target="#auth" type="button" role="tab" aria-controls="auth" aria-selected="false">Authentication</button>
                            </li>
                            <li class="w-full" role="presentation">
                              <button class="inline-block w-full p-4 bg-white hover:text-gray-700 hover:bg-gray-50 dark:hover:text-white dark:bg-zinc-800/40 dark:hover:bg-zinc-800" data-tabs-target="#links" type="button" role="tab" aria-controls="links" aria-selected="false">Socials</button>
                            </li>
                            <li class="w-full" role="presentation">
                              <button class="inline-block w-full p-4 bg-white hover:text-gray-700 hover:bg-gray-50 dark:hover:text-white dark:bg-zinc-800/40 dark:hover:bg-zinc-800" data-tabs-target="#landing" type="button" role="tab" aria-controls="landing" aria-selected="false">Landing</button>
                            </li>
                            <li class="w-full" role="presentation">
                              <button class="inline-block w-full p-4 bg-white hover:text-gray-700 hover:bg-gray-50 dark:hover:text-white dark:bg-zinc-800/40 dark:hover:bg-zinc-800" data-tabs-target="#smtp" type="button" role="tab" aria-controls="smtp" aria-selected="false">SMTP</button>
                            </li>
                            <li class="w-full" role="presentation">
                              <button class="inline-block w-full p-4 bg-white hover:text-gray-700 hover:bg-gray-50 rounded-r-xl dark:hover:text-white dark:bg-zinc-800/40 dark:hover:bg-zinc-800" data-tabs-target="#href" type="button" role="tab" aria-controls="href" aria-selected="false">Redirects</button>
                            </li>
                          </ul>
                        </div>
                        <div id="userBox">
                          <div class="hidden rounded-xl mb-4" id="general" role="tabpanel">
                            <div class="flex bg-zinc-900 rounded-lg text-zinc-300 flex-wrap p-4 content-start">
                              <h1 class="text-2xl text-zinc-100">General Settings</h1>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <div class="w-full mt-4 grid grid-cols-2 lg:grid-cols-3 gap-4">
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Application name</label>
                                  <input id="appname" class="w-full bg-zinc-800 outline-none rounded-lg p-2" value="<%= settings.name %>">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Application url</label>
                                  <input class="w-full bg-zinc-800 rounded-lg p-2" value="<%= process.env.APP_URL %>" disabled>
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Application type</label>
                                  <select  class="w-full bg-zinc-800 rounded-lg p-2" disabled>
                                    <option value="prod"><%= process.env.APP_ENV %></option>
                                  </select>
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Application logo</label>
                                  <input id="applogo" class="w-full bg-zinc-800 outline-none rounded-lg p-2" value="<%= settings.logo.url %>">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Application currency</label>
                                  <input class="w-full bg-zinc-800 outline-none rounded-lg p-2" value="<%= cryptomus.currency.default %>">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Rotate logo?</label>
                                  <select id="applogor" class="w-full outline-none bg-zinc-800 rounded-lg p-2">
                                    <option value="true">Yes, please</option>
                                    <option value="false">Hell nah</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="flex bg-zinc-900 text-zinc-300 rounded-lg flex-wrap p-4 content-start mt-4">
                              <h1 class="text-2xl text-zinc-100">SEO Settings</h1>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <div class="w-full mt-4 grid grid-cols-2 lg:grid-cols-3 gap-4">
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Title</label>
                                  <input id="seotitle" class="w-full bg-zinc-800 outline-none rounded-lg p-2" value="<%= settings.seo.title %>">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Image</label>
                                  <input id="seoimg" class="w-full bg-zinc-800 outline-none rounded-lg p-2" value="<%= settings.seo.image %>">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Keywords</label>
                                  <input id="seokey" class="w-full bg-zinc-800 outline-none rounded-lg p-2" value="<%= settings.seo.keywords %>">
                                </div>
                              </div>
                              <div class="flex w-full mt-2">
                                <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                                  <div class="w-full pr-2">
                                    <label class="block text-gray-300">Description</label>
                                    <textarea id="seodes" class="w-full bg-zinc-800 rounded-lg p-2"><%= settings.seo.description %></textarea>
                                    <div class="bg-zinc-800 place-content-center w-full mt-4 rounded-lg text-center p-4 items-center">
                                        <label class="block text-gray-300">Application Logo</label>
                                        <center>
                                            <img id="applogor" class="rounded-lg max-h-[260px]" src="<%= settings.logo.url %>">
                                        </center>
                                      </div>
                                  </div>
                                  <div class="w-full col-span-2 pr-2 mt-6">
                                    <div class="lg:flex gap-4">
                                      <div class="bg-zinc-800 w-full rounded-lg text-center p-4 items-center">
                                        <label class="block text-gray-300">SEO Image</label>
                                        <img id="seoimgr" class="rounded-lg" src="<%= settings.seo.image %>">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="hidden rounded-lg mb-4 gap-4" id="auth" role="tabpanel">
                            <div class="flex bg-zinc-900 text-zinc-300 lg:w-1/2 rounded-lg flex-wrap p-4 content-start">
                              <h1 class="text-2xl text-zinc-100"><i class="fa-brands fa-discord mr-4"></i>Discord Oauth2</h1>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <div class="w-full mt-4 grid grid-cols-1 gap-4">
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Client ID</label>
                                  <input class="w-full bg-zinc-800 rounded-lg p-2" id="dccid" value="<%= settings.authentication.discord.id %>" placeholder="06090609 just tryna be professional tho">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Client Secret</label>
                                  <input class="w-full bg-zinc-800 rounded-lg p-2" id="dccs" value="<%= settings.authentication.discord.secret %>">
                                </div>
                                <div class="w-full pr-2">
                                  <label class="block text-gray-300">Redirect URI (Use this as your Oauth2 app's Redirect URI)</label>
                                  <input class="w-full bg-zinc-800 rounded-lg p-2" value="<%= process.env.APP_URL + settings.authentication.discord.callbackpath %>" disabled>
                                </div>
                                <div class="flex">
                                  <div class="w-full pr-2">
                                    <label class="block text-gray-300">Enable driver (Disabling is not possible)</label>
                                    <div class="items-center py-1.5 flex">
                                      <label class="relative inline-flex items-center cursor-pointer">
                                        <input type="checkbox" class="sr-only peer" disabled checked>
                                        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Enable Discord authentication</span>
                                      </label>
                                    </div>
                                  </div>
                                  <div class="w-full pr-2">
                                    <label class="block text-gray-300">Allow signups</label>
                                    <div class="items-center py-1.5 flex">
                                      <label class="relative inline-flex items-center cursor-pointer" checked disabled>
                                        <input type="checkbox" value="" class="sr-only peer">
                                        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Enable Discord registrations</span>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <div class="flex">
                                  <div class="w-full pr-2">
                                    <label class="block text-gray-300">Cookie Alt Check</label>
                                    <div class="items-center py-1.5 flex">
                                      <label class="relative inline-flex items-center cursor-pointer">
                                        <input type="checkbox" id="cookiealt" class="sr-only peer" <% if (settings.authentication.discord.alt.cookies) { %> checked <% } %>/>
                                        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Block alts by checking cookies.</span>
                                      </label>
                                    </div>
                                  </div>
                                  <div class="w-full pr-2">
                                    <label class="block text-gray-300">IPv6 Alt Check</label>
                                    <div class="items-center py-1.5 flex">
                                      <label class="relative inline-flex items-center cursor-pointer">
                                        <input type="checkbox" id="ipalt" class="sr-only peer" <% if (settings.authentication.discord.alt.ip) { %> checked <% } %>>
                                        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Block alts by checking IPv6.</span>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="hidden rounded-lg mb-4" id="links" role="tabpanel">
                            <div class="flex bg-zinc-900 text-zinc-300 lg:w-1/2 rounded-lg flex-wrap p-4 content-start">
                                <h1 class="text-2xl text-zinc-100">Add social links</h1>
                                <hr class="w-full border-b border-zinc-700 my-2">
                                Unavailable in this theme!
                            </div>
                          </div>
                          <div class="hidden rounded-lg mb-4" id="landing" role="tabpanel">
                            <div class="flex bg-zinc-900 text-zinc-300 rounded-lg flex-wrap p-4 content-start">
                              <h1 class="text-2xl text-zinc-100">Landing pages</h1>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <div class="mt-4 grid grid-cols-1 lg:grid-cols-3 overflow-auto">
                                <div class="w-full text-center">
                                  <img class="rounded-lg border-4 border-blue-500" src="https://media.discordapp.net/attachments/1108054221456146534/1190284354996416532/image.png">
                                  <span class="mt-2 text-lg">Default</span>
                                </div>
                              </div>
                            </div>
                            <div class="flex bg-zinc-900 text-zinc-300 rounded-lg flex-wrap p-4 content-start mt-4">
                              <h1 class="text-2xl text-zinc-100">Default page options</h1>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <p>No settings found for the theme: default</p>
                            </div>
                          </div>
                          <div class="hidden rounded-lg mb-4" id="smtp" role="tabpanel">
                            <div class="bg-zinc-900 rounded-lg text-white mt-4 p-4">
                                <span class="text-2xl">
                                    SMTP has been temporarily removed. Sorry for the inconvenience.
                                </span>
                            </div>
                            <div class="flex bg-zinc-900 text-zinc-300 rounded-lg flex-wrap p-4 content-start mt-4">
                              <h1 class="text-2xl text-zinc-100">Configure SMTP</h1>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <div class="mt-4 w-full grid grid-cols-1 lg:grid-cols-3 gap-12">
                                <div class="w-full">
                                  <label class="mb-2 inline-block w-full cursor-pointer text-sm">SMTP Status</label>
                                  <select class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg">
                                  <option>Disabled</option>
                                  <option>Enabled</option>
                                  </select>
                                </div>
                                <div class="w-full col-span-2">
                                  <label class="mb-2 inline-block w-full cursor-pointer text-sm">Host</label>
                                  <input class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg"
                                  value="HolaClient | Landing">
                                </div>
                                <div class="w-full">
                                  <label class="mb-2 inline-block w-full cursor-pointer text-sm">Username</label>
                                  <input class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg"
                                  value="HolaClient | Landing">
                                </div>
                                <div class="w-full">
                                  <label class="mb-2 inline-block w-full cursor-pointer text-sm">Password</label>
                                  <input class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg"
                                  value="HolaClient | Landing">
                                </div>
                                <div class="w-full">
                                  <label class="mb-2 inline-block w-full cursor-pointer text-sm">Port</label>
                                  <input class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg"
                                  value="HolaClient | Landing">
                                </div>
                              </div>
                              <button class="w-full mt-4 outline-0 text-white bg-zinc-800 hover:bg-zinc-800/40 p-2 text-base rounded-lg">
                                Apply changes
                              </button>
                            </div>
                            <div class="relative flex bg-zinc-900 text-zinc-300 rounded-lg mt-4">
                              <div class="p-4 flex flex-wrap content-start">
                                <h1 class="text-2xl text-zinc-100">Create SMTP server</h1>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <div class="mt-4 w-full grid grid-cols-1 lg:grid-cols-3 gap-12">
                                <div class="w-full">
                                  <label class="mb-2 inline-block w-full cursor-pointer text-sm">Type</label>
                                  <select class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg">
                                  <option>Send & Receive mails</option>
                                  <option>Send mails</option>
                                  <option>Receive mails</option>
                                  </select>
                                </div>
                                <div class="w-full">
                                  <label class="mb-2 inline-block w-full cursor-pointer text-sm">Host</label>
                                  <input class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg"
                                  value="smtp.holaclient.tech">
                                </div>
                                <div class="w-full">
                                  <label class="mb-2 inline-block w-full cursor-pointer text-sm">Encryption</label>
                                  <select class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg">
                                    <option>SSL</option>
                                    <option>null</option>
                                    </select>
                                </div>
                                <div class="w-full">
                                  <label class="mb-2 inline-block w-full cursor-pointer text-sm">Username</label>
                                  <input class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg"
                                  value="test">
                                </div>
                                <div class="w-full">
                                  <label class="mb-2 inline-block w-full cursor-pointer text-sm">Password</label>
                                  <input class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg"
                                  value="test">
                                </div>
                                <div class="w-full">
                                  <label class="mb-2 inline-block w-full cursor-pointer text-sm">Port</label>
                                  <input class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg"
                                  value="25">
                                </div>
                              </div>
                              <button class="w-full mt-4 outline-0 text-white bg-zinc-800 hover:bg-zinc-800/40 p-2 text-base rounded-lg">
                                Initiate creating
                              </button>
                              </div>
                              <div class="absolute text-2xl text-white backdrop-blur-[2px] rounded-lg w-full h-full flex items-center justify-center">
                                This thing will be fixed in the future update.<br>
                                I wasted too much time on this $h!t
                              </div>
                            </div>
                          </div>
                          <div class="hidden rounded-lg mb-4" id="href" role="tabpanel">
                            <div class="flex bg-zinc-900 text-zinc-300 rounded-lg flex-wrap p-4 content-start mt-4">
                              <h1 class="text-2xl text-zinc-100">Page redirects</h1>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <div class="mt-4 w-full">
                                <table class="w-full table-fixed bg-zinc-800 rounded-lg">
                                  <thead class="text-white justify-between border-b border-zinc-700">
                                    <tr>
                                      <th class="p-4 text-left flex-grow md:flex-col">
                                          <div class="cursor-pointer flex items-center">
                                            URL
                                          </div>
                                        </th>
                                      <th class="p-4 text-left">
                                        <div class="cursor-pointer flex items-center">
                                          Redirect
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Actions
                                        </div>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody id="tbody">
                                    
                                  </tbody>
                                </table>
                                <hr class="w-full border-b border-zinc-700 my-2">
                                <div class="flex mt-4 gap-4">
                                  <div class="w-1/5">
                                    <span>Type</span>
                                    <select class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg">
                                    <option>301 - Permanent</option>
                                    <option>302 - Temporary</option>
                                    </select>
                                  </div>
                                  <div class="w-2/5">
                                    <span>URL</span>
                                    <input id="e" class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg"
                                  placeholder="discord">
                                  </div>
                                  <div class="w-2/5">
                                    <span>Redirect</span>
                                    <input id="r" class="w-full outline-0 text-white border-2 border-zinc-800 bg-zinc-800 p-2 text-base rounded-lg"
                                  placeholder="https://discord.gg/CvqRH9TrYK">
                                  </div>
                                </div>
                              </div>
                              <button onclick="red()" class="w-full mt-4 outline-0 text-white bg-zinc-800 hover:bg-zinc-800/40 p-2 text-base rounded-lg">
                                Add redirect | Note: You've to restart the dashboard to active redirect links!
                              </button>
                              <script>
                                async function red() {
                                  const e = document.getElementById("e").value;
                                  const r = document.getElementById("r").value;
                                  const response = await fetch(`/api/core/redirects/add?e=${e}&r=${r}`);
                                  const data = await response.json();
                                  if (data.success == true) {
                                    toastr.success("Success");
                                    upd();
                                  }
                                }

                                async function deleteRedirect(e) {
                                    const response = await fetch(`/api/core/redirects/remove?e=${e}`);
                                    const data = await response.json();
                                     if (data.success == true) {
                                       toastr.success("Success");
                                       upd();
                                     }
                                }
                              
                                async function upd() {
                                  let response = await fetch('/api/core/redirects');
                                  let data = await response.json();
                              
                                    document.getElementById("tbody").innerHTML = data.map(i => `
                                      <tr>
                                        <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                          <a href="">
                                            <div class="text-zinc-300 text-lg">/${i.endpoint}</div>
                                          </a>
                                        </td>
                                        <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                          <a href="">
                                            <div class="text-zinc-300 text-lg">${i.redirect}</div>
                                          </a>
                                        </td>
                                        <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                          <div class="flex items-center text-zinc-300 gap-2">
                                            <a onclick="deleteRedirect('${i.endpoint}')" class="bg-zinc-800 cursor-pointer rounded-lg p-2">
                                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                              </svg>
                                            </a>
                                          </div>
                                        </td>
                                      </tr>
                                    `).join('');
                                  }
                                  upd()
                              </script>
                              
                            </div>
                          </div>
                          <div class="hidden rounded-lg mb-4" id="posts" role="tabpanel">
                            <div class="flex bg-zinc-900 rounded-lg flex-wrap p-4 content-start mt-4">
                              <div class="flex flex-wrap items-center justify-between gap-4 px-4 pb-4">
                                <div class="flex flex-wrap items-center gap-4">
                                  <div class="flex items-center text-2xl">Community Posts</div>
                                </div>
                                <div class="flex flex-wrap items-center gap-4">
                                  <div class="inline-flex">
                                    <a aria-controls="dropdown-links" data-collapse-toggle="dropdown-links" class="bg-zinc-800 rounded-lg p-2 cursor-pointer hover:bg-zinc-700">
                                      &plus; Create
                                    </a>
                                  </div>
                                </div>
                              </div>
                              <hr class="w-full border-b border-zinc-700 my-2">
                              <div class="mt-4 w-full">
                                <table class="w-full table-fixed bg-zinc-800 rounded-lg">
                                  <thead class="text-white border-b border-zinc-700">
                                    <tr>
                                      <th class="p-4 text-left flex-grow md:flex-col">
                                          <div class="cursor-pointer flex items-center">
                                            URL
                                          </div>
                                        </th>
                                      <th class="p-4 text-left">
                                        <div class="cursor-pointer flex items-center">
                                          Redirect
                                        </div>
                                      </th>
                                      <th class="p-4 text-right">
                                        <div class="flex items-center">
                                          Actions
                                        </div>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a href="">
                                          <div class="text-zinc-300 text-lg">/discord</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <a href="">
                                          <div class="text-zinc-300 text-sm">https://discord.gg/CvqRH9TrYK</div>
                                        </a>
                                      </td>
                                      <td class="p-4 transition-all duration-300 ease-in-out text-left">
                                        <div class="flex items-center text-zinc-300 gap-2">
                                          <a href="" class="bg-zinc-800 rounded-lg p-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg>
                                          </a>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </main>
                  <div id="savealert" class="opacity-0 fixed backdrop-blur-[100px] bg-zinc-900/50 md:max-w-sm flex items-center justify-between lg:max-w-screen-md rounded-2xl inset-x-6 bottom-6 z-40 mx-auto">
                    <a class="text-white text-md pl-4">
                        Careful - You've unsaved changes.
                    </a>
                    <a onclick="submit()" class="cursor-pointer flex gap-3 w-max my-2 mr-2 rounded-2xl border border-yellow-900/30 p-3 bg-gradient-to-br from-purple-500 to-sky-500">
                        <span class="text-sm font-semibold tracking-wide text-white">Save Changes</span>
                    </a>
                </div>
                <script>
                    const es = ["appname", "applogo", "seotitle", "seoimg", "seodes", "seokey", "dccid", "dccs", "ipalt", "cookiealt"];
                    const originalValues = {};
                
                    function ge(e) {
                        return document.getElementById(e);
                    }
                
                    document.addEventListener("DOMContentLoaded", function () {
                        for (const e of es) {
                            const element = ge(e);
                
                            originalValues[e] = element.value;
                
                            element.addEventListener("input", function () {
                                ge("savealert").style.transition = "opacity 0.5s";
                                ge("savealert").style.opacity = "100";
                                if (element.value === originalValues[e]) {
                                    ge("savealert").style.transition = "opacity 0.5s";
                                ge("savealert").style.opacity = "0";
                                }
                            });
                        }
                    });
                
                    async function submit() {
                        try {
                            let body = {
                                appname: ge("appname").value,
                                applogo: ge("applogo").value,
                                logorotate: ge("applogor").value,
                                seotitle: ge("seotitle").value,
                                seoimg: ge("seoimg").value,
                                seodes: ge("seodes").value,
                                seokey: ge("seokey").value,
                                dccid: ge("dccid").value,
                                dccs: ge("dccs").value,
                                ipalt: ge("ipalt").value,
                                cookiealt: ge("cookiealt").value,
                            };
                
                            let response = await fetch('/api/admin/settings/update', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(body),
                            });
                
                            let data = await response.json();
                
                            if (response.ok && data.success) {
                                ge("savealert").style.transition = "opacity 0.5s";
                                ge("savealert").style.opacity = "0";
                                document.getElementById("seoimgr").src = "<%= settings.seo.image %>"
                                document.getElementById("applogor").src = "<%= settings.logo.url %>"
                            } else {
                                console.error('Request failed:', data.message);
                            }
                        } catch (error) {
                            console.error('Error during request:', error);
                        }
                    }
                </script>
                           
                  <script>
                    const socials = document.getElementById('socialSelect')
                    const icon = document.getElementById('icon')
                    socials.addEventListener("change", async function() {
                      icon.classList.remove(`fa-facebook`)
                      icon.classList.remove(`fa-twitter`)
                      icon.classList.remove(`fa-instagram`)
                      icon.classList.remove(`fa-linkedin`)
                      icon.classList.remove(`fa-discord`)
                      icon.classList.remove(`fa-paypal`)
                      icon.classList.remove(`fa-github`)
                      icon.classList.remove(`fa-youtube`)
                      icon.classList.add(`fa-${socials.value}`)
                    })
                  </script>