<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
                <div class="flex justify-between items-center">
                    <div class="flex space-x-4 items-center">
                        <div
                            class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path d="M5.25 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM2.25 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM18.75 7.5a.75.75 0 0 0-1.5 0v2.25H15a.75.75 0 0 0 0 1.5h2.25v2.25a.75.75 0 0 0 1.5 0v-2.25H21a.75.75 0 0 0 0-1.5h-2.25V7.5Z" />
                              </svg>                                  
                        </div>
                        <div class="flex flex-col justify-between w-full">
                            <h1 class="text-gray-200 font-semibold text-xl"><%= lang.admin.users.create %></h1>
                            <span class="text-gray-300 text-md"><%= lang.admin.users.createText %></span>
                        </div>
                    </div>
                </div>
                <div class="w-full mt-4 grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div class="relative rounded-xl bg-zinc-900/50">
                        <div class="w-full rounded-xl h-40 bg-cover bg-no-repeat bg-center" style="background-image: url('https://r4.wallpaperflare.com/wallpaper/355/994/562/car-lamborghini-aventador-supercars-vehicle-wallpaper-f9e0185d11daed8bb6b7683fc02176cd.jpg');"></div>
                    <div class="absolute rounded-full w-24 md:w-28 -mt-10 lg:-mt-16 ml-2 md:ml-4 p-1 bg-zinc-950">
                        <img src="https://cdn.discordapp.com/avatars/863452735998656512/a_2990babbb1ca4fe3242456e5720990a6" class="rounded-full">
                    </div>
                    <div class="flex justify-between items-center mt-4 pl-32 md:pl-40 pr-0.5 w-full">
                        <div class=""></div>
                        <div class="flex pr-4">
                            <div class="rounded-xl py-0.5 px-2 bg-emerald-800/50 border border-emerald-800 text-emerald-400">
                                Member
                            </div>
                        </div>
                    </div>
                    <div class="mt-6 bg-zinc-950 m-3 rounded-xl p-3">
                        <div class="flex flex-col">
                            <input value="Nickname" class="bg-transparent text-gray-200 text-xl md:text-2xl font-semibold w-full outline-none">
                            <input value="username" class="bg-transparent text-gray-200 text-sm md:text-md w-full outline-none">
                        </div>
                        <div class="w-full rounded-full h-0.5 my-2 bg-zinc-800/80"></div>
                        <div class="flex flex-col">
                            <h1 class="text-gray-300 text-sm font-bold uppercase">ABOUT ME</h1>
                            <textarea class="rounded-xl text-sm text-gray-200 pt-1 outline-none bg-transparent" name="" id="" rows="5"></textarea>
                        </div>
                    </div>
                    </div>
                    <div class="relative rounded-xl bg-zinc-900/50 md:col-span-2 p-4">
                        <div class="flex flex-col">
                            <h1 class="text-gray-300"><%= lang.admin.users.email %>:</h1>
                            <input type="text" placeholder="user@email.com" class="p-2 bg-zinc-950 outline-none border border-zinc-800/80 rounded-xl w-full text-gray-300">
                        </div>
                        <div class="flex w-full gap-4 mt-4">
                            <div class="flex flex-col w-1/2">
                                <h1 class="text-gray-300"><%= lang.admin.users.firstName %>:</h1>
                                <input type="text" placeholder="John" class="p-2 bg-zinc-950 outline-none border border-zinc-800/80 rounded-xl w-full text-gray-300">
                            </div>
                            <div class="flex flex-col w-1/2">
                                <h1 class="text-gray-300"><%= lang.admin.users.lastName %>:</h1>
                                <input type="text" placeholder="Doe" class="p-2 bg-zinc-950 outline-none border border-zinc-800/80 rounded-xl w-full text-gray-300">
                            </div>
                        </div>
                        <div class="flex w-full gap-4 mt-4">
                            <div class="flex flex-col w-1/2">
                                <h1 class="text-gray-300"><%= lang.admin.users.role %>:</h1>
                                <select class="p-2 appearance-none bg-zinc-950 outline-none border border-zinc-800/80 rounded-xl w-full text-gray-300">
                                    <option value="">Member</option>
                                </select>
                            </div>
                            <div class="flex flex-col w-1/2">
                                <h1 class="text-gray-300"><%= lang.admin.users.permissionLevel %>:</h1>
                                <input type="text" value="1" class="p-2 bg-zinc-950 outline-none border border-zinc-800/80 rounded-xl w-full text-gray-300">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 flex justify-between items-center px-4 rounded-xl p-2 bg-zinc-900/50 w-full">
                    <span class="text-gray-300"><%= lang.admin.users.looksGood %></span>
                    <button onclick="" class="rounded-full flex items-center hover:duration-300 duration-300 hover:bg-emerald-800/50 bg-emerald-900/50 border border-emerald-800/80 text-emerald-300 px-5 py-2">
                        <%= lang.admin.users.create %>
                    </button>
                </div>
            </div>
        </main>
            <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>