<head>
    <%- include('./parts/header') %>
      <!-- Vector CSS -->
      <link href="../../../assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
      <!-- simplebar CSS-->
      <link href="../../../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
      <!-- Bootstrap core CSS-->
      <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
      <!-- animate CSS-->
      <link href="../../../assets/css/animate.css" rel="stylesheet" type="text/css"/>
      <!-- Icons CSS-->
      <link href="../../../assets/css/icons.css" rel="stylesheet" type="text/css"/>
      <!-- Sidebar CSS-->
      <link href="../../../assets/css/sidebar-menu.css" rel="stylesheet"/>
      <!-- Custom Style-->
      <link href="../../../assets/css/app-style.css" rel="stylesheet"/>
  </head>
  <style>
    body {
      background-image: url('<%= settings.background %>');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      font-family: poppins;
    }
    </style>
      <body>
        <!-- Start wrapper-->
   <div id="wrapper">
    <%- include('./parts/menu') %>
    <%- include('./parts/topnav') %>
    <div class="clearfix"></div>
      
    <div class="content-wrapper">
      <div class="container-fluid">
        <!---- ALERTS ----->
      <%- include('./parts/alert') %>
      <br>
              <% if (req.query.err == "MISSINGID") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>Please fill in the correct Discord user ID</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } else if (req.query.err == "CREATECOUPONINVALIDCHARACTERS") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>Invalid characters has been found in your coupon code, please change it!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } else if (req.query.err == "REVOKECOUPONCANNOTFINDCODE") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>Couldn't find that coupon in our database!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } else if (req.query.err == "MISSINGVARIABLES") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_success">
                  <strong>No value has been given, coupon creation failed!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } %>
              <% if (req.query.err == "CREATECOUPONEMPTY") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> <strong>Please specify at least one field to create a coupon with!</strong> </div>
                  </div>
                  </div>
              <% } else if (req.query.err === "CREATECOUPONLESSTHANONE") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>We don't support coupon creation with resources less than 1!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } if (req.query.err === 'INVALIDID') { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>Make sure this user is signedup on this Dashboard or check if the ID belongs to a valid person!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } if (req.query.err === 'none') { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_success">
                  <strong>Successful!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } if (req.query.err == "RAMSIZE" || req.query.err == "DISKSIZE" || req.query.err == "CPUSIZE" || req.query.err == "SERVERSIZE") { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>We don't support coupon creation with resources less than 1!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
              <% } if (req.query.code) { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_success">
                  <strong>Successfully created the coupon "<%= req.query.code %>"</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
               <% } if (req.query.err === 'NOIP') { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_error">
                  <strong>User IP not stored in database!</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
               <% } if (req.query.err === 'REMOVEACCOUNT') { %>
                  <div style="border-radius: 15px; text-align: center;" class="alert alert_success">
                  <strong>User has been successfully deleted from the database.</strong>
                  <button aria-hidden="true" class="close" type="button">&times;</button>
                  </div>
          <% } %>
          <div class="row mt-3">
            <div class="col-lg-6">
               <div class="card">
                 <div class="card-body">
                 <div class="card-title">Create Coupons</div>
                 <hr>
                 <form action="/create_coupon">
                  <div class="form-group">
                   <label for="input-6">Code:</label>
                   <input type="text" name="code" class="form-control form-control-rounded" placeholder="Coupon Code">
                  </div>
                  <div class="form-group">
                   <label for="input-7">Coins:</label>
                   <input type="number" name="coins" class="form-control form-control-rounded" placeholder="Coupon Coins">
                  </div>
                  <div class="form-group">
                    <label for="input-6">RAM:</label>
                    <input type="number" name="ram" class="form-control form-control-rounded" placeholder="1024">
                   </div>
                   <div class="form-group">
                    <label for="input-7">DISK:</label>
                    <input type="number" name="disk" class="form-control form-control-rounded" placeholder="1024">
                   </div>
                   <div class="form-group">
                    <label for="input-6">CPU:</label>
                    <input type="number" name="cpu" class="form-control form-control-rounded" placeholder="100">
                   </div>
                   <div class="form-group">
                    <label for="input-7">SLOTS:</label>
                    <input type="number" name="servers" class="form-control form-control-rounded" placeholder="Coupon Slots">
                   </div>
                  <div class="form-group">
                   <button role="button" class="btn btn-light btn-round px-5"><i class="bi bi-credit-card-2-back-fill"></i> Create</button>
                 </div>
                 </form>
               </div>
               </div>
            </div>
      
            <div class="col-lg-6">
              <div class="card">
                 <div class="card-body">
                 <div class="card-title">Revoke Coupons</div>
                 <hr>
                 <form action="/revoke_coupon">
                  <div class="form-group">
                   <label for="input-6">Code:</label>
                   <input type="text" name="code" class="form-control form-control-rounded" placeholder="Coupon Code to revoke">
                  </div>
                  <div class="form-group">
                    <p>Note: The codes will automatically revoked after a use, vote on our Discord server to get option to add more uses!</p>
                   </div>
                  <div class="form-group">
                   <button role="button" class="btn btn-light btn-round px-5"><i class="bi bi-credit-card-2-back-fill"></i> Revoke</button>
                 </div>
                 </form>
               </div>
               </div>
  
            <!-- Include Bootstrap 5 JS -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
              <!-- Include Bootstrap 5 CSS -->
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">
            </div>
            </body>
            </html>
            
  
      
    </body>
    <script>
      async function submitPlan() {
          let id = encodeURIComponent(document.getElementById("IDPlan").value);
          let packagename = encodeURIComponent(document.getElementById("package").value);
          window.location.href = "/setplan?id=" + id + "&package=" + packagename
      }
      async function submitSet() {
          let id = encodeURIComponent(document.getElementById("IDSet").value);
          let cpu = encodeURIComponent(document.getElementById("SetCPU").value);
          let ram = encodeURIComponent(document.getElementById("SetRAM").value);
          let disk = encodeURIComponent(document.getElementById("SetDisk").value);
          let servers = encodeURIComponent(document.getElementById("SetServers").value);
          window.location.href = "/setresources?id=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers
      }
      async function submitAdd() {
          let id = encodeURIComponent(document.getElementById("IDAdd").value);
          let cpu = encodeURIComponent(document.getElementById("AddCPU").value);
          let ram = encodeURIComponent(document.getElementById("AddRAM").value);
          let disk = encodeURIComponent(document.getElementById("AddDisk").value);
          let servers = encodeURIComponent(document.getElementById("AddServers").value);
          
          window.location.href = "/addresources?id=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers
      }
      async function submitRemove() {
          let id = encodeURIComponent(document.getElementById("IDRemove").value);
          let cpu = encodeURIComponent(document.getElementById("RemoveCPU").value);
          let ram = encodeURIComponent(document.getElementById("RemoveRAM").value);
          let disk = encodeURIComponent(document.getElementById("RemoveDisk").value);
          let servers = encodeURIComponent(document.getElementById("RemoveServers").value);
          window.location.href = "/removeresources?id=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers
      }
    </script>
        <!--start overlay-->
      <div class="overlay toggle-menu"></div>
          <!--end overlay-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
      <!-- Bootstrap core JavaScript-->
      <script src="../../../assets/js/jquery.min.js"></script>
      <script src="../../../assets/js/popper.min.js"></script>
      <script src="../../../assets/js/bootstrap.min.js"></script>
      
     <!-- simplebar js -->
      <script src="../../../assets/plugins/simplebar/js/simplebar.js"></script>
      <!-- sidebar-menu js -->
      <script src="../../../assets/js/sidebar-menu.js"></script>
      <!-- loader scripts -->
      <script src="../../../assets/js/jquery.loading-indicator.js"></script>
      <!-- Custom scripts -->
      <script src="../../../assets/js/app-script.js"></script>
      <!-- Chart js -->
      
      <script src="../../../assets/plugins/Chart.js/Chart.min.js"></script>
     
      <!-- Index js -->
      <script src="../../../assets/js/index.js"></script>
      <footer>
        <br>
        <br><br>
        <br><br>
        <%- include('./parts/footer') %>
      </footer>