<%- include('./parts/head') %>
    <!-- Vector CSS -->
    <link href="../../../assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
    <!-- simplebar CSS-->
    <link href="../../../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- animate CSS-->
    <link href="../../../assets/css/animate.css" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link href="../../../assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link href="../../../assets/css/sidebar-menu.css" rel="stylesheet"/>
    <!-- Custom Style-->
    <link href="../../../assets/css/app-style.css" rel="stylesheet"/>
   <body style="background-color: #1b1c1dc5;" background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;>
    <%- include('./parts/sidebar') %>
    <%- include('./parts/topnav') %>
    <br>
    <div class="clearfix"></div>
	
    <div class="content-wrapper">
      <div class="container-fluid">
    <center>
    <div style="font-size: large; width: 90%; align-self: center; background-color: transparent; border-radius: 15px; border-color: aquamarine; border-width: 10px;">
        <h2 style="color: white;"><%= settings.name %>'s Terms Of Service</h2>
        <br>
        <p style="justify-content: center; color:white; align-self: center;">
            Terms of Service Agreement

This Terms of Service Agreement is entered into between <%= settings.name %> and the user accessing and using the Company's website or services. By accessing or using the Services, User agrees to be bound by the terms and conditions set forth in this Agreement.<br>
<br>
Will be better if you create your TOS on your own
        </p>
    </div>
</center>
<hr>
<center>
    <div style="font-size: large; width: 90%; align-self: center; background-color: transparent; border-radius: 15px; border-color: aquamarine; border-width: 10px;">
        <h2 style="color: white;">Hola Client's Terms Of Service</h2>
        <br>
            <h3 style="justify-content: center; color:white; align-self: center;">Terms of Service Agreement for MIT Licensed Software</h3><br>
            <p style="justify-content: center; color:white; align-self: center;">
This Terms of Service Agreement is entered into between Hola LLC and the host accessing and using the software Hola Client licensed under the MIT License.
By accessing or using the Software, User agrees to be bound by the terms and conditions set forth in this Agreement.<br><br>
<ul style="color: white;" type="square">
<li>License Grant. The Company hereby grants User a non-exclusive, non-transferable, revocable license to use, modify, and distribute the Software in accordance with the terms and conditions of the License.</li><br>
<li>Permitted Use. User may use the Software for any lawful purpose, including but not limited to developing, testing, and deploying applications. User may also modify the Software to suit their needs, subject to the terms of the License.</li><br>

<li>No Warranty. THE SOFTWARE IS PROVIDED "AS IS" AND "AS AVAILABLE," WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED. THE COMPANY DISCLAIMS ALL WARRANTIES, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, AND ACCURACY. THE COMPANY DOES NOT WARRANT THAT THE SOFTWARE WILL BE UNINTERRUPTED, ERROR-FREE, OR SECURE, OR THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED.</li><br>

<li>Termination. This Agreement shall remain in effect until terminated by either party. The Company may terminate this Agreement and the License at any time for any reason, without notice. Upon termination, User's right to use the Software shall cease, and User shall immediately cease all use, distribution, and modification of the Software.</li><br>

<li>Governing Law. This Agreement shall be governed by and construed in accordance with the laws of [Jurisdiction]. Any dispute arising out of or related to this Agreement or the Software shall be resolved exclusively by the courts of Jurisdiction.</li><br>

<li>Entire Agreement. This Agreement constitutes the entire understanding between the parties with respect to the subject matter hereof and supersedes all prior or contemporaneous understandings, whether written or oral. This Agreement may not be modified, amended, or waived, except in writing signed by both parties.</li><br>

<li>Severability. If any provision of this Agreement is found to be unenforceable or invalid, such provision shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise remain in full force and effect.</li><br>
<br><br>
By accessing or using the Software, User acknowledges that they have read, understood, and agreed to the terms and conditions of this Agreement and the License.
</ul>        
</p>
    </div>
</center>
  	<!--start overlay-->
      <div class="overlay toggle-menu"></div>
      <!--end overlay-->
<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->
  <!-- Bootstrap core JavaScript-->
  <script src="../../../assets/js/jquery.min.js"></script>
  <script src="../../../assets/js/popper.min.js"></script>
  <script src="../../../assets/js/bootstrap.min.js"></script>
  
 <!-- simplebar js -->
  <script src="../../../assets/plugins/simplebar/js/simplebar.js"></script>
  <!-- sidebar-menu js -->
  <script src="../../../assets/js/sidebar-menu.js"></script>
  <!-- Custom scripts -->
  <script src="../../../assets/js/app-script.js"></script>