<head>
    <title>CitricNode</title>
    <link rel="stylesheet" href="../assets/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: 0.5s;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        width: 30%;
        border-radius: 16px;
        margin-top: 12%;
        transition: 0.5s
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s
    }
</style>

<body class="bg-gray-100" style="font-family: 'Inter', sans-serif;">
    <% if (req.query.loggedin) { %>
    <div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
        <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
          <p class="text-sm ml-24 leading-6 text-gray-900">
            Welcome back! You've logged in as <strong class="font-semibold"><%= userinfo.username %>#<%= req.session.userinfo.discriminator %></strong>.
          </p>
        </div>
        <div class="flex flex-1 justify-end">
          <a href="../dashboard" type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
            <span class="sr-only">Dismiss</span>
            <svg class="h-5 w-5 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
            </svg>
          </a>
        </div>
      </div>
    <% } %>
<div>
<!-- The Modal -->
<% if (req.query.news) { %>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <h2 class="text-gray-900 text-xl font-bold mb-4">
            <span class="inline-block whitespace-nowrap rounded-[0.27rem] bg-rose-500 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-sm font-bold leading-none text-white">20/04/2023</span> <span class="inline-block whitespace-nowrap rounded-[0.27rem] bg-gray-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-sm leading-none text-rose-700">News</span>
        </h2>
        <h2 class="text-gray-900 text-xl font-bold mb-2">
            We've released CitricNode!
        </h2>
        <p class="text-gray-600 font-medium">What's available in the first release?</p>
        <ul class="list-disc ml-5 text-gray-500 mb-8">
            <li>Create, edit & delete servers</li>
            <li>Earn & spend lemons to buy resources</li>
            <li>Purchase & manage KVM VMs</li>
            <li>Reset credentials & manage account</li>
        </ul>
        <div class="mt-1 grid grid-cols-2 gap-3">
            <div>
                <% if (req.query.loggedin) { %>
                <a href="../dashboard?loggedin=true"
                    class="close w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 cursor-default">
                    Dismiss
                </a>
                <% } else { %>
                <a href="../dashboard"
                    class="close w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 cursor-default">
                    Dismiss
                </a>
                <% } %>
            </div>

        </div>
    </div>
</div>
<% } %>
    <%- include('components/navigation') %>
    <div class="md:pl-48 flex flex-col flex-1">
    <main class="flex-1">
      <div class="py-6">
        <div class="max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8">
            <!-- Replace with your content -->
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="bg-pylex-700 px-4 py-5 border-b border-pylex-600 rounded-t sm:px-6">
              <div class="sm:flex sm:items-start sm:justify-between">
                    <div>
                <h3 class="text-lg leading-6 font-medium text-black">Edit server</h3>
                <p class="mt-1 text-sm text-darker">Increase your server's resources.</p>
                    </div>
                    <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
                      </div>
                  </div>
              </div>
              <div class="bg-gray-100 rounded-lg text-darker text-sm">
                <%
                    let ram = 0;
                    let disk = 0;
                    let cpu = 0;
                    let servers = pterodactyl.relationships.servers.data.length;
                    for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
                        ram = ram + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
                        disk = disk + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
                        cpu = cpu + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0);
                    }
                %>
                                            <% if (req.query.id) { %>
                                                <% if (pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id).length == 1) {
                                                    let serverinfo = pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id)[0];
                                                    let attemptegg = null;
                                                    let attemptname = null;
                                                    for (let [name, value] of Object.entries(settings.api.client.eggs)) {
                                                        if (settings.api.client.eggs[name].info.egg == serverinfo.attributes.egg) {
                                                            attemptegg = settings.api.client.eggs[name];
                                                            attemptname = name;
                                                        };
                                                    };
                                                    let egginfo = attemptegg ? attemptegg.display : "???";
                                                %>
        <div class="rounded-md bg-sky-800 p-4 mb-8">
          <div class="flex">
            <div class="flex-shrink-0">
             
            
          </div>
        </div>
                    <div class="grid grid-cols-3 gap-6">
                      <div class="col-span-3 sm:col-span-2">
                        <label for="company-website" class="block text-sm font-medium text-black">Memory (GB)</label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                          <input type="text" name="company-website" id="ram" class="transition ease-in-out delay-100 block w-full flex-1 text-darker rounded-md bg-white border-white focus:border-rose-400 focus:ring-rose-400 sm:text-sm" value="<%= serverinfo.attributes.limits.memory/1024 %>">
                        </div>
                      </div>
                    </div><br>
        
                    <div class="grid grid-cols-3 gap-6">
                      <div class="col-span-3 sm:col-span-2">
                        <label for="company-website" class="block text-sm font-medium text-black">CPU (Cores)</label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                          <input type="text" name="company-website" id="cpu" class="transition ease-in-out delay-100 block w-full flex-1 text-darker rounded-md bg-white border-white focus:border-rose-400 focus:ring-rose-400 sm:text-sm" value="<%= serverinfo.attributes.limits.cpu/100 %>">
                        </div>
                      </div>
                    </div><br>
        
                    <div class="grid grid-cols-3 gap-6">
                      <div class="col-span-3 sm:col-span-2">
                        <label for="company-website" class="block text-sm font-medium text-black">Storage (GB)</label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                          <input type="text" name="company-website" id="disk" class="transition ease-in-out delay-100 block w-full flex-1 text-darker rounded-md bg-white border-white focus:border-rose-400 focus:ring-rose-400 sm:text-sm" value="<%= serverinfo.attributes.limits.disk/1024 %>">
                        </div>
                      </div>
                    </div><br><br>
                <button onclick="submitForm()" class="transition ease-in-out delay-100 group relative flex w-auto justify-center rounded-md border border-transparent bg-rose-400 py-2 px-4 text-sm font-medium text-white hover:bg-rose-500 focus:outline-none">
                  Apply Changes
                </button>
                                                    </div>
                                                    <script>
                                                        async function submitForm() {
                                                            let ram = encodeURIComponent(document.getElementById("ram").value);
                                                            let disk = encodeURIComponent(document.getElementById("disk").value);
                                                            let cpu = encodeURIComponent(document.getElementById("cpu").value);
                                                            document.location.href = `/modify?id=<%= req.query.id %>&ram=${ram*1024}&disk=${disk*1024}&cpu=${cpu*100}`;
                                                        };
                                                    </script>
                                                <% } else { %>
                                                    <p class="text-daker">Could not find server with the provided ID.</p>
                                                <% } %>
                                            <% } else { %>
                                                <p class="text-darker">Missing server ID.</p>
                                            <% } %>
        </div>
    

  
            <!-- /End replace -->
          </div>
        </div>
      </main>
    </div>
  </div>
</body>